In [1]:
import os 
import math
import random
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm
from numpy import count_nonzero
dir_ = '../../../data/'
group_dir_ = os.path.join(dir_, 'groups/low')

In [2]:
file_name = 'normalized_to_rating_filter_track_5_user_100.csv'
all_user = pd.read_pickle(os.path.join(dir_, file_name[:-3] + 'pkl'))
df = pd.read_pickle(os.path.join(dir_, file_name[:-3] + 'pkl'))
svd = pd.read_pickle(os.path.join(dir_, 'prediction_svd_top_N_' + file_name[:-3] + 'pkl'))
test = pd.read_pickle(os.path.join(dir_, 'test_' + file_name[:-3] + 'pkl'))
test.sort_values(by=['uid','tid'])

file_name = 'normalized_popularity_filter_track_5_user_100.pkl'
pop_count = pd.read_pickle(os.path.join(dir_, file_name))

num_user = len(svd['uid'].unique())
num_user

953

In [3]:
groups_n =[]
group_sizes = ['2', '3', '4', '5', '6', '7', '8']
for i in range(len(group_sizes)):
    groups = np.loadtxt(os.path.join(group_dir_, group_sizes[i] + '.csv'), delimiter=',')
    groups_n.append(groups)

In [4]:
pop_dict = {}
for i in all_user['tid'].unique():
    pop_dict[i] = len(all_user[all_user['tid']==i])/num_user

In [5]:
svd['count'] = 1
svd[:5]

   uid  tid    rating  count
0    0    9  2.243909      1
1    0   15  2.160610      1
2    0   22  2.145235      1
3    0   28  2.204445      1
4    0   33  2.166677      1

In [6]:
pop_count = pop_count.sort_values(by=['count'],  ascending=False)
pop_count[:10]

         tid  count   rating
70        70  17557  2980.75
1102    1102   6926  1484.25
83        83   6571  1796.75
13496  13496   6299  1669.75
952      952   6234  1527.50
2519    2519   6001  1772.25
4008    4008   5676  1008.25
5521    5521   5658  1727.25
3900    3900   5627  1475.50
2241    2241   5571  1183.75

In [7]:
# min_max
max_rating = pop_count.iloc[0]['count']
pop_normalized = pop_count.copy()
pop_normalized = pop_normalized[['tid', 'count']]
pop_normalized['rating'] = pop_normalized['count']
pop_normalized['rating'] /= max_rating
pop_normalized['rating'] *= 5
pop_normalized[:10]

         tid  count    rating
70        70  17557  5.000000
1102    1102   6926  1.972433
83        83   6571  1.871333
13496  13496   6299  1.793871
952      952   6234  1.775360
2519    2519   6001  1.709005
4008    4008   5676  1.616449
5521    5521   5658  1.611323
3900    3900   5627  1.602495
2241    2241   5571  1.586547

In [8]:
lambdas = []
for i in range(11):
    lambdas.append(i/10)
lambdas

[0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]

In [9]:
NOVs = []
COVs = []
HitNOVs = []
HitCOVs = []
for lambda_ in tqdm(lambdas):
    top_n_size = 50
    top_n_lists_g = []
    top_n_items_g = []
    for groups in groups_n:

        group_size = len(groups[0])
        top_n_lists = []
        top_n_items = pd.DataFrame()

        for group in groups:
            rating_table = pd.DataFrame() 
            for member in group:
                prediction = svd[svd['uid'] == member].copy()
                if len(rating_table) == 0:
                    rating_table = prediction
                else:
                    rating_table = rating_table.set_index('tid').add(prediction.set_index('tid'), fill_value=0).reset_index()
            rating_table['rating'] /= group_size 
            rating_table['rating'] *= lambda_
            pop = pop_normalized.copy()
            pop['rating'] *= (1 - lambda_)
            rating_table = rating_table.set_index('tid').add(pop.set_index('tid'), fill_value=0).reset_index()
    #         rating_table = rating_table[rating_table['count'] == group_size]
            rating_table = rating_table.sort_values(by=['rating'],  ascending=False)
            rating_table = rating_table[:top_n_size]
            
            top_n_list = []
            for _, row in rating_table.iterrows():
                top_n_list.append(row[0])
            top_n_lists.append(top_n_list)
            
            if len(top_n_items) == 0:
                top_n_items = rating_table
            else:
                top_n_items = top_n_items.set_index('tid').add(rating_table.set_index('tid'), fill_value=0).reset_index()
                
        top_n_lists_g.append(top_n_lists)   
        top_n_items_g.append(top_n_items)
        
    COV = []    
    NOV = []
    HitNOV = []
    HitCOV = []
    for i in range(len(groups_n)):
        groups = groups_n[i]
        top_n_lists = top_n_lists_g[i]
        top_n_items = top_n_items_g[i]

        nov = 0
        hitNov = 0
        hits = np.zeros(len(df['tid'].unique()), dtype=bool)
        for j in (range(len(groups))):
            group = groups[j]
            top_n_list = top_n_lists[j]
            
            for k in range(len(group)):
                for l in range(top_n_size):
                    uid = group[k]
                    tid = top_n_list[l]
                    t = test[test['uid'] == uid]
                    t = t[t['tid'] == tid]
                    nov += (1-pop_dict[tid])
                    if len(t) > 0:
                        hits[int(tid)] = True
                        hitNov += (1-pop_dict[tid])
        NOV.append(nov/top_n_size/(len(groups)*len(groups[0])))
        COV.append(len(top_n_items)/len(df['tid'].unique()))
        HitNOV.append(hitNov/top_n_size/(len(groups)*len(groups[0])))
        HitCOV.append(list(hits).count(True)/len(df['tid'].unique()))
    NOVs.append(NOV)
    COVs.append(COV)
    HitNOVs.append(HitNOV)
    HitCOVs.append(HitCOV)
    
for NOV in NOVs:
    print(NOV)
print()
for HitNOV in HitNOVs:
    print(HitNOV)
print()  
for COV in COVs:
    print(COV)
print()    
for HitCOV in HitCOVs:
    print(HitCOV)

HBox(children=(FloatProgress(value=0.0, max=11.0), HTML(value='')))

[0.5490661070304448, 0.5490661070304521, 0.5490661070304613, 0.5490661070304699, 0.5490661070304743, 0.5490661070304718, 0.5490661070304668]
[0.5576191818808263, 0.5545695486613085, 0.5526852803409995, 0.5517962415339455, 0.5514725428471876, 0.550858019210625, 0.5510340859087063]
[0.5714065801827322, 0.5690604314742608, 0.5649750651767267, 0.5609068650831831, 0.5588182056663574, 0.5566572497108017, 0.5572419862573529]
[0.5889132147207086, 0.5795847604717356, 0.5774766607890587, 0.5744510159305819, 0.5700590241343518, 0.5678381359808806, 0.5669112818603707]
[0.5974721029668906, 0.5968827997650736, 0.5881277787994619, 0.5834589335114249, 0.5815547394194122, 0.5791589313100706, 0.5760572724503606]
[0.614338333822633, 0.6057387792274844, 0.6081331876548507, 0.6004651976215669, 0.5940709164043644, 0.5930454435386582, 0.5896327387198613]
[0.6192038554440995, 0.623461561305917, 0.6190936921928819, 0.6180132913606399, 0.6173469744666199, 0.6150961874781773, 0.6070317841790193]
[0.6211202413721885, 0.6323519900743788, 0.637985742257231, 0.6305818944958717, 0.6284924798880949, 0.6309112922754452, 0.6321213146938687]
[0.6242065150726708, 0.6363225035802151, 0.6452082950206056, 0.6495271709752372, 0.6508884225253717, 0.6488745392418351, 0.6482340994482922]
[0.6329238183546144, 0.64445610353269, 0.6525892190694496, 0.6535908931921525, 0.6584225253585257, 0.6636817607017254, 0.6699130081576253]
[0.6667578982248602, 0.6719710678624798, 0.6770439523587918, 0.6779554198861649, 0.6821611577474704, 0.6845852503565214, 0.6925525505196058]

[0.04330453764609778, 0.03388073852624704, 0.029722850250429974, 0.0275315590320837, 0.02476812988224322, 0.023102444949244544, 0.022491114646447555]
[0.04947275406719708, 0.036410320712920045, 0.03161086530868333, 0.028847467328054956, 0.025969380319459036, 0.023780773266607488, 0.022697170226449587]
[0.05616368197236917, 0.040473666959243516, 0.033452634653454584, 0.02988616490190468, 0.027067156348373575, 0.024010854483047576, 0.023062992925566135]
[0.06340252243244132, 0.04397874086246428, 0.036186486515723475, 0.03137893096759836, 0.027536653258715196, 0.024669042045747207, 0.023423399790136426]
[0.06700229338464644, 0.049365591610735934, 0.039235782823638723, 0.0333726350599383, 0.029406115191792037, 0.025203463902309677, 0.02414658294689099]
[0.07273921397075288, 0.051760544325433706, 0.04138710096169428, 0.03506896880663928, 0.030696047569080127, 0.026675814566685496, 0.024744948041837328]
[0.0751436344769252, 0.055386520774075396, 0.043514511958979, 0.03727514388374822, 0.03227556255100852, 0.027801160015220865, 0.025172121991673162]
[0.07604491429601229, 0.05696243353769731, 0.04635307926136645, 0.038663550510349996, 0.0328588084411799, 0.028565739961332794, 0.026039247875977396]
[0.07659189670758333, 0.05821008797112066, 0.046978775651496385, 0.040250246430729074, 0.03429127317243791, 0.029334471055352463, 0.026444335375554275]
[0.07546869050352727, 0.05778178146468946, 0.046901915816574685, 0.04082438233330148, 0.034171694648478496, 0.029520503980105216, 0.026893849642893413]
[0.06873410399583763, 0.05299759558802497, 0.04430323125020267, 0.03832020096028487, 0.03216108487816254, 0.02764426199893147, 0.024644331990657683]

[0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521]
[0.0004696414858441171, 0.0004379089530168119, 0.0004125229267549677, 0.00038713690049312354, 0.0003807903939276625, 0.0003744438873622015, 0.00036175087423127937]
[0.0006917692156352535, 0.0005457995646296496, 0.0004886810055405003, 0.0004696414858441171, 0.00046329497927865605, 0.000456948472713195, 0.000450601966147734]
[0.0009646689979500784, 0.0007108087353316367, 0.0006663831893734094, 0.0005775320974569548, 0.0005394530580641886, 0.0005267600449332664, 0.0005267600449332664]
[0.0010852526226938382, 0.0009329364651227732, 0.0008186993469444744, 0.0007298482550280198, 0.0006727296959388705, 0.0006663831893734094, 0.0006156111368497211]
[0.0012946873393540525, 0.001066213102997455, 0.001040827076735611, 0.0008758179060336238, 0.0007996598272480913, 0.0008123528403790134, 0.000755234281289864]
[0.0013962314444014292, 0.0012629548065267475, 0.0011423711817829876, 0.001072559609562916, 0.0009519759848191563, 0.0009583224913846173, 0.0009329364651227732]
[0.0014850825363178837, 0.001345459391877741, 0.001345459391877741, 0.0011741037146102927, 0.001047173583301072, 0.001059866596431994, 0.0010789061161283772]
[0.001669131226716254, 0.0014406569903596565, 0.0014089244575323514, 0.0013137268590504357, 0.001212182754003059, 0.00121852926056852, 0.0012312222736994421]
[0.002088000660036683, 0.0016818242398471761, 0.0015739336282343385, 0.0013962314444014292, 0.001351805898443202, 0.001364498911574124, 0.0014025779509668902]
[0.004233119879162515, 0.002722651316582787, 0.0021768517519531374, 0.0017833683448945528, 0.0017452893055017865, 0.0015739336282343385, 0.0016373986938889489]

[0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521]
[0.000456948472713195, 0.0004061764201895067, 0.00039982991362404565, 0.0003807903939276625, 0.0003744438873622015, 0.00036175087423127937, 0.00035540436766581834]
[0.0006663831893734094, 0.0005331065514987275, 0.0004696414858441171, 0.0004379089530168119, 0.0004379089530168119, 0.0004252159398858898, 0.00039982991362404565]
[0.0009202434519918511, 0.0006790762025043315, 0.0006409971631115652, 0.0005394530580641886, 0.0005013740186714223, 0.0004823344989750392, 0.00043156244645135085]
[0.0010154410504737666, 0.0008758179060336238, 0.0007425412681589419, 0.0006536901762424874, 0.0006156111368497211, 0.000602918123718799, 0.0005204135383678055]
[0.0012312222736994421, 0.0010027480373428447, 0.0009456294782536952, 0.0007806203075517082, 0.0007108087353316367, 0.0007108087353316367, 0.0006409971631115652]
[0.0013264198721813579, 0.001205836247437598, 0.001059866596431994, 0.0009519759848191563, 0.0008567783863372406, 0.0008631248929027017, 0.000761580787855325]
[0.0013708454181395851, 0.0012566082999612863, 0.0012756478196576694, 0.001072559609562916, 0.0009773620110810005, 0.0009837085176464615, 0.0009519759848191563]
[0.0014850825363178837, 0.0013264198721813579, 0.0013264198721813579, 0.0011677572080448317, 0.0010789061161283772, 0.001047173583301072, 0.0009900550242119225]
[0.0016945172529780983, 0.0014533500034905787, 0.0014089244575323514, 0.00121852926056852, 0.0011169851555211433, 0.0011042921423902213, 0.0011233316620866045]
[0.002265702843869592, 0.0017135567726744812, 0.0015612406151034163, 0.0013327663787468188, 0.0012312222736994421, 0.0011867967277412149, 0.0011106386489556823]