In [1]:
import os 
import math
import random
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm
from numpy import count_nonzero
dir_ = '../../../data/'
group_dir_ = os.path.join(dir_, 'groups/random')

In [2]:
file_name = 'normalized_to_rating_filter_track_5_user_100.csv'
all_user = pd.read_pickle(os.path.join(dir_, file_name[:-3] + 'pkl'))
df = pd.read_pickle(os.path.join(dir_, file_name[:-3] + 'pkl'))
svd = pd.read_pickle(os.path.join(dir_, 'prediction_svd_top_N_' + file_name[:-3] + 'pkl'))
test = pd.read_pickle(os.path.join(dir_, 'test_' + file_name[:-3] + 'pkl'))
test.sort_values(by=['uid','tid'])

file_name = 'normalized_popularity_filter_track_5_user_100.pkl'
pop_count = pd.read_pickle(os.path.join(dir_, file_name))

num_user = len(svd['uid'].unique())
num_user

953

In [3]:
groups_n =[]
group_sizes = ['2', '3', '4', '5', '6', '7', '8', '9', '10']
for i in range(len(group_sizes)):
    groups = np.loadtxt(os.path.join(group_dir_, group_sizes[i] + '.csv'), delimiter=',')
    groups_n.append(groups)

In [4]:
pop_dict = {}
for i in all_user['tid'].unique():
    pop_dict[i] = len(all_user[all_user['tid']==i])/num_user

In [5]:
svd['count'] = 1
svd[:5]

   uid  tid    rating  count
0    0    9  2.243909      1
1    0   15  2.160610      1
2    0   22  2.145235      1
3    0   28  2.204445      1
4    0   33  2.166677      1

In [6]:
pop_count = pop_count.sort_values(by=['count'],  ascending=False)
pop_count[:10]

         tid  count   rating
70        70  17557  2980.75
1102    1102   6926  1484.25
83        83   6571  1796.75
13496  13496   6299  1669.75
952      952   6234  1527.50
2519    2519   6001  1772.25
4008    4008   5676  1008.25
5521    5521   5658  1727.25
3900    3900   5627  1475.50
2241    2241   5571  1183.75

In [7]:
# min_max
max_rating = pop_count.iloc[0]['count']
pop_normalized = pop_count.copy()
pop_normalized = pop_normalized[['tid', 'count']]
pop_normalized['rating'] = pop_normalized['count']
pop_normalized['rating'] /= max_rating
pop_normalized['rating'] *= 5
pop_normalized[:10]

         tid  count    rating
70        70  17557  5.000000
1102    1102   6926  1.972433
83        83   6571  1.871333
13496  13496   6299  1.793871
952      952   6234  1.775360
2519    2519   6001  1.709005
4008    4008   5676  1.616449
5521    5521   5658  1.611323
3900    3900   5627  1.602495
2241    2241   5571  1.586547

In [8]:
lambdas = []
for i in range(11):
    lambdas.append(i/10)
lambdas

[0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]

In [9]:
NOVs = []
COVs = []
HitNOVs = []
HitCOVs = []
for lambda_ in tqdm(lambdas):
    top_n_size = 50
    top_n_lists_g = []
    top_n_items_g = []
    for groups in groups_n:

        group_size = len(groups[0])
        top_n_lists = []
        top_n_items = pd.DataFrame()

        for group in groups:
            rating_table = pd.DataFrame() 
            for member in group:
                prediction = svd[svd['uid'] == member].copy()
                if len(rating_table) == 0:
                    rating_table = prediction
                else:
                    rating_table = rating_table.set_index('tid').add(prediction.set_index('tid'), fill_value=0).reset_index()
            rating_table['rating'] /= group_size 
            rating_table['rating'] *= lambda_
            pop = pop_normalized.copy()
            pop['rating'] *= (1 - lambda_)
            rating_table = rating_table.set_index('tid').add(pop.set_index('tid'), fill_value=0).reset_index()
    #         rating_table = rating_table[rating_table['count'] == group_size]
            rating_table = rating_table.sort_values(by=['rating'],  ascending=False)
            rating_table = rating_table[:top_n_size]
            
            top_n_list = []
            for _, row in rating_table.iterrows():
                top_n_list.append(row[0])
            top_n_lists.append(top_n_list)
            
            if len(top_n_items) == 0:
                top_n_items = rating_table
            else:
                top_n_items = top_n_items.set_index('tid').add(rating_table.set_index('tid'), fill_value=0).reset_index()
                
        top_n_lists_g.append(top_n_lists)   
        top_n_items_g.append(top_n_items)
        
    COV = []    
    NOV = []
    HitNOV = []
    HitCOV = []
    for i in range(len(groups_n)):
        groups = groups_n[i]
        top_n_lists = top_n_lists_g[i]
        top_n_items = top_n_items_g[i]

        nov = 0
        hitNov = 0
        hits = np.zeros(len(df['tid'].unique()), dtype=bool)
        for j in (range(len(groups))):
            group = groups[j]
            top_n_list = top_n_lists[j]
            
            for k in range(len(group)):
                for l in range(top_n_size):
                    uid = group[k]
                    tid = top_n_list[l]
                    t = test[test['uid'] == uid]
                    t = t[t['tid'] == tid]
                    nov += (1-pop_dict[tid])
                    if len(t) > 0:
                        hits[int(tid)] = True
                        hitNov += (1-pop_dict[tid])
        NOV.append(nov/top_n_size/(len(groups)*len(groups[0])))
        COV.append(len(top_n_items)/len(df['tid'].unique()))
        HitNOV.append(hitNov/top_n_size/(len(groups)*len(groups[0])))
        HitCOV.append(list(hits).count(True)/len(df['tid'].unique()))
    NOVs.append(NOV)
    COVs.append(COV)
    HitNOVs.append(HitNOV)
    HitCOVs.append(HitCOV)
    
for NOV in NOVs:
    print(NOV)
print()
for HitNOV in HitNOVs:
    print(HitNOV)
print()  
for COV in COVs:
    print(COV)
print()    
for HitCOV in HitCOVs:
    print(HitCOV)

HBox(children=(FloatProgress(value=0.0, max=11.0), HTML(value='')))

[0.07340565397197663, 0.06821235282240029, 0.06290810972867612, 0.058133119787927415, 0.0540926720416539, 0.05061585704586121, 0.04526149179503905, 0.04027673123580783, 0.03869641575081464]
[0.07340565397197663, 0.06821235282240029, 0.06290810972867612, 0.058133119787927415, 0.0540926720416539, 0.05061585704586121, 0.04526149179503905, 0.04027673123580783, 0.03869641575081464]
[0.07340565397197663, 0.06821235282240029, 0.06290810972867612, 0.058133119787927415, 0.0540926720416539, 0.05061585704586121, 0.04526149179503905, 0.04027673123580783, 0.03869641575081464]
[0.07340565397197663, 0.06821235282240029, 0.06290810972867612, 0.058133119787927415, 0.0540926720416539, 0.05061585704586121, 0.04526149179503905, 0.04027673123580783, 0.03869641575081464]
[0.07340565397197663, 0.06821235282240029, 0.06290810972867612, 0.058133119787927415, 0.0540926720416539, 0.05061585704586121, 0.04526149179503905, 0.04027673123580783, 0.03869641575081464]
[0.07340565397197663, 0.06821235282240029, 0.06290810972867612, 0.058133119787927415, 0.0540926720416539, 0.05061585704586121, 0.04526149179503905, 0.04027673123580783, 0.03869641575081464]
[0.07340565397197663, 0.06821235282240029, 0.06290810972867612, 0.058133119787927415, 0.0540926720416539, 0.05061585704586121, 0.04526149179503905, 0.04027673123580783, 0.03869641575081464]
[0.07340565397197663, 0.06821235282240029, 0.06290810972867612, 0.058133119787927415, 0.0540926720416539, 0.05061585704586121, 0.04526149179503905, 0.04027673123580783, 0.03869641575081464]
[0.07340565397197663, 0.06821235282240029, 0.06290810972867612, 0.058133119787927415, 0.0540926720416539, 0.05061585704586121, 0.04526149179503905, 0.04027673123580783, 0.03869641575081464]
[0.07340565397197663, 0.06821235282240029, 0.06290810972867612, 0.058133119787927415, 0.0540926720416539, 0.05061585704586121, 0.04526149179503905, 0.04027673123580783, 0.03869641575081464]
[0.07340565397197663, 0.06821235282240029, 0.06290810972867612, 0.058133119787927415, 0.0540926720416539, 0.05061585704586121, 0.04526149179503905, 0.04027673123580783, 0.03869641575081464]

[0.04835201971659602, 0.04842442317856182, 0.048379751690812635, 0.04840903517976493, 0.04854270989679505, 0.0483469935718254, 0.04831121535707688, 0.04842998717500299, 0.04834587728502802]
[0.055476337439487905, 0.05310118139297803, 0.05212467043480575, 0.0507438449218537, 0.05043453717109214, 0.0501917430140997, 0.049470160572098985, 0.05000354214205225, 0.049229159993372934]
[0.06313651273730894, 0.05838100502811983, 0.05557368592767668, 0.05353648865079822, 0.05289819844948911, 0.05186126076873569, 0.050892669764653065, 0.05102645502645522, 0.04986696857568921]
[0.06967294787799695, 0.06368889874578373, 0.05983186663962565, 0.057726757607555315, 0.05601144066483402, 0.054998787552796705, 0.05365239800012355, 0.053013230289201074, 0.05208292925388012]
[0.07388944245064222, 0.06805262699119387, 0.06326728067932351, 0.061234262992213115, 0.05921236955472637, 0.057204295149329634, 0.05501126473674469, 0.05460377421342809, 0.053454575578505865]
[0.07812881920869057, 0.07070088038989161, 0.06639270503584473, 0.06358047164080212, 0.06122781268125092, 0.05874044371158753, 0.056228010616628715, 0.0548984493412616, 0.053855370851052325]
[0.07914046311074245, 0.07277780168442548, 0.06707553325632479, 0.06402860772077118, 0.06138850886164505, 0.058216027229359764, 0.05548870440096286, 0.05385088581311042, 0.05130952670238036]
[0.08020884954191514, 0.0734558751322679, 0.06758894953574299, 0.06398762909372084, 0.060963734332177756, 0.057117307573606516, 0.05356895958803249, 0.05187648028781291, 0.04914866073894081]
[0.08081855617378088, 0.07362268468712983, 0.06820377049035771, 0.0642065499530569, 0.06063021061626398, 0.056976928231943426, 0.05221677233327749, 0.049558720165225965, 0.04657233114265209]
[0.07981553166912062, 0.07315259907558493, 0.06813062685724866, 0.064156602418954, 0.05979243871230533, 0.05597260310210138, 0.05052214589928299, 0.04669968964617447, 0.04406452753078918]
[0.07340565397197663, 0.06821235282240029, 0.06290810972867612, 0.058133119787927415, 0.0540926720416539, 0.05061585704586121, 0.04526149179503905, 0.04027673123580783, 0.03869641575081464]

[0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521]
[0.0005521460711951107, 0.0005077205252368833, 0.0004823344989750392, 0.0004886810055405003, 0.00047598799240957816, 0.00046329497927865605, 0.000456948472713195, 0.00046329497927865605, 0.0004379089530168119]
[0.0009583224913846173, 0.0008821644125990848, 0.0008377388666408576, 0.0007869668141171692, 0.0007806203075517082, 0.0007044622287661757, 0.0006663831893734094, 0.0006536901762424874, 0.0006346506565461042]
[0.0014279639772287345, 0.0013327663787468188, 0.0012883408327885916, 0.00121852926056852, 0.0011677572080448317, 0.0011804502211757537, 0.0011106386489556823, 0.001072559609562916, 0.001059866596431994]
[0.0017262497858054034, 0.0017008637595435593, 0.0018404869039837022, 0.00182779389085278, 0.0016754777332817152, 0.0017135567726744812, 0.0016120126676271048, 0.0015993196544961826, 0.0015866266413652604]
[0.0018658729302455464, 0.0021133866862985268, 0.00225300983073867, 0.0025576421458808, 0.002367246948916969, 0.0024878305736607286, 0.00243705852113704, 0.0024560980408334233, 0.0025576421458808]
[0.0020308821009475332, 0.002278395857000514, 0.002602067691839027, 0.0029638185660703065, 0.003001897605463073, 0.0032240253352542095, 0.0034271135453489625, 0.00347153909130719, 0.0035921227160509495]
[0.002145119219125832, 0.0025005235867916506, 0.0028241954216301638, 0.0032621043746469754, 0.0033636484796943523, 0.003782517913014781, 0.004017338655936839, 0.004277545425120742, 0.004601217259959256]
[0.0023418609226551245, 0.0026274537181008714, 0.0029765115792012285, 0.003503271624134495, 0.0035730831963545666, 0.004023685162502301, 0.004436208089257269, 0.0047471869109648596, 0.0051279773048925215]
[0.0027797698756719365, 0.0029447790463739236, 0.003204985815557826, 0.0037317458604910927, 0.0038586759918003135, 0.00420138734633521, 0.0046266032862211, 0.004791612456923087, 0.005153363331154366]
[0.004912196081666847, 0.00420138734633521, 0.004112536254418755, 0.004176001320073366, 0.004258505905424359, 0.004417168569560885, 0.0047471869109648596, 0.004613910273090178, 0.004836038002881314]

[0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521]
[0.0005331065514987275, 0.0004823344989750392, 0.00047598799240957816, 0.0004823344989750392, 0.00046329497927865605, 0.000450601966147734, 0.000456948472713195, 0.000450601966147734, 0.0004252159398858898]
[0.0008821644125990848, 0.0008504318797717796, 0.0007869668141171692, 0.0007679272944207861, 0.000755234281289864, 0.0006854227090697926, 0.0006409971631115652, 0.0006219576434151822, 0.0006219576434151822]
[0.0012693013130922084, 0.001212182754003059, 0.0011614107014793708, 0.0011614107014793708, 0.0011169851555211433, 0.0011296781686520655, 0.0010281340636046888, 0.0009964015307773837, 0.0010090945439083056]
[0.001497775549448806, 0.0015929731479307216, 0.0016247056807580267, 0.0017008637595435593, 0.0015739336282343385, 0.0016056661610616436, 0.00152316157571065, 0.0014850825363178837, 0.0015041220560142669]
[0.0016500917070198708, 0.0019356845024656177, 0.0020499216206439166, 0.0022276238044768256, 0.002151465725691293, 0.002246663324173209, 0.0022339703110422866, 0.0022276238044768256, 0.002265702843869592]
[0.0017643288251981697, 0.00213242620599491, 0.002310128389827819, 0.0026401467312317933, 0.0026464932377972543, 0.0029193930201120793, 0.0030907486973795273, 0.003141520749903216, 0.0031097882170759107]
[0.00182779389085278, 0.0022212772979113646, 0.0025068700933571116, 0.0028495814478920077, 0.003027283631724917, 0.0034017275190871186, 0.003623855248878255, 0.00377617140644932, 0.003998299136240457]
[0.0019928030615547674, 0.002278395857000514, 0.0026211072115354104, 0.003052669657986761, 0.00316690677616506, 0.003598469222616411, 0.003903101537758541, 0.0041315757741151385, 0.004448901102388191]
[0.0022212772979113646, 0.0024687910539643453, 0.002722651316582787, 0.003141520749903216, 0.0033699949862598133, 0.003611162235747333, 0.003922141057454924, 0.004055417695329606, 0.004379089530168119]
[0.0027861163822373975, 0.0029130465135466183, 0.003001897605463073, 0.0032430648549505925, 0.0033699949862598133, 0.0035540436766581837, 0.0037317458604910927, 0.003668280794836482, 0.0038396364721039306]