In [1]:
import os 
import math
import random
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm
from numpy import count_nonzero
dir_ = '../../../../data/'
group_dir_ = os.path.join(dir_, 'groups/random')

In [2]:
file_name = 'normalized_log_filter_track_5_user_100.csv'
all_user = pd.read_pickle(os.path.join(dir_, file_name[:-3] + 'pkl'))
df = pd.read_pickle(os.path.join(dir_, file_name[:-3] + 'pkl'))
svd = pd.read_pickle(os.path.join(dir_, 'prediction_svd_top_N_' + file_name[:-3] + 'pkl'))
test = pd.read_pickle(os.path.join(dir_, 'test_' + file_name[:-3] + 'pkl'))
test.sort_values(by=['uid','tid'])

file_name = 'normalized_popularity_filter_track_5_user_100.pkl'
pop_count = pd.read_pickle(os.path.join(dir_, file_name))

num_user = len(svd['uid'].unique())
num_user

953

In [3]:
groups_n =[]
group_sizes = ['2', '3', '4', '5', '6', '7', '8', '9', '10']
for i in range(len(group_sizes)):
    groups = np.loadtxt(os.path.join(group_dir_, group_sizes[i] + '.csv'), delimiter=',')
    groups_n.append(groups)

In [4]:
pop_dict = {}
for i in all_user['tid'].unique():
    pop_dict[i] = len(all_user[all_user['tid']==i])/num_user

In [5]:
svd['count'] = 1
svd[:5]

   uid  tid    rating  count
0    0    4  0.601343      1
1    0   14  0.636560      1
2    0   19  0.608919      1
3    0   21  0.581061      1
4    0   27  0.590191      1

In [6]:
pop_count = pop_count.sort_values(by=['count'],  ascending=False)
pop_count[:10]

         tid  count   rating
70        70  17557  2980.75
1102    1102   6926  1484.25
83        83   6571  1796.75
13496  13496   6299  1669.75
952      952   6234  1527.50
2519    2519   6001  1772.25
4008    4008   5676  1008.25
5521    5521   5658  1727.25
3900    3900   5627  1475.50
2241    2241   5571  1183.75

In [7]:
# min_max
max_rating = pop_count.iloc[0]['count']
pop_normalized = pop_count.copy()
pop_normalized = pop_normalized[['tid', 'count']]
pop_normalized['rating'] = pop_normalized['count']
pop_normalized['rating'] /= max_rating
pop_normalized['rating'] *= 5
pop_normalized[:10]

         tid  count    rating
70        70  17557  5.000000
1102    1102   6926  1.972433
83        83   6571  1.871333
13496  13496   6299  1.793871
952      952   6234  1.775360
2519    2519   6001  1.709005
4008    4008   5676  1.616449
5521    5521   5658  1.611323
3900    3900   5627  1.602495
2241    2241   5571  1.586547

In [8]:
lambdas = []
for i in range(11):
    lambdas.append(i/10)
lambdas

[0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]

In [9]:
NOVs = []
COVs = []
HitNOVs = []
HitCOVs = []
for lambda_ in tqdm(lambdas):
    top_n_size = 50
    top_n_lists_g = []
    top_n_items_g = []
    for groups in groups_n:

        group_size = len(groups[0])
        top_n_lists = []
        top_n_items = pd.DataFrame()

        for group in groups:
            rating_table = pd.DataFrame() 
            for member in group:
                prediction = svd[svd['uid'] == member].copy()
                if len(rating_table) == 0:
                    rating_table = prediction
                else:
                    rating_table = rating_table.set_index('tid').add(prediction.set_index('tid'), fill_value=0).reset_index()
            rating_table['rating'] /= group_size 
            rating_table['rating'] *= lambda_
            pop = pop_normalized.copy()
            pop['rating'] *= (1 - lambda_)
            rating_table = rating_table.set_index('tid').add(pop.set_index('tid'), fill_value=0).reset_index()
    #         rating_table = rating_table[rating_table['count'] == group_size]
            rating_table = rating_table.sort_values(by=['rating'],  ascending=False)
            rating_table = rating_table[:top_n_size]
            
            top_n_list = []
            for _, row in rating_table.iterrows():
                top_n_list.append(row[0])
            top_n_lists.append(top_n_list)
            
            if len(top_n_items) == 0:
                top_n_items = rating_table
            else:
                top_n_items = top_n_items.set_index('tid').add(rating_table.set_index('tid'), fill_value=0).reset_index()
                
        top_n_lists_g.append(top_n_lists)   
        top_n_items_g.append(top_n_items)
        
    COV = []    
    NOV = []
    HitNOV = []
    HitCOV = []
    for i in range(len(groups_n)):
        groups = groups_n[i]
        top_n_lists = top_n_lists_g[i]
        top_n_items = top_n_items_g[i]

        nov = 0
        hitNov = 0
        hits = np.zeros(len(df['tid'].unique()), dtype=bool)
        for j in (range(len(groups))):
            group = groups[j]
            top_n_list = top_n_lists[j]
            
            for k in range(len(group)):
                for l in range(top_n_size):
                    uid = group[k]
                    tid = top_n_list[l]
                    t = test[test['uid'] == uid]
                    t = t[t['tid'] == tid]
                    nov += (1-pop_dict[tid])
                    if len(t) > 0:
                        hits[int(tid)] = True
                        hitNov += (1-pop_dict[tid])
        NOV.append(nov/top_n_size/(len(groups)*len(groups[0])))
        COV.append(len(top_n_items)/len(df['tid'].unique()))
        HitNOV.append(hitNov/top_n_size/(len(groups)*len(groups[0])))
        HitCOV.append(list(hits).count(True)/len(df['tid'].unique()))
    NOVs.append(NOV)
    COVs.append(COV)
    HitNOVs.append(HitNOV)
    HitCOVs.append(HitCOV)
    
for NOV in NOVs:
    print(NOV)
print()
for HitNOV in HitNOVs:
    print(HitNOV)
print()  
for COV in COVs:
    print(COV)
print()    
for HitCOV in HitCOVs:
    print(HitCOV)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=11.0), HTML(value='')))

[0.5490661070304458, 0.5490661070304457, 0.5490661070304458, 0.5490661070304458, 0.5490661070304458, 0.5490661070304458, 0.5490661070304458, 0.5490661070304457, 0.5490661070304458]
[0.5508689057994861, 0.5506963565165515, 0.5504359519253873, 0.5503826144585171, 0.5503517207486194, 0.5502634096660906, 0.550161982946399, 0.5501306151002021, 0.5501551886011129]
[0.5550108018023836, 0.5540635085617286, 0.5533586991984872, 0.5532005301817221, 0.5528963831737423, 0.552547527930397, 0.5518398335199992, 0.5522248538450232, 0.5519474236483384]
[0.5625583076882695, 0.5614661321876016, 0.5606765896285331, 0.5604023858176637, 0.5601751962490386, 0.5595961669033016, 0.5592226229421677, 0.5589019137560765, 0.558503783067345]
[0.5707425467564108, 0.5700256536721438, 0.5693844295325988, 0.5685613298724488, 0.5683318501202277, 0.5677569285846844, 0.5677654818485874, 0.5673668115724991, 0.5670291047661364]
[0.5801424956131873, 0.5812413729183611, 0.5795235743825689, 0.57891865024579, 0.5779418757554703, 0.5770548114314287, 0.5767233063215137, 0.5764565032729008, 0.5768831943447552]
[0.5941579884839974, 0.5942372252988621, 0.5951442150837667, 0.5927837852764528, 0.5922527129518141, 0.591490494413967, 0.5915687744143239, 0.5905567381202581, 0.5905806594135219]
[0.6071958961969135, 0.6172657488721043, 0.6182434946696859, 0.6178384050367827, 0.6171547544729395, 0.6158656873032984, 0.6158161312794292, 0.6158980662569862, 0.6153432374220452]
[0.6256955038048824, 0.6377998086732819, 0.652495172255723, 0.6558115645883348, 0.6591576234941503, 0.6633022652923132, 0.6638741876604375, 0.6667196322391015, 0.6668543657149707]
[0.636270512402226, 0.6646244798924805, 0.6822560335781913, 0.6964311039929733, 0.7117661747712666, 0.7197964631813158, 0.7306483726754421, 0.7361515015240373, 0.7444948362511852]
[0.6752118035041884, 0.7035920437204638, 0.7290135529552895, 0.7523908985475191, 0.7723630905734253, 0.7913783099808879, 0.8061050905147144, 0.8208644381152559, 0.8310898547523455]

[0.04922903789007735, 0.04928446667394907, 0.04925478585977945, 0.04937283923344577, 0.049420440005136075, 0.04921907377851466, 0.04926494837179374, 0.04945321096842609, 0.049239896172751096]
[0.05155420300334201, 0.05099916915203875, 0.050586559912527536, 0.05032400728999854, 0.050237203412718666, 0.05016498099764579, 0.049783699418907305, 0.049986286691428364, 0.049677273982437924]
[0.05411744865837207, 0.052910980102681096, 0.05189673036055989, 0.05104567294416541, 0.05100499864961216, 0.050791000555521396, 0.05043903815461148, 0.05037969764097781, 0.049933528469652856]
[0.056955258493743735, 0.05485392854266197, 0.05331937182008172, 0.05203064008394561, 0.05180662000079714, 0.051328776001481495, 0.05071111130706232, 0.050817013385743695, 0.05046689125752496]
[0.061973643602246636, 0.05747106651969609, 0.05527295493223536, 0.05385822057767726, 0.052796963619217305, 0.05236341231140943, 0.05148130185967368, 0.05134988923866152, 0.050788115093610475]
[0.06560000705423823, 0.061042852114579875, 0.05793407814332457, 0.05594609819406866, 0.055074027831276975, 0.053701667445572185, 0.05258196143095233, 0.05249558897827519, 0.05200762136190453]
[0.07048317123281617, 0.06548525162114643, 0.06086974349026068, 0.05887495443751043, 0.057717379273092874, 0.05573075295175791, 0.05524952163446699, 0.0537244568808052, 0.05411876070028193]
[0.07420397329970792, 0.07053422530875418, 0.0648735527789289, 0.06270295465841946, 0.06045689605553864, 0.058458472581057706, 0.05720718297812304, 0.05568462721453277, 0.05539804495499008]
[0.07785401253890813, 0.07320794480433122, 0.06749241669385468, 0.06609156679737105, 0.062198852391515166, 0.06052062482915529, 0.05849123070004484, 0.0568381218874396, 0.05487250234715865]
[0.07902605218372731, 0.07436579157301651, 0.06802410785930292, 0.06414889269343335, 0.06117133989489099, 0.058614261024451754, 0.05428789669068045, 0.05243642743327918, 0.04989129066107039]
[0.07241878808186436, 0.06737433286660173, 0.06030247251051511, 0.054379013641133206, 0.05120315149583136, 0.046398987716807644, 0.04248743463807344, 0.03895216997840283, 0.036699199204727355]

[0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521]
[0.00038713690049312354, 0.0003744438873622015, 0.00036175087423127937, 0.00035540436766581834, 0.00035540436766581834, 0.00035540436766581834, 0.00035540436766581834, 0.0003490578611003573, 0.0003490578611003573]
[0.00046329497927865605, 0.000450601966147734, 0.00043156244645135085, 0.0004125229267549677, 0.0004252159398858898, 0.0004252159398858898, 0.0003934834070585846, 0.0004061764201895067, 0.00038713690049312354]
[0.0005965716171533379, 0.0005457995646296496, 0.0005204135383678055, 0.0005077205252368833, 0.0004823344989750392, 0.0004823344989750392, 0.0004696414858441171, 0.000456948472713195, 0.0004696414858441171]
[0.0007742738009862471, 0.0007298482550280198, 0.0007171552418970978, 0.0006790762025043315, 0.000602918123718799, 0.00060926463028426, 0.0005711855908914938, 0.0005521460711951107, 0.0005204135383678055]
[0.001040827076735611, 0.0010090945439083056, 0.0009456294782536952, 0.0009202434519918511, 0.0008631248929027017, 0.0007933133206826302, 0.0007298482550280198, 0.0007298482550280198, 0.0007108087353316367]
[0.001364498911574124, 0.0012756478196576694, 0.0012375687802649031, 0.0012756478196576694, 0.0011614107014793708, 0.0011423711817829876, 0.0010915991292592992, 0.0010915991292592992, 0.0010154410504737666]
[0.0016437452004544099, 0.0016247056807580267, 0.0017325962923708644, 0.0017643288251981697, 0.0017199032792399424, 0.0016754777332817152, 0.001669131226716254, 0.001669131226716254, 0.0015675871216688773]
[0.0018722194368110073, 0.0020054960746856893, 0.0022085842847804427, 0.002583028172142644, 0.002418019001440657, 0.002589374678708105, 0.0026782257706245596, 0.0026274537181008714, 0.002690918783755482]
[0.0020181890878166113, 0.002265702843869592, 0.0026147607049699494, 0.0031034417105104497, 0.003211332322123287, 0.0035794297029200276, 0.0038713690049312355, 0.003915794550889463, 0.004347356997340813]
[0.0030844021908140663, 0.002995551098897612, 0.0031288277367722936, 0.0032874904009088197, 0.0033573019731288913, 0.0036365482620091772, 0.0038015574327111643, 0.0037507853801874757, 0.003941180577151307]

[0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521]
[0.0003807903939276625, 0.00036175087423127937, 0.00036175087423127937, 0.00035540436766581834, 0.0003490578611003573, 0.00035540436766581834, 0.00035540436766581834, 0.0003490578611003573, 0.0003427113545348963]
[0.000450601966147734, 0.00044425545958227296, 0.0004252159398858898, 0.0004061764201895067, 0.0004125229267549677, 0.0004188694333204288, 0.0003807903939276625, 0.0004061764201895067, 0.00038713690049312354]
[0.0005838786040224159, 0.0005331065514987275, 0.0005013740186714223, 0.0004950275121059612, 0.00047598799240957816, 0.0004696414858441171, 0.0004696414858441171, 0.000456948472713195, 0.000456948472713195]
[0.000755234281289864, 0.0007108087353316367, 0.0006600366828079483, 0.0006473436696770263, 0.0005775320974569548, 0.0005838786040224159, 0.0005584925777605716, 0.0005394530580641886, 0.0005204135383678055]
[0.0009646689979500784, 0.0009519759848191563, 0.0008948574257300069, 0.0008758179060336238, 0.0008186993469444744, 0.000761580787855325, 0.0006854227090697926, 0.0007044622287661757, 0.0006854227090697926]
[0.001212182754003059, 0.0011931432343066759, 0.0011360246752175264, 0.001205836247437598, 0.0011169851555211433, 0.001072559609562916, 0.001040827076735611, 0.0010090945439083056, 0.0009646689979500784]
[0.0014723895231869618, 0.0015358545888415722, 0.0016183591741925657, 0.0017008637595435593, 0.0015929731479307216, 0.0015739336282343385, 0.0015422010954070332, 0.0015739336282343385, 0.0014787360297524228]
[0.0017008637595435593, 0.00182779389085278, 0.0020372286075129946, 0.0023291679095242025, 0.0022276238044768256, 0.0023862864686133517, 0.002418019001440657, 0.0023989794817442737, 0.0024497515342679623]
[0.001802407864590936, 0.002119733192863988, 0.0023291679095242025, 0.0027353443297137093, 0.002894006993850235, 0.003141520749903216, 0.0034651925847417287, 0.0036365482620091772, 0.0038650224983657745]
[0.0021958912716495203, 0.002367246948916969, 0.002538602626184417, 0.002722651316582787, 0.002874967474153852, 0.003020937125159456, 0.0031288277367722936, 0.003147867256468677, 0.0032811438943433587]