In [2]:
# This file normalize dataframe by min max normalization

import pandas as pd
import numpy as np
import time
import os 
from pandas import Series, DataFrame
from tqdm.notebook import tqdm

dir_ = '../data'
file_name = 'normalized_to_rating_filter_track_5_user_100.pkl'

In [3]:
train = pd.read_pickle(os.path.join(dir_, 'train_' + file_name))

In [4]:
lh_sum = train.groupby(["tid"]).sum().reset_index()
lh_sum = lh_sum[['tid','count', 'rating']]
lh_sum

         tid  count  rating
0          0     12    9.25
1          1      7    2.50
2          2      1    0.25
3          3     38   27.00
4          4      8    6.00
...      ...    ...     ...
26166  26433     16    8.25
26167  26434      2    0.50
26168  26435     11    8.00
26169  26436      2    0.50
26170  26437     58   13.50

[26171 rows x 3 columns]

In [5]:
lh_sum.to_pickle(os.path.join(dir_, 'train_normalized_popularity_filter_track_5_user_100.pkl'))