In [1]:
# This file normalize dataframe by min max normalization

import pandas as pd
import numpy as np
import time
import os 
from pandas import Series, DataFrame
from tqdm import tqdm_notebook

dir_ = '../data/'
file_name = 'filter_track_5_user_100.pkl'

In [2]:
lh = pd.read_pickle(os.path.join(dir_, file_name))

In [3]:
unique_users = lh['uid'].unique()
unique_user = len(unique_users)
unique_tracks = lh['tid'].unique()
unique_track = len(unique_tracks)

print(unique_user)
print(unique_track)

220
54969

In [4]:
lh

         uid     tid  count
4          0       4     15
5          0       5      3
6          0       6      1
7          0       7      1
8          0       8     10
...      ...     ...    ...
1256928  227  300257     10
1256936  227  308324      2
1256949  227  315276      1
1256989  227  338413      1
1257021  227  358640      1

[702362 rows x 3 columns]

In [5]:
track_keys = {}

for track in unique_tracks:
    track_keys[track] = len(track_keys)
    
user_keys = {}

for user in unique_users:
    user_keys[user] = len(user_keys)

In [6]:
lh['tid']= lh['tid'].map(track_keys)
lh['uid']= lh['uid'].map(user_keys)

In [7]:
lh

         uid    tid  count
4          0      0     15
5          0      1      3
6          0      2      1
7          0      3      1
8          0      4     10
...      ...    ...    ...
1256928  219  54824     10
1256936  219  54867      2
1256949  219  54900      1
1256989  219  54958      1
1257021  219  54962      1

[702362 rows x 3 columns]

In [8]:
max_list = {}
for i in tqdm_notebook(lh['uid'].unique()):
    user = lh[lh['uid'] == i]
    max_value = max(user['count'])
    max_list[i] = max_value

HBox(children=(IntProgress(value=0, max=220), HTML(value='')))

In [9]:
# If the input data is array, try the code below

# for i in train['uid'].unique():
#     user = train[train['uid'] == i]
#     max_value = max(user['count'])
#     print(max_value)
#     normalized_list[i] = [j *5 / max_value for j in counting_list[i]]

# for i in tqdm_notebook(lh['uid'].unique()):
#     user = lh[lh['uid'] == i]
#     max_value = max(user['count'])
#     for index, row in user.iterrows():
#         lh.loc[index, 'count'] = row['count'] *5 / max_value
start = time.time()
def normalize(df):  
    return df['count'] *5 / max_list[df['uid']]

lh['rating'] = lh.apply(normalize , axis = 1)
lh = lh[['uid','tid','rating']]

end = time.time()
print(end - start)

10.482073783874512

In [10]:
lh

         uid    tid    rating
4          0      0  1.595745
5          0      1  0.319149
6          0      2  0.106383
7          0      3  0.106383
8          0      4  1.063830
...      ...    ...       ...
1256928  219  54824  1.219512
1256936  219  54867  0.243902
1256949  219  54900  0.121951
1256989  219  54958  0.121951
1257021  219  54962  0.121951

[702362 rows x 3 columns]

In [11]:
lh.to_pickle(os.path.join(dir_, 'normalized_' + file_name))