In [3]:
import pandas as pd
import os
import numpy as np
from tqdm import tqdm_notebook
from pandas import Series, DataFrame
from sklearn.model_selection import train_test_split

dir_ = '../data/'
# file_name = 'normalized_filter_track_5_user_100.pkl'
file_name = 'normalized_to_rating_filter_track_5_user_100.pkl'

In [4]:
normalized_pd = pd.read_pickle(os.path.join(dir_, file_name))

In [5]:
normalized_pd

        uid    tid  rating  count
0         0      0    0.25      1
3         0      1    0.25      1
4         0      2    0.25      1
5         0      3    4.75      8
8         0      4    2.25      2
...     ...    ...     ...    ...
593264  119  26387    0.25      1
593306  119  26409    0.25      1
593314  119  26415    2.50      3
593336  119  26430    2.50      3
593353  119  26435    3.25      5

[280462 rows x 4 columns]

In [6]:
train, test = train_test_split(normalized_pd, test_size=0.5, random_state= np.random)

In [7]:
train.to_pickle(os.path.join(dir_, 'train_' + file_name))
test.to_pickle(os.path.join(dir_, 'test_' + file_name))