In [3]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm_notebook
from pandas import Series, DataFrame
from sklearn.model_selection import train_test_split

dir_ = '../data/'
# file_name = 'normalized_filter_track_5_user_100.pkl'
file_name = 'normalized_to_rating_filter_track_5_user_100.pkl'

In [4]:
df =  pd.read_pickle(os.path.join(dir_, file_name))
train = pd.read_pickle(os.path.join(dir_, 'train_' + file_name))
test = pd.read_pickle(os.path.join(dir_, 'test_' + file_name))

In [5]:
unique_users = len(df['uid'].unique())
unique_tracks = len(df['tid'].unique())

In [6]:
rating_matrix = []
for i in range(unique_tracks):
    rating_matrix.append(np.zeros(unique_users, np.float64))
np.shape(rating_matrix)

(54969, 220)

In [7]:
for i in tqdm_notebook(range(unique_tracks)):
    temp = train[train['tid'] == i]
    for index, row in temp.iterrows():
        uid = int(row['uid'])
        rating_matrix[i][uid] = row['rating']

HBox(children=(IntProgress(value=0, max=54969), HTML(value='')))

In [8]:
np.savetxt(os.path.join(dir_, 'rating_matrix_item_' + file_name[:-3] + 'csv'), rating_matrix, delimiter=",")

In [9]:
test_list = []
for index, row in tqdm_notebook(test.iterrows()):
    temp = []
    temp.append(row['uid'])
    temp.append(row['tid'])
    temp.append(row['rating'])
    test_list.append(temp)

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [10]:
np.savetxt(os.path.join(dir_, 'test_list_item_' + file_name[:-3] + 'csv'), test_list, delimiter=",")

In [11]:
np.shape(rating_matrix)

(54969, 220)

In [12]:
train

         uid    tid  rating
506465   100   4097    3.50
585628   115  20775    1.50
31110      5   3758    0.25
449070    88   9029    2.25
1032179  182  18930    2.75
...      ...    ...     ...
310702    66    889    1.75
614049   119  23045    4.50
733096   147  46878    4.50
980346   174  23378    3.00
230081    46  12644    5.00

[561889 rows x 3 columns]

In [13]:
only_one = 0
for i in tqdm_notebook(train['tid'].unique()):
    if len(train[train['tid']==i]) <2:
        only_one += 1
print(only_one)

HBox(children=(IntProgress(value=0, max=54968), HTML(value='')))

79

In [14]:
print(len(train))

561889