In [1]:
import os 
import math
import random
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm
from numpy import count_nonzero
dir_ = '../../../data/'
group_dir_ = os.path.join(dir_, 'groups/high')

In [2]:
file_name = 'normalized_to_rating_filter_track_5_user_100.csv'
all_user = pd.read_pickle(os.path.join(dir_, file_name[:-3] + 'pkl'))
df = pd.read_pickle(os.path.join(dir_, file_name[:-3] + 'pkl'))
svd = pd.read_pickle(os.path.join(dir_, 'prediction_svd_top_N_' + file_name[:-3] + 'pkl'))
test = pd.read_pickle(os.path.join(dir_, 'test_' + file_name[:-3] + 'pkl'))
test.sort_values(by=['uid','tid'])

file_name = 'normalized_popularity_filter_track_5_user_100.pkl'
pop_count = pd.read_pickle(os.path.join(dir_, file_name))

num_user = len(svd['uid'].unique())
num_user

953

In [3]:
groups_n =[]
group_sizes = ['2', '3', '4', '5', '6', '7', '8', '9', '10']
for i in range(len(group_sizes)):
    groups = np.loadtxt(os.path.join(group_dir_, group_sizes[i] + '.csv'), delimiter=',')
    groups_n.append(groups)

In [4]:
pop_dict = {}
for i in all_user['tid'].unique():
    pop_dict[i] = len(all_user[all_user['tid']==i])/num_user

In [5]:
svd['count'] = 1
svd[:5]

   uid  tid    rating  count
0    0    9  2.243909      1
1    0   15  2.160610      1
2    0   22  2.145235      1
3    0   28  2.204445      1
4    0   33  2.166677      1

In [6]:
pop_count = pop_count.sort_values(by=['count'],  ascending=False)
pop_count[:10]

         tid  count   rating
70        70  17557  2980.75
1102    1102   6926  1484.25
83        83   6571  1796.75
13496  13496   6299  1669.75
952      952   6234  1527.50
2519    2519   6001  1772.25
4008    4008   5676  1008.25
5521    5521   5658  1727.25
3900    3900   5627  1475.50
2241    2241   5571  1183.75

In [7]:
# min_max
max_rating = pop_count.iloc[0]['count']
pop_normalized = pop_count.copy()
pop_normalized = pop_normalized[['tid', 'count']]
pop_normalized['rating'] = pop_normalized['count']
pop_normalized['rating'] /= max_rating
pop_normalized['rating'] *= 5
pop_normalized[:10]

         tid  count    rating
70        70  17557  5.000000
1102    1102   6926  1.972433
83        83   6571  1.871333
13496  13496   6299  1.793871
952      952   6234  1.775360
2519    2519   6001  1.709005
4008    4008   5676  1.616449
5521    5521   5658  1.611323
3900    3900   5627  1.602495
2241    2241   5571  1.586547

In [8]:
lambdas = []
for i in range(11):
    lambdas.append(i/10)
lambdas

[0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]

In [9]:
NOVs = []
COVs = []
HitNOVs = []
HitCOVs = []
for lambda_ in tqdm(lambdas):
    top_n_size = 50
    top_n_lists_g = []
    top_n_items_g = []
    for groups in groups_n:

        group_size = len(groups[0])
        top_n_lists = []
        top_n_items = pd.DataFrame()

        for group in groups:
            rating_table = pd.DataFrame() 
            for member in group:
                prediction = svd[svd['uid'] == member].copy()
                if len(rating_table) == 0:
                    rating_table = prediction
                else:
                    rating_table = rating_table.set_index('tid').add(prediction.set_index('tid'), fill_value=0).reset_index()
            rating_table['rating'] /= group_size 
            rating_table['rating'] *= lambda_
            pop = pop_normalized.copy()
            pop['rating'] *= (1 - lambda_)
            rating_table = rating_table.set_index('tid').add(pop.set_index('tid'), fill_value=0).reset_index()
    #         rating_table = rating_table[rating_table['count'] == group_size]
            rating_table = rating_table.sort_values(by=['rating'],  ascending=False)
            rating_table = rating_table[:top_n_size]
            
            top_n_list = []
            for _, row in rating_table.iterrows():
                top_n_list.append(row[0])
            top_n_lists.append(top_n_list)
            
            if len(top_n_items) == 0:
                top_n_items = rating_table
            else:
                top_n_items = top_n_items.set_index('tid').add(rating_table.set_index('tid'), fill_value=0).reset_index()
                
        top_n_lists_g.append(top_n_lists)   
        top_n_items_g.append(top_n_items)
        
    COV = []    
    NOV = []
    HitNOV = []
    HitCOV = []
    for i in range(len(groups_n)):
        groups = groups_n[i]
        top_n_lists = top_n_lists_g[i]
        top_n_items = top_n_items_g[i]

        nov = 0
        hitNov = 0
        hits = np.zeros(len(df['tid'].unique()), dtype=bool)
        for j in (range(len(groups))):
            group = groups[j]
            top_n_list = top_n_lists[j]
            
            for k in range(len(group)):
                for l in range(top_n_size):
                    uid = group[k]
                    tid = top_n_list[l]
                    t = test[test['uid'] == uid]
                    t = t[t['tid'] == tid]
                    nov += (1-pop_dict[tid])
                    if len(t) > 0:
                        hits[int(tid)] = True
                        hitNov += (1-pop_dict[tid])
        NOV.append(nov/top_n_size/(len(groups)*len(groups[0])))
        COV.append(len(top_n_items)/len(df['tid'].unique()))
        HitNOV.append(hitNov/top_n_size/(len(groups)*len(groups[0])))
        HitCOV.append(list(hits).count(True)/len(df['tid'].unique()))
    NOVs.append(NOV)
    COVs.append(COV)
    HitNOVs.append(HitNOV)
    HitCOVs.append(HitCOV)
    
for NOV in NOVs:
    print(NOV)
print()
for HitNOV in HitNOVs:
    print(HitNOV)
print()  
for COV in COVs:
    print(COV)
print()    
for HitCOV in HitCOVs:
    print(HitCOV)

HBox(children=(FloatProgress(value=0.0, max=11.0), HTML(value='')))

[0.0799444145089471, 0.07233059270967535, 0.06466386848548465, 0.05835276514709897, 0.046645381721393264, 0.04236582584956134, 0.03892251875903296, 0.032873757983236794, 0.031628164769822706]
[0.0799444145089471, 0.07233059270967535, 0.06466386848548465, 0.05835276514709897, 0.046645381721393264, 0.04236582584956134, 0.03892251875903296, 0.032873757983236794, 0.031628164769822706]
[0.0799444145089471, 0.07233059270967535, 0.06466386848548465, 0.05835276514709897, 0.046645381721393264, 0.04236582584956134, 0.03892251875903296, 0.032873757983236794, 0.031628164769822706]
[0.0799444145089471, 0.07233059270967535, 0.06466386848548465, 0.05835276514709897, 0.046645381721393264, 0.04236582584956134, 0.03892251875903296, 0.032873757983236794, 0.031628164769822706]
[0.0799444145089471, 0.07233059270967535, 0.06466386848548465, 0.05835276514709897, 0.046645381721393264, 0.04236582584956134, 0.03892251875903296, 0.032873757983236794, 0.031628164769822706]
[0.0799444145089471, 0.07233059270967535, 0.06466386848548465, 0.05835276514709897, 0.046645381721393264, 0.04236582584956134, 0.03892251875903296, 0.032873757983236794, 0.031628164769822706]
[0.0799444145089471, 0.07233059270967535, 0.06466386848548465, 0.05835276514709897, 0.046645381721393264, 0.04236582584956134, 0.03892251875903296, 0.032873757983236794, 0.031628164769822706]
[0.0799444145089471, 0.07233059270967535, 0.06466386848548465, 0.05835276514709897, 0.046645381721393264, 0.04236582584956134, 0.03892251875903296, 0.032873757983236794, 0.031628164769822706]
[0.0799444145089471, 0.07233059270967535, 0.06466386848548465, 0.05835276514709897, 0.046645381721393264, 0.04236582584956134, 0.03892251875903296, 0.032873757983236794, 0.031628164769822706]
[0.0799444145089471, 0.07233059270967535, 0.06466386848548465, 0.05835276514709897, 0.046645381721393264, 0.04236582584956134, 0.03892251875903296, 0.032873757983236794, 0.031628164769822706]
[0.0799444145089471, 0.07233059270967535, 0.06466386848548465, 0.05835276514709897, 0.046645381721393264, 0.04236582584956134, 0.03892251875903296, 0.032873757983236794, 0.031628164769822706]

[0.054225941098973766, 0.05685591285495646, 0.059982126617698604, 0.06328731879833671, 0.06521707231762773, 0.0659367774582884, 0.06758716268387804, 0.0686399544000102, 0.06975741921597094]
[0.06227276594537898, 0.06149138924677889, 0.06270381252186114, 0.06604644203489976, 0.06721768655252161, 0.06691268857061099, 0.06870532974321406, 0.0689916961382508, 0.06908391852987841]
[0.06988725633006865, 0.06573022050435179, 0.06741804826862592, 0.06838801445726973, 0.06747344713740976, 0.0678866464071084, 0.06969970698291401, 0.06978969595688726, 0.06769117765759934]
[0.07790087425974138, 0.07123496309677207, 0.07093644630989891, 0.07032668765302594, 0.06819026778935186, 0.06849452401393674, 0.06781291453008371, 0.06868793802546855, 0.06712960421879617]
[0.0815225938520799, 0.0754627551163474, 0.0735549842602311, 0.0711817651859629, 0.06752924014025045, 0.06655165051807266, 0.06572506879961983, 0.06467809257316061, 0.06183991174967017]
[0.08452176110098475, 0.07693481093829106, 0.07345886673662134, 0.07017325405153363, 0.06342222677211035, 0.06187582616753664, 0.05993283375240047, 0.059951757283691384, 0.05558280194796438]
[0.08615534546279555, 0.0766866937334614, 0.07266652675760782, 0.06735560219190884, 0.059187247801124415, 0.05621282529991863, 0.05378368211605829, 0.051179200186545176, 0.048418866198509235]
[0.08732070714232298, 0.07759831636862194, 0.07156691150752041, 0.06587015662041917, 0.057164794103345004, 0.05269647456426042, 0.04979033439584999, 0.045634759628463514, 0.04185024349557394]
[0.08768260581481979, 0.0779776647288966, 0.07207247289262, 0.06456239555400119, 0.05543964715617772, 0.050313705182540275, 0.047377596071987056, 0.04272465119894283, 0.0391001156940296]
[0.0875735231558942, 0.07731616643274687, 0.07105477439664232, 0.06429610197815878, 0.05290878611829134, 0.048054991528233774, 0.04446172959274575, 0.039405075589755506, 0.03603056474829819]
[0.0799444145089471, 0.07233059270967535, 0.06466386848548465, 0.05835276514709897, 0.046645381721393264, 0.04236582584956134, 0.03892251875903296, 0.032873757983236794, 0.031628164769822706]

[0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521]
[0.0005648390843260327, 0.0005267600449332664, 0.0005140670318023444, 0.0004950275121059612, 0.0004886810055405003, 0.00047598799240957816, 0.0004823344989750392, 0.00046329497927865605, 0.0004696414858441171]
[0.00091389694542639, 0.0008758179060336238, 0.000907550438860929, 0.0008313923600753965, 0.0008377388666408576, 0.0008250458535099354, 0.0007869668141171692, 0.0008250458535099354, 0.0007361947615934809]
[0.0011994897408721368, 0.0013137268590504357, 0.001377191924705046, 0.0014787360297524228, 0.001383538431270507, 0.001364498911574124, 0.0013391128853122798, 0.0012819943262231304, 0.001212182754003059]
[0.0014660430166215006, 0.0017452893055017865, 0.002145119219125832, 0.0022022377782149817, 0.0021705052453876764, 0.0022276238044768256, 0.0021133866862985268, 0.0020054960746856893, 0.0018976054630728515]
[0.0016247056807580267, 0.0021641587388222154, 0.0028305419281956247, 0.003001897605463073, 0.0031351742433377546, 0.003312876427170664, 0.0030082441120285338, 0.00316690677616506, 0.0029193930201120793]
[0.0017833683448945528, 0.0023545539357860464, 0.0032811438943433587, 0.0035413506635272613, 0.003890408524627619, 0.004106189747853294, 0.003972913109978612, 0.0041315757741151385, 0.0038015574327111643]
[0.0018595264236800854, 0.0025576421458808, 0.003452499571610807, 0.0038396364721039306, 0.004341010490775353, 0.004620256779655638, 0.004613910273090178, 0.004728147391268476, 0.0044996731549118785]
[0.0020689611403402995, 0.002728997823148248, 0.00365558778170556, 0.004106189747853294, 0.00463294979278656, 0.004912196081666847, 0.004785265950357625, 0.004924889094797769, 0.004740840404399398]
[0.0025068700933571116, 0.0030780556842486054, 0.003915794550889463, 0.004290238438251664, 0.004709107871572093, 0.004969314640755996, 0.0048550775225776974, 0.004899503068535925, 0.004683721845310249]
[0.0049629681341905344, 0.0045123661680428005, 0.004474287128650035, 0.004728147391268476, 0.004728147391268476, 0.004848731016012236, 0.004588524246828333, 0.004417168569560885, 0.0043219709710789695]

[0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521]
[0.0005394530580641886, 0.0005204135383678055, 0.0005013740186714223, 0.0004823344989750392, 0.0004886810055405003, 0.000456948472713195, 0.0004696414858441171, 0.000456948472713195, 0.000450601966147734]
[0.0008377388666408576, 0.0008313923600753965, 0.0008504318797717796, 0.0007933133206826302, 0.0007806203075517082, 0.0007869668141171692, 0.0007361947615934809, 0.000748887774724403, 0.0006917692156352535]
[0.0011296781686520655, 0.0012502617933958253, 0.0012629548065267475, 0.001351805898443202, 0.0012756478196576694, 0.001212182754003059, 0.0011804502211757537, 0.0011677572080448317, 0.0011106386489556823]
[0.0013073803524849747, 0.0015993196544961826, 0.0019039519696383126, 0.0019991495681202284, 0.001954724022162001, 0.0019039519696383126, 0.0018722194368110073, 0.0017008637595435593, 0.0016056661610616436]
[0.0014596965100560396, 0.001986456554989306, 0.0024497515342679623, 0.0026338002246663324, 0.0026591862509281767, 0.0026528397443627157, 0.0024560980408334233, 0.0024497515342679623, 0.0022910888701314362]
[0.0015739336282343385, 0.002107040179733066, 0.0027924628888028585, 0.003027283631724917, 0.00316690677616506, 0.003154213763034138, 0.0030463231514213, 0.0030780556842486054, 0.002767076862541014]
[0.001669131226716254, 0.0022910888701314362, 0.0029574720595048455, 0.0032494113615160534, 0.0035350041569618003, 0.003496925117569034, 0.0033699949862598133, 0.0032874904009088197, 0.003001897605463073]
[0.0017643288251981697, 0.0023862864686133517, 0.0031097882170759107, 0.0033763414928252742, 0.0036809738079674045, 0.003661934288271021, 0.003503271624134495, 0.0033636484796943523, 0.002995551098897612]
[0.0020181890878166113, 0.0025639886524462608, 0.003173253282730521, 0.0033890345059561966, 0.003623855248878255, 0.0035794297029200276, 0.0033763414928252742, 0.003173253282730521, 0.0027988093953683194]
[0.002748037342844631, 0.0029701650726357675, 0.0031859462958614432, 0.0033573019731288913, 0.003325569440301586, 0.0032430648549505925, 0.0029765115792012285, 0.002754383849410092, 0.0024814840670952672]

In [10]:
for NOV in NOVs:
    print(NOV)

[0.5490661070304452, 0.5490661070304448, 0.549066107030444, 0.5490661070304474, 0.5490661070304509, 0.5490661070304534, 0.5490661070304571, 0.5490661070304592, 0.5490661070304611]
[0.5619126977784035, 0.5620730449258746, 0.5632674361664973, 0.5647205705180557, 0.5635231489775633, 0.5638405036726247, 0.5632536775624354, 0.566195173137479, 0.5645830979094589]
[0.5791584315404101, 0.5819214472618307, 0.5824243441762956, 0.5821796665500755, 0.5830878099966769, 0.5835886673662177, 0.5828897820190576, 0.5857637868718845, 0.5853359162698256]
[0.6007639653390272, 0.6016912171645684, 0.6064339979013857, 0.6073838949127571, 0.6112182325391012, 0.6117879741804281, 0.6151081985388873, 0.6145174303369635, 0.6190905911157853]
[0.6127578499037312, 0.6309867573419423, 0.6373709688702605, 0.6446463409894783, 0.6482855168530769, 0.654697764634815, 0.6578091033281327, 0.6597724145971939, 0.6664040681249588]
[0.6279803852311792, 0.6485062936939423, 0.6671965022735414, 0.6801919863200109, 0.6922045914058401, 0.6985500333873911, 0.706693460571396, 0.7165241926081535, 0.721611644738612]
[0.6327202600864698, 0.6600397589668127, 0.6836800279818249, 0.7052257976759662, 0.7198687072914989, 0.7314356577315764, 0.7444514838939781, 0.7567881543663452, 0.7679855786046754]
[0.6368811795674266, 0.6706344167430395, 0.69720559636237, 0.717199487000133, 0.7378186983339122, 0.7528124900632894, 0.7666019917242697, 0.7789362247872411, 0.790608873463028]
[0.6397090785338302, 0.6750441200561358, 0.7057189227002435, 0.733544362830837, 0.7512246308192589, 0.7692864637985499, 0.7868625393494432, 0.7988126384516919, 0.8124357629079627]
[0.6475637003024034, 0.6812446593258582, 0.7118472193074492, 0.7392990944774851, 0.762637371074675, 0.7793220770135948, 0.7988865350729667, 0.8113811355952046, 0.827122985444079]
[0.6809529972593897, 0.7085609290669908, 0.7365157047918875, 0.7642062104076862, 0.7856816727663578, 0.8039069604757001, 0.8234413668851062, 0.8358596245773556, 0.8484085344526017]