In [3]:
import os 
import tqdm
import math
import random
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm
from numpy import count_nonzero

dir_ = '../data/'
folder = 'sp_matrix_tag_pop'
file_name = 'normalized_to_rating_filter_track_5_user_50.pkl'

In [4]:
predictions = pd.read_pickle(os.path.join(dir_, folder, 'topN_pred_' + file_name[:-3] + 'pkl'))

In [5]:
predictions[:10]

   uid  tid    rating
0    0    2  0.070515
1    0   14  0.022937
2    0   15  0.147609
3    0   20  0.038996
4    0   21  0.023123
5    0   24  0.068036
6    0   30  0.033188
7    0   44  0.033696
8    0   46  0.031238
9    0   48  0.232411

In [7]:
test = pd.read_pickle(os.path.join(dir_, folder, 'test_' + file_name[:-3] + 'pkl'))
test.sort_values(by=['uid','tid'])[:10]

    uid  tid  count  tags  rating  pop
7     0    2      4     0    3.00   24
24    0   14      2     1    1.50    6
25    0   15     12     0    4.75   53
33    0   20      3    12    2.50   12
34    0   21      1     5    0.25    6
37    0   24      5     9    3.50   23
46    0   30      5     1    3.50   10
61    0   44     13     2    4.75   10
66    0   46      2     6    1.50    9
68    0   48      4     2    3.00   85

In [8]:
test[test['uid']==0]

      uid   tid  count  tags  rating  pop
1290    0   942     36     0    5.00   50
1400    0  1026      1     2    0.25   52
68      0    48      4     2    3.00   85
2786    0  2026      6     0    3.75   17
2136    0  1563      2     1    1.50   20
...   ...   ...    ...   ...     ...  ...
2276    0  1668      2    12    1.50    7
2212    0  1622      9     1    4.50    9
1827    0  1344      1     0    0.25    8
543     0   392      1     2    0.25   20
327     0   243      3     3    2.50   10

[424 rows x 6 columns]

In [9]:
len(predictions[predictions['uid']==0]), len(test[test['uid']==0])

(37475, 424)

In [10]:
num_user = len(predictions['uid'].unique())
num_user

218

In [11]:
# Personal Recommendation
n=20
top_n_lists = []

for i in tqdm(range(num_user)):
    prediction = predictions[predictions['uid'] == i]
    prediction = prediction.sort_values(by=['rating'],  ascending=False)
    prediction = prediction[:n]
#     print(prediction)
    top_n_list = []
    for _, row in prediction.iterrows():
        top_n_list.append(row[1])
#     print(top_n_list)
    top_n_lists.append(top_n_list)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=218.0), HTML(value='')))

In [12]:
evaluation = []
satisfication = 0
for i in tqdm(range(num_user)):
    top_n_list = top_n_lists[i]
    precision = 0
    for j in top_n_list:
        p = test[test['uid'] == i]
        p = p[p['tid']==j]
        if len(p) > 0:
            precision += 1
    satisfication += precision / n
    evaluation.append(precision)
#     print(precision, satisfication)
print(satisfication/num_user)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=218.0), HTML(value='')))

0.16192660550458718