In [124]:
import os 
import tqdm
import math
import random
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm
from numpy import count_nonzero

dir_ = './data/'
folder = 'sp_matrix'
file_name = 'normalized_to_rating_filter_track_5_user_50.pkl'

In [125]:
predictions = pd.read_pickle(os.path.join(dir_, folder, 'topN_pred_' + file_name[:-3] + 'pkl'))

In [126]:
predictions[:10]

   uid  tid    rating
0    0   10  0.004001
1    0   15  0.003909
2    0   18  0.004299
3    0   38  0.004393
4    0   41  0.003396
5    0   42  0.002689
6    0   62  0.002730
7    0   67  0.002732
8    0   71  0.003480
9    0   76  0.004259

In [127]:
test = pd.read_pickle(os.path.join(dir_, 'test_' + file_name[:-3] + 'pkl'))
test.sort_values(by=['uid','tid'])[:10]

     uid  tid  count           tags  rating
20     0   10      1        [1, 12]    0.25
25     0   15     12            [0]    4.75
29     0   18      7         [9, 1]    4.25
54     0   38      4            [1]    3.00
58     0   41      4            [1]    3.00
59     0   42      2            [1]    1.50
85     0   62     10        [0, 12]    4.50
91     0   67      1         [8, 0]    0.25
96     0   71      2         [4, 1]    1.50
104    0   76      1  [7, 12, 2, 5]    0.25

In [128]:
test[test['uid']==0]

      uid   tid  count        tags  rating
1548    0  1137      1  [12, 1, 0]    0.25
2144    0  1570      2      [0, 8]    1.50
390     0   284      2  [1, 2, 12]    1.50
548     0   396      6        [11]    3.75
2145    0  1571      6  [12, 0, 1]    3.75
...   ...   ...    ...         ...     ...
1515    0  1112      7      [1, 5]    4.25
137     0    98      1         [1]    0.25
174     0   127      1      [9, 1]    0.25
2209    0  1619      1        [17]    0.25
385     0   280     11  [2, 1, 12]    4.50

[427 rows x 5 columns]

In [129]:
len(predictions[predictions['uid']==0]), len(test[test['uid']==0])

(37478, 427)

In [130]:
num_user = len(predictions['uid'].unique())
num_user

218

In [131]:
# Personal Recommendation
n=20
top_n_lists = []

for i in tqdm(range(num_user)):
    prediction = predictions[predictions['uid'] == i]
    prediction = prediction.sort_values(by=['rating'],  ascending=False)
    prediction = prediction[:n]
#     print(prediction)
    top_n_list = []
    for _, row in prediction.iterrows():
        top_n_list.append(row[1])
#     print(top_n_list)
    top_n_lists.append(top_n_list)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=218.0), HTML(value='')))

In [132]:
evaluation = []
satisfication = 0
for i in tqdm(range(num_user)):
    top_n_list = top_n_lists[i]
    precision = 0
    for j in top_n_list:
        p = test[test['uid'] == i]
        p = p[p['tid']==j]
        if len(p) > 0:
            precision += 1
    satisfication += precision / n
    evaluation.append(precision)
#     print(precision, satisfication)
print(satisfication/num_user)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=218.0), HTML(value='')))

0.01582568807339449