In [1]:
import numpy as np
import tensorflow as tf
import time
import os
import math
import pandas as pd
from tqdm.notebook import tqdm
import scipy.sparse as sp
from tffm import TFFMClassifier
from tffm import TFFMRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error 
from sklearn.metrics import roc_auc_score, accuracy_score

dir_ = '../data/'
folder = 'sp_matrix_pop'
file_name = 'normalized_to_rating_filter_track_5_user_50.pkl'

/home/han/anaconda3/envs/fm/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/han/anaconda3/envs/fm/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/han/anaconda3/envs/fm/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/han/anaconda3/envs/fm/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/han/anaconda3/envs/fm/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/han/anaconda3/envs/fm/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

WARNING:tensorflow:From /home/han/anaconda3/envs/fm/lib/python3.6/site-packages/tffm/core.py:96: The name tf.train.AdamOptimizer is deprecated. Please use tf.compat.v1.train.AdamOptimizer instead.

/home/han/anaconda3/envs/fm/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/han/anaconda3/envs/fm/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/han/anaconda3/envs/fm/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/han/anaconda3/envs/fm/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/han/anaconda3/envs/fm/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/han/anaconda3/envs/fm/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
df = pd.read_pickle(os.path.join(dir_, folder, file_name))
train = pd.read_pickle(os.path.join(dir_, folder, 'train_' + file_name))
train_ = train[['uid', 'tid', 'rating', 'count','pop']]

In [3]:
train_x = sp.load_npz(os.path.join(dir_, folder, 'train_x_' + file_name + '.npz'))
train_y = np.loadtxt(os.path.join(dir_, folder, 'train_y_' + file_name[:-3] + 'csv'), delimiter=',')
test_x_sp = sp.load_npz(os.path.join(dir_, folder, 'test_x_' + file_name + '.npz'))
test_y_sp = np.loadtxt(os.path.join(dir_, folder, 'test_y_' + file_name[:-3] + 'csv'), delimiter=',')

In [4]:
unique_users = len(df['uid'].unique())
unique_tracks = len(df['tid'].unique())
l = unique_users + unique_tracks + 1
tid_start = unique_users
tag_start = unique_users + unique_tracks
print ('Tid start position : ' + str(tid_start))
print ('Tag start position : ' + str(tag_start))
print ('Length of vector : ' + str(l))
print('----------------------------------------')
print ('Number of unique users : ' + str(unique_users))
print ('Number of unique tracks : ' + str(unique_tracks))

Tid start position : 218
Tag start position : 39355
Length of vector : 39374
----------------------------------------
Number of unique users : 218
Number of unique tracks : 39137

In [5]:
track_ids = []
for i in range(unique_tracks):
    track_ids.append(i)

all_tracks = pd.DataFrame()
all_tracks['tid'] = track_ids
all_tracks['count'] = 0

In [6]:
x_test = []
for i in tqdm(range(unique_users)):
    user = train_[train_['uid']==i]
    top_n = all_tracks.set_index('tid').add(user.set_index('tid'), fill_value=0).reset_index()
    top_n = top_n[top_n['count']==0]
    top_n['uid'] = i
    top_n = top_n[['uid', 'tid']]
    top_n = top_n.values.tolist()
    x_test.extend(top_n)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=218.0), HTML(value='')))

In [58]:
i = 0
v = []
sp_rows = []
sp_cols = []
for row in tqdm(x_test):
    sp_rows.append(i)
    sp_cols.append(row[0])
    v.append(1)
    
    sp_rows.append(i)
    sp_cols.append(tid_start + row[1])
    v.append(1)
    
    t = df[df['tid']==row[1]].reset_index()
    pop = t['pop'].iloc[0]
    sp_rows.append(i)
    sp_cols.append(tag_start)
    v.append(pop)
    
    i += 1

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=8169189.0), HTML(value='')))

In [59]:
test_x = sp.csr_matrix((v, (sp_rows, sp_cols)), shape=(len(x_test), l), dtype=float)

In [60]:
test_x

<8169189x39374 sparse matrix of type '<class 'numpy.float64'>'
	with 24507567 stored elements in Compressed Sparse Row format>

In [10]:
x_test

[[0, 2],
 [0, 14],
 [0, 15],
 [0, 20],
 [0, 21],
 [0, 24],
 [0, 30],
 [0, 44],
 [0, 46],
 [0, 48],
 [0, 49],
 [0, 51],
 [0, 52],
 [0, 58],
 [0, 61],
 [0, 66],
 [0, 69],
 [0, 70],
 [0, 75],
 [0, 79],
 [0, 84],
 [0, 88],
 [0, 95],
 [0, 105],
 [0, 115],
 [0, 118],
 [0, 119],
 [0, 123],
 [0, 127],
 [0, 135],
 [0, 138],
 [0, 141],
 [0, 151],
 [0, 155],
 [0, 176],
 [0, 182],
 [0, 184],
 [0, 187],
 [0, 191],
 [0, 194],
 [0, 195],
 [0, 196],
 [0, 198],
 [0, 202],
 [0, 203],
 [0, 207],
 [0, 209],
 [0, 212],
 [0, 213],
 [0, 215],
 [0, 216],
 [0, 224],
 [0, 227],
 [0, 242],
 [0, 243],
 [0, 246],
 [0, 247],
 [0, 255],
 [0, 268],
 [0, 286],
 [0, 290],
 [0, 291],
 [0, 297],
 [0, 304],
 [0, 314],
 [0, 327],
 [0, 339],
 [0, 347],
 [0, 351],
 [0, 354],
 [0, 358],
 [0, 366],
 [0, 379],
 [0, 382],
 [0, 389],
 [0, 392],
 [0, 396],
 [0, 399],
 [0, 400],
 [0, 401],
 [0, 409],
 [0, 411],
 [0, 420],
 [0, 428],
 [0, 438],
 [0, 443],
 [0, 446],
 [0, 449],
 [0, 451],
 [0, 453],
 [0, 454],
 [0, 458],
 [0, 464],
 [0, 465],
 [0, 470],
 [0, 474],
 [0, 483],
 [0, 500],
 [0, 506],
 [0, 509],
 [0, 510],
 [0, 519],
 [0, 520],
 [0, 522],
 [0, 523],
 [0, 542],
 [0, 543],
 [0, 545],
 [0, 559],
 [0, 566],
 [0, 567],
 [0, 571],
 [0, 577],
 [0, 580],
 [0, 582],
 [0, 583],
 [0, 589],
 [0, 590],
 [0, 591],
 [0, 595],
 [0, 599],
 [0, 601],
 [0, 606],
 [0, 614],
 [0, 616],
 [0, 617],
 [0, 629],
 [0, 641],
 [0, 643],
 [0, 650],
 [0, 651],
 [0, 654],
 [0, 657],
 [0, 661],
 [0, 663],
 [0, 669],
 [0, 672],
 [0, 674],
 [0, 681],
 [0, 688],
 [0, 692],
 [0, 695],
 [0, 696],
 [0, 698],
 [0, 701],
 [0, 707],
 [0, 708],
 [0, 717],
 [0, 718],
 [0, 720],
 [0, 721],
 [0, 722],
 [0, 723],
 [0, 726],
 [0, 729],
 [0, 733],
 [0, 744],
 [0, 746],
 [0, 751],
 [0, 755],
 [0, 761],
 [0, 763],
 [0, 771],
 [0, 774],
 [0, 775],
 [0, 777],
 [0, 778],
 [0, 785],
 [0, 794],
 [0, 798],
 [0, 810],
 [0, 812],
 [0, 814],
 [0, 815],
 [0, 820],
 [0, 826],
 [0, 832],
 [0, 834],
 [0, 852],
 [0, 855],
 [0, 857],
 [0, 868],
 [0, 876],
 [0, 877],
 [0, 881],
 [0, 890],
 [0, 893],
 [0, 895],
 [0, 896],
 [0, 902],
 [0, 906],
 [0, 910],
 [0, 912],
 [0, 913],
 [0, 920],
 [0, 921],
 [0, 924],
 [0, 925],
 [0, 936],
 [0, 940],
 [0, 942],
 [0, 943],
 [0, 947],
 [0, 948],
 [0, 959],
 [0, 963],
 [0, 964],
 [0, 967],
 [0, 969],
 [0, 971],
 [0, 974],
 [0, 980],
 [0, 983],
 [0, 988],
 [0, 1008],
 [0, 1017],
 [0, 1022],
 [0, 1024],
 [0, 1026],
 [0, 1028],
 [0, 1046],
 [0, 1049],
 [0, 1062],
 [0, 1065],
 [0, 1068],
 [0, 1069],
 [0, 1098],
 [0, 1099],
 [0, 1106],
 [0, 1111],
 [0, 1112],
 [0, 1125],
 [0, 1126],
 [0, 1139],
 [0, 1144],
 [0, 1146],
 [0, 1155],
 [0, 1157],
 [0, 1162],
 [0, 1170],
 [0, 1180],
 [0, 1182],
 [0, 1185],
 [0, 1188],
 [0, 1197],
 [0, 1205],
 [0, 1243],
 [0, 1244],
 [0, 1250],
 [0, 1252],
 [0, 1261],
 [0, 1268],
 [0, 1271],
 [0, 1275],
 [0, 1276],
 [0, 1280],
 [0, 1282],
 [0, 1299],
 [0, 1300],
 [0, 1313],
 [0, 1321],
 [0, 1325],
 [0, 1328],
 [0, 1330],
 [0, 1332],
 [0, 1343],
 [0, 1344],
 [0, 1347],
 [0, 1351],
 [0, 1356],
 [0, 1362],
 [0, 1366],
 [0, 1368],
 [0, 1381],
 [0, 1392],
 [0, 1394],
 [0, 1395],
 [0, 1397],
 [0, 1403],
 [0, 1408],
 [0, 1413],
 [0, 1417],
 [0, 1420],
 [0, 1421],
 [0, 1422],
 [0, 1439],
 [0, 1442],
 [0, 1453],
 [0, 1454],
 [0, 1469],
 [0, 1489],
 [0, 1490],
 [0, 1492],
 [0, 1493],
 [0, 1497],
 [0, 1503],
 [0, 1517],
 [0, 1525],
 [0, 1527],
 [0, 1528],
 [0, 1529],
 [0, 1533],
 [0, 1544],
 [0, 1545],
 [0, 1551],
 [0, 1553],
 [0, 1556],
 [0, 1560],
 [0, 1561],
 [0, 1563],
 [0, 1564],
 [0, 1569],
 [0, 1570],
 [0, 1571],
 [0, 1575],
 [0, 1578],
 [0, 1587],
 [0, 1589],
 [0, 1595],
 [0, 1599],
 [0, 1603],
 [0, 1613],
 [0, 1615],
 [0, 1616],
 [0, 1621],
 [0, 1622],
 [0, 1629],
 [0, 1632],
 [0, 1634],
 [0, 1635],
 [0, 1653],
 [0, 1656],
 [0, 1660],
 [0, 1662],
 [0, 1668],
 [0, 1670],
 [0, 1672],
 [0, 1676],
 [0, 1678],
 [0, 1680],
 [0, 1684],
 [0, 1686],
 [0, 1690],
 [0, 1694],
 [0, 1697],
 [0, 1702],
 [0, 1703],
 [0, 1710],
 [0, 1712],
 [0, 1721],
 [0, 1723],
 [0, 1734],
 [0, 1735],
 [0, 1739],
 [0, 1741],
 [0, 1745],
 [0, 1756],
 [0, 1760],
 [0, 1761],
 [0, 1764],
 [0, 1766],
 [0, 1769],
 [0, 1773],
 [0, 1774],
 [0, 1776],
 [0, 1780],
 [0, 1785],
 [0, 1792],
 [0, 1796],
 [0, 1801],
 [0, 1802],
 [0, 1807],
 [0, 1810],
 [0, 1822],
 [0, 1826],
 [0, 1837],
 [0, 1848],
 [0, 1851],
 [0, 1853],
 [0, 1858],
 [0, 1861],
 [0, 1868],
 [0, 1872],
 [0, 1876],
 [0, 1882],
 [0, 1888],
 [0, 1891],
 [0, 1894],
 [0, 1895],
 [0, 1900],
 [0, 1901],
 [0, 1906],
 [0, 1916],
 [0, 1923],
 [0, 1924],
 [0, 1931],
 [0, 1938],
 [0, 1944],
 [0, 1947],
 [0, 1952],
 [0, 1953],
 [0, 1956],
 [0, 1959],
 [0, 1960],
 [0, 1962],
 [0, 1974],
 [0, 1977],
 [0, 1995],
 [0, 1996],
 [0, 2007],
 [0, 2009],
 [0, 2014],
 [0, 2026],
 [0, 2044],
 [0, 2046],
 [0, 2047],
 [0, 2048],
 [0, 2054],
 [0, 2056],
 [0, 2057],
 [0, 2060],
 [0, 2068],
 [0, 2070],
 [0, 2084],
 [0, 2086],
 [0, 2087],
 [0, 2088],
 [0, 2089],
 [0, 2090],
 [0, 2091],
 [0, 2092],
 [0, 2093],
 [0, 2094],
 [0, 2095],
 [0, 2096],
 [0, 2097],
 [0, 2098],
 [0, 2099],
 [0, 2100],
 [0, 2101],
 [0, 2102],
 [0, 2103],
 [0, 2104],
 [0, 2105],
 [0, 2106],
 [0, 2107],
 [0, 2108],
 [0, 2109],
 [0, 2110],
 [0, 2111],
 [0, 2112],
 [0, 2113],
 [0, 2114],
 [0, 2115],
 [0, 2116],
 [0, 2117],
 [0, 2118],
 [0, 2119],
 [0, 2120],
 [0, 2121],
 [0, 2122],
 [0, 2123],
 [0, 2124],
 [0, 2125],
 [0, 2126],
 [0, 2127],
 [0, 2128],
 [0, 2129],
 [0, 2130],
 [0, 2131],
 [0, 2132],
 [0, 2133],
 [0, 2134],
 [0, 2135],
 [0, 2136],
 [0, 2137],
 [0, 2138],
 [0, 2139],
 [0, 2140],
 [0, 2141],
 [0, 2142],
 [0, 2143],
 [0, 2144],
 [0, 2145],
 [0, 2146],
 [0, 2147],
 [0, 2148],
 [0, 2149],
 [0, 2150],
 [0, 2151],
 [0, 2152],
 [0, 2153],
 [0, 2154],
 [0, 2155],
 [0, 2156],
 [0, 2157],
 [0, 2158],
 [0, 2159],
 [0, 2160],
 [0, 2161],
 [0, 2162],
 [0, 2163],
 [0, 2164],
 [0, 2165],
 [0, 2166],
 [0, 2167],
 [0, 2168],
 [0, 2169],
 [0, 2170],
 [0, 2171],
 [0, 2172],
 [0, 2173],
 [0, 2174],
 [0, 2175],
 [0, 2176],
 [0, 2177],
 [0, 2178],
 [0, 2179],
 [0, 2180],
 [0, 2181],
 [0, 2182],
 [0, 2183],
 [0, 2184],
 [0, 2185],
 [0, 2186],
 [0, 2187],
 [0, 2188],
 [0, 2189],
 [0, 2190],
 [0, 2191],
 [0, 2192],
 [0, 2193],
 [0, 2194],
 [0, 2195],
 [0, 2196],
 [0, 2197],
 [0, 2198],
 [0, 2199],
 [0, 2200],
 [0, 2201],
 [0, 2202],
 [0, 2203],
 [0, 2204],
 [0, 2205],
 [0, 2206],
 [0, 2207],
 [0, 2208],
 [0, 2209],
 [0, 2210],
 [0, 2211],
 [0, 2212],
 [0, 2213],
 [0, 2214],
 [0, 2215],
 [0, 2216],
 [0, 2217],
 [0, 2218],
 [0, 2219],
 [0, 2220],
 [0, 2221],
 [0, 2222],
 [0, 2223],
 [0, 2224],
 [0, 2225],
 [0, 2226],
 [0, 2227],
 [0, 2228],
 [0, 2229],
 [0, 2230],
 [0, 2231],
 [0, 2232],
 [0, 2233],
 [0, 2234],
 [0, 2235],
 [0, 2236],
 [0, 2237],
 [0, 2238],
 [0, 2239],
 [0, 2240],
 [0, 2241],
 [0, 2242],
 [0, 2243],
 [0, 2244],
 [0, 2245],
 [0, 2246],
 [0, 2247],
 [0, 2248],
 [0, 2249],
 [0, 2250],
 [0, 2251],
 [0, 2252],
 [0, 2253],
 [0, 2254],
 [0, 2255],
 [0, 2256],
 [0, 2257],
 [0, 2258],
 [0, 2259],
 [0, 2260],
 [0, 2261],
 [0, 2262],
 [0, 2263],
 [0, 2264],
 [0, 2265],
 [0, 2266],
 [0, 2267],
 [0, 2268],
 [0, 2269],
 [0, 2270],
 [0, 2271],
 [0, 2272],
 [0, 2273],
 [0, 2274],
 [0, 2275],
 [0, 2276],
 [0, 2277],
 [0, 2278],
 [0, 2279],
 [0, 2280],
 [0, 2281],
 [0, 2282],
 [0, 2283],
 [0, 2284],
 [0, 2285],
 [0, 2286],
 [0, 2287],
 [0, 2288],
 [0, 2289],
 [0, 2290],
 [0, 2291],
 [0, 2292],
 [0, 2293],
 [0, 2294],
 [0, 2295],
 [0, 2296],
 [0, 2297],
 [0, 2298],
 [0, 2299],
 [0, 2300],
 [0, 2301],
 [0, 2302],
 [0, 2303],
 [0, 2304],
 [0, 2305],
 [0, 2306],
 [0, 2307],
 [0, 2308],
 [0, 2309],
 [0, 2310],
 [0, 2311],
 [0, 2312],
 [0, 2313],
 [0, 2314],
 [0, 2315],
 [0, 2316],
 [0, 2317],
 [0, 2318],
 [0, 2319],
 [0, 2320],
 [0, 2321],
 [0, 2322],
 [0, 2323],
 [0, 2324],
 [0, 2325],
 [0, 2326],
 [0, 2327],
 [0, 2328],
 [0, 2329],
 [0, 2330],
 [0, 2331],
 [0, 2332],
 [0, 2333],
 [0, 2334],
 [0, 2335],
 [0, 2336],
 [0, 2337],
 [0, 2338],
 [0, 2339],
 [0, 2340],
 [0, 2341],
 [0, 2342],
 [0, 2343],
 [0, 2344],
 [0, 2345],
 [0, 2346],
 [0, 2347],
 [0, 2348],
 [0, 2349],
 [0, 2350],
 [0, 2351],
 [0, 2352],
 [0, 2353],
 [0, 2354],
 [0, 2355],
 [0, 2356],
 [0, 2357],
 [0, 2358],
 [0, 2359],
 [0, 2360],
 [0, 2361],
 [0, 2362],
 [0, 2363],
 [0, 2364],
 [0, 2365],
 [0, 2366],
 [0, 2367],
 [0, 2368],
 [0, 2369],
 [0, 2370],
 [0, 2371],
 [0, 2372],
 [0, 2373],
 [0, 2374],
 [0, 2375],
 [0, 2376],
 [0, 2377],
 [0, 2378],
 [0, 2379],
 [0, 2380],
 [0, 2381],
 [0, 2382],
 [0, 2383],
 [0, 2384],
 [0, 2385],
 [0, 2386],
 [0, 2387],
 [0, 2388],
 [0, 2389],
 [0, 2390],
 [0, 2391],
 [0, 2392],
 [0, 2393],
 [0, 2394],
 [0, 2395],
 [0, 2396],
 [0, 2397],
 [0, 2398],
 [0, 2399],
 [0, 2400],
 [0, 2401],
 [0, 2402],
 [0, 2403],
 [0, 2404],
 [0, 2405],
 [0, 2406],
 [0, 2407],
 [0, 2408],
 [0, 2409],
 [0, 2410],
 [0, 2411],
 [0, 2412],
 [0, 2413],
 [0, 2414],
 [0, 2415],
 [0, 2416],
 [0, 2417],
 [0, 2418],
 [0, 2419],
 [0, 2420],
 [0, 2421],
 [0, 2422],
 [0, 2423],
 [0, 2424],
 [0, 2425],
 [0, 2426],
 [0, 2427],
 [0, 2428],
 [0, 2429],
 [0, 2430],
 [0, 2431],
 [0, 2432],
 [0, 2433],
 [0, 2434],
 [0, 2435],
 [0, 2436],
 [0, 2437],
 [0, 2438],
 [0, 2439],
 [0, 2440],
 [0, 2441],
 [0, 2442],
 [0, 2443],
 [0, 2444],
 [0, 2445],
 [0, 2446],
 [0, 2447],
 [0, 2448],
 [0, 2449],
 [0, 2450],
 [0, 2451],
 [0, 2452],
 [0, 2453],
 [0, 2454],
 [0, 2455],
 [0, 2456],
 [0, 2457],
 [0, 2458],
 [0, 2459],
 [0, 2460],
 [0, 2461],
 [0, 2462],
 [0, 2463],
 [0, 2464],
 [0, 2465],
 [0, 2466],
 [0, 2467],
 [0, 2468],
 [0, 2469],
 [0, 2470],
 [0, 2471],
 [0, 2472],
 [0, 2473],
 [0, 2474],
 [0, 2475],
 [0, 2476],
 [0, 2477],
 [0, 2478],
 [0, 2479],
 [0, 2480],
 [0, 2481],
 [0, 2482],
 [0, 2483],
 [0, 2484],
 [0, 2485],
 [0, 2486],
 [0, 2487],
 [0, 2488],
 [0, 2489],
 [0, 2490],
 [0, 2491],
 [0, 2492],
 [0, 2493],
 [0, 2494],
 [0, 2495],
 [0, 2496],
 [0, 2497],
 [0, 2498],
 [0, 2499],
 [0, 2500],
 [0, 2501],
 [0, 2502],
 [0, 2503],
 [0, 2504],
 [0, 2505],
 [0, 2506],
 [0, 2507],
 [0, 2508],
 [0, 2509],
 [0, 2510],
 [0, 2511],
 [0, 2512],
 [0, 2513],
 [0, 2514],
 [0, 2515],
 [0, 2516],
 [0, 2517],
 [0, 2518],
 [0, 2519],
 [0, 2520],
 [0, 2521],
 [0, 2522],
 [0, 2523],
 [0, 2524],
 [0, 2525],
 [0, 2526],
 [0, 2527],
 [0, 2528],
 [0, 2529],
 [0, 2530],
 [0, 2531],
 [0, 2532],
 [0, 2533],
 [0, 2534],
 [0, 2535],
 [0, 2536],
 [0, 2537],
 [0, 2538],
 [0, 2539],
 [0, 2540],
 [0, 2541],
 [0, 2542],
 [0, 2543],
 [0, 2544],
 [0, 2545],
 [0, 2546],
 [0, 2547],
 [0, 2548],
 [0, 2549],
 [0, 2550],
 [0, 2551],
 [0, 2552],
 [0, 2553],
 [0, 2554],
 [0, 2555],
 [0, 2556],
 [0, 2557],
 [0, 2558],
 [0, 2559],
 [0, 2560],
 [0, 2561],
 [0, 2562],
 [0, 2563],
 [0, 2564],
 [0, 2565],
 [0, 2566],
 [0, 2567],
 [0, 2568],
 [0, 2569],
 [0, 2570],
 [0, 2571],
 [0, 2572],
 [0, 2573],
 [0, 2574],
 [0, 2575],
 [0, 2576],
 [0, 2577],
 [0, 2578],
 [0, 2579],
 [0, 2580],
 [0, 2581],
 [0, 2582],
 [0, 2583],
 [0, 2584],
 [0, 2585],
 [0, 2586],
 [0, 2587],
 [0, 2588],
 [0, 2589],
 [0, 2590],
 [0, 2591],
 [0, 2592],
 [0, 2593],
 [0, 2594],
 [0, 2595],
 [0, 2596],
 [0, 2597],
 [0, 2598],
 [0, 2599],
 [0, 2600],
 [0, 2601],
 [0, 2602],
 [0, 2603],
 [0, 2604],
 [0, 2605],
 [0, 2606],
 [0, 2607],
 [0, 2608],
 [0, 2609],
 [0, 2610],
 [0, 2611],
 [0, 2612],
 [0, 2613],
 [0, 2614],
 [0, 2615],
 [0, 2616],
 [0, 2617],
 [0, 2618],
 [0, 2619],
 [0, 2620],
 [0, 2621],
 [0, 2622],
 [0, 2623],
 [0, 2624],
 [0, 2625],
 [0, 2626],
 [0, 2627],
 [0, 2628],
 [0, 2629],
 [0, 2630],
 [0, 2631],
 [0, 2632],
 [0, 2633],
 [0, 2634],
 [0, 2635],
 [0, 2636],
 [0, 2637],
 [0, 2638],
 [0, 2639],
 [0, 2640],
 [0, 2641],
 [0, 2642],
 [0, 2643],
 [0, 2644],
 [0, 2645],
 [0, 2646],
 [0, 2647],
 [0, 2648],
 [0, 2649],
 [0, 2650],
 [0, 2651],
 [0, 2652],
 [0, 2653],
 [0, 2654],
 [0, 2655],
 [0, 2656],
 [0, 2657],
 [0, 2658],
 [0, 2659],
 [0, 2660],
 [0, 2661],
 ...]

In [61]:
sp.save_npz(os.path.join(dir_, folder, 'topN_test_x_' + file_name), test_x)

In [7]:
test_x = sp.load_npz(os.path.join(dir_, folder, 'topN_test_x_' + file_name + '.npz'))

In [8]:
print(test_x[1,:])

  (0, 0)	1.0
  (0, 232)	1.0
  (0, 39355)	6.0

In [9]:
order = 3
model = TFFMRegressor(
    order=order, 
    rank=10, 
    optimizer=tf.train.AdamOptimizer(learning_rate=0.0001), 
    n_epochs=10, 
    batch_size=16384,
    init_std=0.00001,
    reg=0.0001,
    input_type='sparse'
)
model.fit(train_x, train_y, show_progress=True)
predictions = model.predict(test_x)

WARNING:tensorflow:From /home/han/anaconda3/envs/fm/lib/python3.6/site-packages/tffm/core.py:122: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/han/anaconda3/envs/fm/lib/python3.6/site-packages/tffm/core.py:123: The name tf.verify_tensor_all_finite is deprecated. Please use tf.compat.v1.verify_tensor_all_finite instead.

WARNING:tensorflow:From /home/han/anaconda3/envs/fm/lib/python3.6/site-packages/tffm/core.py:127: The name tf.summary.scalar is deprecated. Please use tf.compat.v1.summary.scalar instead.

WARNING:tensorflow:From /home/han/anaconda3/envs/fm/lib/python3.6/site-packages/tffm/core.py:134: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/han/anaconda3/envs/fm/lib/python3.6/site-packages/tffm/utils.py:145: The name tf.sparse_tensor_dense_matmul is deprecated. Please use tf.sparse.sparse_dense_matmul instead.

WARNING:tensorflow:Variable += will be deprecated. Use variable.assign_add if you want assignment to the variable value or 'x = x + y' if you want a new python Tensor object.
WARNING:tensorflow:From /home/han/anaconda3/envs/fm/lib/python3.6/site-packages/tensorflow/python/ops/math_grad.py:1205: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

/home/han/anaconda3/envs/fm/lib/python3.6/site-packages/numpy/core/_asarray.py:136: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order, subok=True)

WARNING:tensorflow:From /home/han/anaconda3/envs/fm/lib/python3.6/site-packages/tffm/core.py:229: The name tf.global_variables_initializer is deprecated. Please use tf.compat.v1.global_variables_initializer instead.

WARNING:tensorflow:From /home/han/anaconda3/envs/fm/lib/python3.6/site-packages/tffm/core.py:230: The name tf.summary.merge_all is deprecated. Please use tf.compat.v1.summary.merge_all instead.

WARNING:tensorflow:From /home/han/anaconda3/envs/fm/lib/python3.6/site-packages/tffm/core.py:231: The name tf.train.Saver is deprecated. Please use tf.compat.v1.train.Saver instead.

100%|██████████| 10/10 [00:04<00:00,  2.13epoch/s]

In [10]:
len(predictions), predictions

(8169189,
 array([0.9199251 , 0.2443822 , 2.0593147 , ..., 0.23084828, 0.25399962,
        0.22355172], dtype=float32))

In [11]:
df2 = pd.DataFrame(x_test, columns=['uid', 'tid'])
df2.insert(2, 'rating', predictions, False) 
df2[:10]

   uid  tid    rating
0    0    2  0.919925
1    0   14  0.244382
2    0   15  2.059315
3    0   20  0.488804
4    0   21  0.255447
5    0   24  0.915661
6    0   30  0.376873
7    0   44  0.400644
8    0   46  0.373588
9    0   48  3.237781

In [12]:
# df2.to_pickle(os.path.join(dir_, folder, 'topN_pred_' + file_name[:-3] + 'pkl'))

In [13]:
predictions = model.predict(test_x_sp)
print('RMSE: {}'.format(math.sqrt(mean_squared_error(test_y_sp, predictions))))
print('MAE: {}'.format(mean_absolute_error(test_y_sp, predictions)))

RMSE: 2.1765804871411216
MAE: 1.6566492168030449

In [14]:
predictions = model.predict(train_x)
print('RMSE: {}'.format(math.sqrt(mean_squared_error(train_y, predictions))))
print('MAE: {}'.format(mean_absolute_error(train_y, predictions)))

RMSE: 2.174015381775862
MAE: 1.6515633208067186

In [15]:
predictions = df2

In [22]:
test = pd.read_pickle(os.path.join(dir_, folder, 'test_' + file_name[:-3] + 'pkl'))
test.sort_values(by=['uid','tid'])[:10]

    uid  tid  count  tags  rating  pop
7     0    2      4     0    3.00   24
24    0   14      2     1    1.50    6
25    0   15     12     0    4.75   53
33    0   20      3    12    2.50   12
34    0   21      1     5    0.25    6
37    0   24      5     9    3.50   23
46    0   30      5     1    3.50   10
61    0   44     13     2    4.75   10
66    0   46      2     6    1.50    9
68    0   48      4     2    3.00   85

In [23]:
num_user = len(predictions['uid'].unique())
num_user

218

In [27]:
# Personal Recommendation
n=4
top_n_lists = []

for i in tqdm(range(num_user)):
    prediction = predictions[predictions['uid'] == i]
    prediction = prediction.sort_values(by=['rating'],  ascending=False)
    prediction = prediction[:n]
#     print(prediction)
    top_n_list = []
    for _, row in prediction.iterrows():
        top_n_list.append(row[1])
#     print(top_n_list)
    top_n_lists.append(top_n_list)

evaluation = []
satisfication = 0
for i in tqdm(range(num_user)):
    top_n_list = top_n_lists[i]
    precision = 0
    for j in top_n_list:
        p = test[test['uid'] == i]
        p = p[p['tid']==j]
        if len(p) > 0:
            precision += 1
    satisfication += precision / n
    evaluation.append(precision)
#     print(precision, satisfication)
print(satisfication/num_user)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=218.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=218.0), HTML(value='')))

0.20412844036697247

In [25]:
train.sort_values(by=['uid','tid'])[:10]

    uid  tid  count  tags  rating  pop
0     0    0      2     1    1.50    5
2     0    1      2     2    1.50   10
8     0    3      1     0    0.25    9
10    0    4      5     1    3.50   14
12    0    5      2     4    1.50   28
13    0    6      4     8    3.00    8
14    0    7      5     1    3.50    6
15    0    8     18     4    5.00   21
17    0    9      1     2    0.25   32
20    0   10      1     1    0.25   10