In [1]:
import os 
import math
import random
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm
from numpy import count_nonzero
dir_ = '../../../../data/'
group_dir_ = os.path.join(dir_, 'groups/high')

In [2]:
file_name = 'normalized_to_rating_filter_track_5_user_100.csv'
all_user = pd.read_pickle(os.path.join(dir_, file_name[:-3] + 'pkl'))
df = pd.read_pickle(os.path.join(dir_, file_name[:-3] + 'pkl'))
svd = pd.read_pickle(os.path.join(dir_, 'prediction_svd_top_N_' + file_name[:-3] + 'pkl'))
test = pd.read_pickle(os.path.join(dir_, 'test_' + file_name[:-3] + 'pkl'))
test.sort_values(by=['uid','tid'])

file_name = 'normalized_popularity_filter_track_5_user_100.pkl'
pop_count = pd.read_pickle(os.path.join(dir_, file_name))

num_user = len(svd['uid'].unique())
num_user

953

In [3]:
groups_n =[]
group_sizes = ['2', '3', '4', '5', '6', '7', '8', '9', '10']
for i in range(len(group_sizes)):
    groups = np.loadtxt(os.path.join(group_dir_, group_sizes[i] + '.csv'), delimiter=',')
    groups_n.append(groups)

In [4]:
pop_dict = {}
for i in all_user['tid'].unique():
    pop_dict[i] = len(all_user[all_user['tid']==i])/num_user

In [5]:
svd['count'] = 1
svd[:5]

   uid  tid    rating  count
0    0    9  2.243909      1
1    0   15  2.160610      1
2    0   22  2.145235      1
3    0   28  2.204445      1
4    0   33  2.166677      1

In [6]:
pop_count = pop_count.sort_values(by=['count'],  ascending=False)
pop_count[:10]

         tid  count   rating
70        70  17557  2980.75
1102    1102   6926  1484.25
83        83   6571  1796.75
13496  13496   6299  1669.75
952      952   6234  1527.50
2519    2519   6001  1772.25
4008    4008   5676  1008.25
5521    5521   5658  1727.25
3900    3900   5627  1475.50
2241    2241   5571  1183.75

In [7]:
# min_max
max_rating = pop_count.iloc[0]['count']
pop_normalized = pop_count.copy()
pop_normalized = pop_normalized[['tid', 'count']]
pop_normalized['rating'] = pop_normalized['count']
pop_normalized['rating'] /= max_rating
pop_normalized['rating'] *= 5
pop_normalized[:10]

         tid  count    rating
70        70  17557  5.000000
1102    1102   6926  1.972433
83        83   6571  1.871333
13496  13496   6299  1.793871
952      952   6234  1.775360
2519    2519   6001  1.709005
4008    4008   5676  1.616449
5521    5521   5658  1.611323
3900    3900   5627  1.602495
2241    2241   5571  1.586547

In [8]:
lambdas = []
for i in range(11):
    lambdas.append(i/10)
lambdas

[0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]

In [9]:
NOVs = []
COVs = []
HitNOVs = []
HitCOVs = []
for lambda_ in tqdm(lambdas):
    top_n_size = 50
    top_n_lists_g = []
    top_n_items_g = []
    for groups in groups_n:

        group_size = len(groups[0])
        top_n_lists = []
        top_n_items = pd.DataFrame()

        for group in groups:
            rating_table = pd.DataFrame() 
            for member in group:
                prediction = svd[svd['uid'] == member].copy()
                if len(rating_table) == 0:
                    rating_table = prediction
                else:
                    rating_table = rating_table.set_index('tid').add(prediction.set_index('tid'), fill_value=0).reset_index()
            rating_table['rating'] /= group_size 
            rating_table['rating'] *= lambda_
            pop = pop_normalized.copy()
            pop['rating'] *= (1 - lambda_)
            rating_table = rating_table.set_index('tid').add(pop.set_index('tid'), fill_value=0).reset_index()
    #         rating_table = rating_table[rating_table['count'] == group_size]
            rating_table = rating_table.sort_values(by=['rating'],  ascending=False)
            rating_table = rating_table[:top_n_size]
            
            top_n_list = []
            for _, row in rating_table.iterrows():
                top_n_list.append(row[0])
            top_n_lists.append(top_n_list)
            
            if len(top_n_items) == 0:
                top_n_items = rating_table
            else:
                top_n_items = top_n_items.set_index('tid').add(rating_table.set_index('tid'), fill_value=0).reset_index()
                
        top_n_lists_g.append(top_n_lists)   
        top_n_items_g.append(top_n_items)
        
    COV = []    
    NOV = []
    HitNOV = []
    HitCOV = []
    for i in range(len(groups_n)):
        groups = groups_n[i]
        top_n_lists = top_n_lists_g[i]
        top_n_items = top_n_items_g[i]

        nov = 0
        hitNov = 0
        hits = np.zeros(len(df['tid'].unique()), dtype=bool)
        for j in (range(len(groups))):
            group = groups[j]
            top_n_list = top_n_lists[j]
            
            test_g = pd.DataFrame()
            for uid in group:
                t = test[test['uid'] == uid]
                if len(test_g) == 0:
                    test_g = t
                else:
                    test_g = test_g.set_index('tid').add(t.set_index('tid'), fill_value=0).reset_index()
            test_g['rating'] /= len(group)
            
            for k in range(top_n_size):
                tid = top_n_list[k]
                t = test_g[test_g['tid'] == tid]
                nov += (1-pop_dict[tid])
                if len(t) > 0:
                    hits[int(tid)] = True
                    hitNov += (1-pop_dict[tid])
        NOV.append(nov/top_n_size/len(groups))
        COV.append(len(top_n_items)/len(df['tid'].unique()))
        HitNOV.append(hitNov/top_n_size/len(groups))
        HitCOV.append(list(hits).count(True)/len(df['tid'].unique()))
    NOVs.append(NOV)
    COVs.append(COV)
    HitNOVs.append(HitNOV)
    HitCOVs.append(HitCOV)
    
for NOV in NOVs:
    print(NOV)
print()
for HitNOV in HitNOVs:
    print(HitNOV)
print()  
for COV in COVs:
    print(COV)
print()    
for HitCOV in HitCOVs:
    print(HitCOV)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=11.0), HTML(value='')))

[0.549066107030459, 0.5490661070304642, 0.549066107030431, 0.5490661070304305, 0.5490661070304306, 0.5490661070304298, 0.5490661070304286, 0.5490661070304275, 0.5490661070304262]
[0.5619126977784016, 0.5620730449258914, 0.5632674361664933, 0.564720570518052, 0.5635231489775562, 0.5638405036726138, 0.5632536775624142, 0.5661951731374593, 0.5645830979094332]
[0.5791584315403995, 0.5819214472618404, 0.5824243441762882, 0.582179666550075, 0.5830878099966734, 0.583588667366213, 0.5828897820190463, 0.5857637868718659, 0.5853359162698075]
[0.6007639653390165, 0.6016912171645683, 0.6064339979013692, 0.6073838949127505, 0.6112182325390937, 0.6117879741804205, 0.6151081985388741, 0.6145174303369463, 0.6190905911157727]
[0.6127578499037315, 0.6309867573419321, 0.6373709688702413, 0.6446463409894668, 0.6482855168530688, 0.6546977646348068, 0.6578091033281208, 0.6597724145971777, 0.6664040681249478]
[0.6279803852311923, 0.6485062936939384, 0.667196502273531, 0.6801919863199999, 0.6922045914058266, 0.6985500333873901, 0.706693460571385, 0.7165241926081378, 0.7216116447386101]
[0.6327202600864882, 0.6600397589668262, 0.6836800279818211, 0.7052257976759516, 0.7198687072914758, 0.7314356577315653, 0.7444514838939612, 0.7567881543663287, 0.7679855786046748]
[0.6368811795674456, 0.6706344167430663, 0.697205596362373, 0.7171994870001115, 0.7378186983338827, 0.7528124900632756, 0.7666019917242494, 0.7789362247872224, 0.7906088734630188]
[0.6397090785338507, 0.6750441200561654, 0.705718922700254, 0.7335443628308204, 0.7512246308192306, 0.7692864637985288, 0.7868625393494239, 0.7988126384516736, 0.8124357629079573]
[0.647563700302426, 0.6812446593258932, 0.7118472193074578, 0.7392990944774722, 0.7626373710746491, 0.7793220770135745, 0.7988865350729583, 0.8113811355951973, 0.8271229854440774]
[0.6809529972594014, 0.7085609290670143, 0.7365157047918949, 0.7642062104076737, 0.785681672766355, 0.8039069604756869, 0.8234413668851095, 0.8358596245773586, 0.8484085344526046]

[0.10283486004367434, 0.1522847237902956, 0.19947604057362706, 0.2470920290699927, 0.2842046937783109, 0.31366211962224344, 0.3471876299273374, 0.3758936691150729, 0.39865418247369766]
[0.11716550090107315, 0.16309110470599192, 0.20642028681357166, 0.25403870817302054, 0.2909881503851755, 0.3147597697860007, 0.3480809360707972, 0.3739298122886771, 0.39146769984125523]
[0.13106842223316573, 0.17256985491076446, 0.217804547044422, 0.259173176324278, 0.2874417116679026, 0.3162876403065258, 0.3484654220039971, 0.3744619330768313, 0.3881459359108872]
[0.1453645670854492, 0.18437508024847257, 0.2260660370759016, 0.26314581633049644, 0.28898753615028216, 0.3175919743076069, 0.34200795897760566, 0.3681347790602754, 0.38127263432614805]
[0.15178463973847026, 0.19405377643772112, 0.23341909758656995, 0.2656931327970154, 0.28726358354874104, 0.3121100829915076, 0.3367122691005542, 0.35272426256266554, 0.3640417574730254]
[0.15698136751651987, 0.1971895989126062, 0.23124043371808417, 0.2612144883603436, 0.27565787116423, 0.2969401252822007, 0.3182098239917622, 0.33359029963856673, 0.34588532838270397]
[0.15982592150483005, 0.19590624322038816, 0.22901825813221516, 0.2553313124247014, 0.2646901952755091, 0.280085535311137, 0.29831831950741333, 0.3077393027865211, 0.32589017138859694]
[0.16206114919651105, 0.19874790247098947, 0.22695865687303363, 0.2522978119777699, 0.2617057814859358, 0.272111990842315, 0.2875673642321161, 0.2883157281100611, 0.300412731724379]
[0.1625925114277684, 0.1999891083453988, 0.22979041622945176, 0.24997473864210484, 0.25849845161620494, 0.26606442176221734, 0.28518481854718897, 0.2773435933310014, 0.2868404767670247]
[0.1624090483691736, 0.1985428205843422, 0.22817586568730397, 0.25096517818973196, 0.25023878381491016, 0.25955960443893217, 0.27322774159060703, 0.26327527107380194, 0.2700185648559208]
[0.148606624367379, 0.18769189899982727, 0.21001091290661097, 0.2301338851968443, 0.22585365853658532, 0.23209927183694204, 0.24816210972301941, 0.2280457036259766, 0.24405359593187517]

[0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521]
[0.0005648390843260327, 0.0005267600449332664, 0.0005140670318023444, 0.0004950275121059612, 0.0004886810055405003, 0.00047598799240957816, 0.0004823344989750392, 0.00046329497927865605, 0.0004696414858441171]
[0.00091389694542639, 0.0008758179060336238, 0.000907550438860929, 0.0008313923600753965, 0.0008377388666408576, 0.0008250458535099354, 0.0007869668141171692, 0.0008250458535099354, 0.0007361947615934809]
[0.0011994897408721368, 0.0013137268590504357, 0.001377191924705046, 0.0014787360297524228, 0.001383538431270507, 0.001364498911574124, 0.0013391128853122798, 0.0012819943262231304, 0.001212182754003059]
[0.0014660430166215006, 0.0017452893055017865, 0.002145119219125832, 0.0022022377782149817, 0.0021705052453876764, 0.0022276238044768256, 0.0021133866862985268, 0.0020054960746856893, 0.0018976054630728515]
[0.0016247056807580267, 0.0021641587388222154, 0.0028305419281956247, 0.003001897605463073, 0.0031351742433377546, 0.003312876427170664, 0.0030082441120285338, 0.00316690677616506, 0.0029193930201120793]
[0.0017833683448945528, 0.0023545539357860464, 0.0032811438943433587, 0.0035413506635272613, 0.003890408524627619, 0.004106189747853294, 0.003972913109978612, 0.0041315757741151385, 0.0038015574327111643]
[0.0018595264236800854, 0.0025576421458808, 0.003452499571610807, 0.0038396364721039306, 0.004341010490775353, 0.004620256779655638, 0.004613910273090178, 0.004728147391268476, 0.0044996731549118785]
[0.0020689611403402995, 0.002728997823148248, 0.00365558778170556, 0.004106189747853294, 0.00463294979278656, 0.004912196081666847, 0.004785265950357625, 0.004924889094797769, 0.004740840404399398]
[0.0025068700933571116, 0.0030780556842486054, 0.003915794550889463, 0.004290238438251664, 0.004709107871572093, 0.004969314640755996, 0.0048550775225776974, 0.004899503068535925, 0.004683721845310249]
[0.0049629681341905344, 0.0045123661680428005, 0.004474287128650035, 0.004728147391268476, 0.004728147391268476, 0.004848731016012236, 0.004588524246828333, 0.004417168569560885, 0.0043219709710789695]

[0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521]
[0.0005394530580641886, 0.0005204135383678055, 0.0005013740186714223, 0.0004823344989750392, 0.0004886810055405003, 0.000456948472713195, 0.0004696414858441171, 0.000456948472713195, 0.000450601966147734]
[0.0008377388666408576, 0.0008313923600753965, 0.0008504318797717796, 0.0007933133206826302, 0.0007806203075517082, 0.0007869668141171692, 0.0007361947615934809, 0.000748887774724403, 0.0006917692156352535]
[0.0011296781686520655, 0.0012502617933958253, 0.0012629548065267475, 0.001351805898443202, 0.0012756478196576694, 0.001212182754003059, 0.0011804502211757537, 0.0011677572080448317, 0.0011106386489556823]
[0.0013073803524849747, 0.0015993196544961826, 0.0019039519696383126, 0.0019991495681202284, 0.001954724022162001, 0.0019039519696383126, 0.0018722194368110073, 0.0017008637595435593, 0.0016056661610616436]
[0.0014596965100560396, 0.001986456554989306, 0.0024497515342679623, 0.0026338002246663324, 0.0026591862509281767, 0.0026528397443627157, 0.0024560980408334233, 0.0024497515342679623, 0.0022910888701314362]
[0.0015739336282343385, 0.002107040179733066, 0.0027924628888028585, 0.003027283631724917, 0.00316690677616506, 0.003154213763034138, 0.0030463231514213, 0.0030780556842486054, 0.002767076862541014]
[0.001669131226716254, 0.0022910888701314362, 0.0029574720595048455, 0.0032494113615160534, 0.0035350041569618003, 0.003496925117569034, 0.0033699949862598133, 0.0032874904009088197, 0.003001897605463073]
[0.0017643288251981697, 0.0023862864686133517, 0.0031097882170759107, 0.0033763414928252742, 0.0036809738079674045, 0.003661934288271021, 0.003503271624134495, 0.0033636484796943523, 0.002995551098897612]
[0.0020181890878166113, 0.0025639886524462608, 0.003173253282730521, 0.0033890345059561966, 0.003623855248878255, 0.0035794297029200276, 0.0033763414928252742, 0.003173253282730521, 0.0027988093953683194]
[0.002748037342844631, 0.0029701650726357675, 0.0031859462958614432, 0.0033573019731288913, 0.003325569440301586, 0.0032430648549505925, 0.0029765115792012285, 0.002754383849410092, 0.0024814840670952672]