In [1]:
import os 
import math
import random
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm
from numpy import count_nonzero
dir_ = '../../../../data/'
group_dir_ = os.path.join(dir_, 'groups/random')

In [2]:
file_name = 'normalized_to_rating_filter_track_5_user_100.csv'
all_user = pd.read_pickle(os.path.join(dir_, file_name[:-3] + 'pkl'))
df = pd.read_pickle(os.path.join(dir_, file_name[:-3] + 'pkl'))
svd = pd.read_pickle(os.path.join(dir_, 'prediction_svd_top_N_' + file_name[:-3] + 'pkl'))
test = pd.read_pickle(os.path.join(dir_, 'test_' + file_name[:-3] + 'pkl'))
test.sort_values(by=['uid','tid'])

file_name = 'normalized_popularity_filter_track_5_user_100.pkl'
pop_count = pd.read_pickle(os.path.join(dir_, file_name))

num_user = len(svd['uid'].unique())
num_user

953

In [3]:
groups_n =[]
group_sizes = ['2', '3', '4', '5', '6', '7', '8', '9', '10']
for i in range(len(group_sizes)):
    groups = np.loadtxt(os.path.join(group_dir_, group_sizes[i] + '.csv'), delimiter=',')
    groups_n.append(groups)

In [4]:
pop_dict = {}
for i in all_user['tid'].unique():
    pop_dict[i] = len(all_user[all_user['tid']==i])/num_user

In [5]:
svd['count'] = 1
svd[:5]

   uid  tid    rating  count
0    0    9  2.243909      1
1    0   15  2.160610      1
2    0   22  2.145235      1
3    0   28  2.204445      1
4    0   33  2.166677      1

In [6]:
pop_count = pop_count.sort_values(by=['count'],  ascending=False)
pop_count[:10]

         tid  count   rating
70        70  17557  2980.75
1102    1102   6926  1484.25
83        83   6571  1796.75
13496  13496   6299  1669.75
952      952   6234  1527.50
2519    2519   6001  1772.25
4008    4008   5676  1008.25
5521    5521   5658  1727.25
3900    3900   5627  1475.50
2241    2241   5571  1183.75

In [7]:
# min_max
max_rating = pop_count.iloc[0]['count']
pop_normalized = pop_count.copy()
pop_normalized = pop_normalized[['tid', 'count']]
pop_normalized['rating'] = pop_normalized['count']
pop_normalized['rating'] /= max_rating
pop_normalized['rating'] *= 5
pop_normalized[:10]

         tid  count    rating
70        70  17557  5.000000
1102    1102   6926  1.972433
83        83   6571  1.871333
13496  13496   6299  1.793871
952      952   6234  1.775360
2519    2519   6001  1.709005
4008    4008   5676  1.616449
5521    5521   5658  1.611323
3900    3900   5627  1.602495
2241    2241   5571  1.586547

In [8]:
lambdas = []
for i in range(11):
    lambdas.append(i/10)
lambdas

[0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]

In [9]:
NOVs = []
COVs = []
HitNOVs = []
HitCOVs = []
for lambda_ in tqdm(lambdas):
    top_n_size = 50
    top_n_lists_g = []
    top_n_items_g = []
    for groups in groups_n:

        group_size = len(groups[0])
        top_n_lists = []
        top_n_items = pd.DataFrame()

        for group in groups:
            rating_table = pd.DataFrame() 
            for member in group:
                prediction = svd[svd['uid'] == member].copy()
                if len(rating_table) == 0:
                    rating_table = prediction
                else:
                    rating_table = rating_table.set_index('tid').add(prediction.set_index('tid'), fill_value=0).reset_index()
            rating_table['rating'] /= group_size 
            rating_table['rating'] *= lambda_
            pop = pop_normalized.copy()
            pop['rating'] *= (1 - lambda_)
            rating_table = rating_table.set_index('tid').add(pop.set_index('tid'), fill_value=0).reset_index()
    #         rating_table = rating_table[rating_table['count'] == group_size]
            rating_table = rating_table.sort_values(by=['rating'],  ascending=False)
            rating_table = rating_table[:top_n_size]
            
            top_n_list = []
            for _, row in rating_table.iterrows():
                top_n_list.append(row[0])
            top_n_lists.append(top_n_list)
            
            if len(top_n_items) == 0:
                top_n_items = rating_table
            else:
                top_n_items = top_n_items.set_index('tid').add(rating_table.set_index('tid'), fill_value=0).reset_index()
                
        top_n_lists_g.append(top_n_lists)   
        top_n_items_g.append(top_n_items)
        
    COV = []    
    NOV = []
    HitNOV = []
    HitCOV = []
    for i in range(len(groups_n)):
        groups = groups_n[i]
        top_n_lists = top_n_lists_g[i]
        top_n_items = top_n_items_g[i]

        nov = 0
        hitNov = 0
        hits = np.zeros(len(df['tid'].unique()), dtype=bool)
        for j in (range(len(groups))):
            group = groups[j]
            top_n_list = top_n_lists[j]
            
            test_g = pd.DataFrame()
            for uid in group:
                t = test[test['uid'] == uid]
                if len(test_g) == 0:
                    test_g = t
                else:
                    test_g = test_g.set_index('tid').add(t.set_index('tid'), fill_value=0).reset_index()
            test_g['rating'] /= len(group)
            
            for k in range(top_n_size):
                tid = top_n_list[k]
                t = test_g[test_g['tid'] == tid]
                nov += (1-pop_dict[tid])
                if len(t) > 0:
                    hits[int(tid)] = True
                    hitNov += (1-pop_dict[tid])
        NOV.append(nov/top_n_size/len(groups))
        COV.append(len(top_n_items)/len(df['tid'].unique()))
        HitNOV.append(hitNov/top_n_size/len(groups))
        HitCOV.append(list(hits).count(True)/len(df['tid'].unique()))
    NOVs.append(NOV)
    COVs.append(COV)
    HitNOVs.append(HitNOV)
    HitCOVs.append(HitCOV)
    
for NOV in NOVs:
    print(NOV)
print()
for HitNOV in HitNOVs:
    print(HitNOV)
print()  
for COV in COVs:
    print(COV)
print()    
for HitCOV in HitCOVs:
    print(HitCOV)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=11.0), HTML(value='')))

[0.5490661070304522, 0.5490661070304723, 0.5490661070304644, 0.54906610703045, 0.5490661070304357, 0.5490661070304305, 0.5490661070304305, 0.5490661070304306, 0.5490661070304306]
[0.5599825407602812, 0.5595104286315177, 0.5590215771513526, 0.557996686364406, 0.5580882489672899, 0.557478550706746, 0.557378645057183, 0.5569729675710792, 0.5568546970784787]
[0.5752130379959005, 0.5771641934320257, 0.5756504448579298, 0.5744812503451865, 0.5736420630387765, 0.5739283068946337, 0.5734106360277567, 0.5727531104781879, 0.5731284033799081]
[0.5942457696615061, 0.5932595390283631, 0.5945081873253243, 0.5928659634395702, 0.5920525455922061, 0.5918154743534326, 0.5911217120636274, 0.5906728626392838, 0.5904516485337159]
[0.6052487500771822, 0.6173159307649005, 0.6177694498576207, 0.6198107914066566, 0.6178028079216951, 0.6184693846058872, 0.617556235505743, 0.6172885624344167, 0.6197903573203728]
[0.6199868173922395, 0.6324926431888916, 0.6469417231740819, 0.6491641906445195, 0.6517327028570763, 0.6538980618480372, 0.6570158808539126, 0.6584769899565253, 0.6619077704755045]
[0.6246505506714854, 0.6467821026742925, 0.6628709867997827, 0.6777646214171463, 0.6845752918830692, 0.6908014937349582, 0.6986122549754374, 0.7030330285314504, 0.7060765449825993]
[0.6273475182308024, 0.6569747203749888, 0.6773909899741882, 0.6907829016402632, 0.7059728771235471, 0.7184088945126881, 0.7281099050323151, 0.7346930495178089, 0.7447223725630953]
[0.6300174151507414, 0.6609359121618372, 0.6859818177008695, 0.7095165405644337, 0.7222891070171521, 0.7393932473304159, 0.7527510647490904, 0.7655425973117437, 0.776111338156514]
[0.6377928170218723, 0.6673413858279261, 0.6924758612784265, 0.713843706853715, 0.7328730059638502, 0.7522024875007772, 0.7673349969578618, 0.7813825013741037, 0.7939623350085621]
[0.6701628647261573, 0.6942590060939964, 0.7171278668865432, 0.7376224664494498, 0.7561710521072762, 0.7757411579532207, 0.7925852901496404, 0.8072025183630634, 0.8222002540453984]

[0.09259322616769695, 0.13281445609249914, 0.16804200798892457, 0.20103970840006635, 0.233733181027269, 0.26194895376828553, 0.28814447079986283, 0.3056972967571074, 0.32860683713480887]
[0.10573972506106336, 0.14475787898749165, 0.17969684411015183, 0.2102660849395268, 0.24156175700984311, 0.270568946361336, 0.2927641150898987, 0.3115486933493228, 0.33358192964047045]
[0.11952904141719639, 0.15771248688352613, 0.19051716384350187, 0.2204466780803015, 0.250767994474479, 0.27687689031541346, 0.2988893101836762, 0.3161115275071209, 0.3367568343734468]
[0.1314003985644626, 0.17082922598733555, 0.2042250478365534, 0.23557828464130035, 0.2632212732609891, 0.28955650885747924, 0.3113987672718631, 0.32818907709988576, 0.34918340973104406]
[0.13917341963018134, 0.18153882310882777, 0.2152542612008081, 0.24863301485613426, 0.27649820022049076, 0.3024532436269381, 0.3181662507605367, 0.33584570029480976, 0.35824576130778285]
[0.14684437468586553, 0.188275510508075, 0.22606020792367368, 0.2577719114154756, 0.2857909067966591, 0.3104044503425718, 0.32646256403925833, 0.3417032928596424, 0.36410846633898625]
[0.148627994744592, 0.19395486939798245, 0.22930224765667076, 0.26055403987408254, 0.2881397850890599, 0.31226297759397564, 0.32635022529473606, 0.3414572527856904, 0.3581293422433326]
[0.15055521264119456, 0.19577445953505568, 0.23277407920146018, 0.2617825150494289, 0.28968825959329014, 0.3120886056416269, 0.3234802084527421, 0.34045370509169104, 0.3571606560998518]
[0.15172991966986119, 0.1965581047398052, 0.2358281234844406, 0.2654642955762967, 0.291291325195585, 0.31582016542188696, 0.3220594848642507, 0.33663578673861977, 0.3503648312807212]
[0.14984674667348516, 0.19604926829106764, 0.2357936458948737, 0.2658925277516983, 0.2908189992960273, 0.3120341336954503, 0.3172365021559514, 0.32191535501923757, 0.3417535759650973]
[0.13880329256571403, 0.18452431471593872, 0.2206056063558679, 0.2434465123985198, 0.26812504150782945, 0.28676563175112596, 0.2869616513971799, 0.28383810523159936, 0.3056658750759379]

[0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521]
[0.0005521460711951107, 0.0005077205252368833, 0.0004823344989750392, 0.0004886810055405003, 0.00047598799240957816, 0.00046329497927865605, 0.000456948472713195, 0.00046329497927865605, 0.0004379089530168119]
[0.0009583224913846173, 0.0008821644125990848, 0.0008377388666408576, 0.0007869668141171692, 0.0007806203075517082, 0.0007044622287661757, 0.0006663831893734094, 0.0006536901762424874, 0.0006346506565461042]
[0.0014279639772287345, 0.0013327663787468188, 0.0012883408327885916, 0.00121852926056852, 0.0011677572080448317, 0.0011804502211757537, 0.0011106386489556823, 0.001072559609562916, 0.001059866596431994]
[0.0017262497858054034, 0.0017008637595435593, 0.0018404869039837022, 0.00182779389085278, 0.0016754777332817152, 0.0017135567726744812, 0.0016120126676271048, 0.0015993196544961826, 0.0015866266413652604]
[0.0018658729302455464, 0.0021133866862985268, 0.00225300983073867, 0.0025576421458808, 0.002367246948916969, 0.0024878305736607286, 0.00243705852113704, 0.0024560980408334233, 0.0025576421458808]
[0.0020308821009475332, 0.002278395857000514, 0.002602067691839027, 0.0029638185660703065, 0.003001897605463073, 0.0032240253352542095, 0.0034271135453489625, 0.00347153909130719, 0.0035921227160509495]
[0.002145119219125832, 0.0025005235867916506, 0.0028241954216301638, 0.0032621043746469754, 0.0033636484796943523, 0.003782517913014781, 0.004017338655936839, 0.004277545425120742, 0.004601217259959256]
[0.0023418609226551245, 0.0026274537181008714, 0.0029765115792012285, 0.003503271624134495, 0.0035730831963545666, 0.004023685162502301, 0.004436208089257269, 0.0047471869109648596, 0.0051279773048925215]
[0.0027797698756719365, 0.0029447790463739236, 0.003204985815557826, 0.0037317458604910927, 0.0038586759918003135, 0.00420138734633521, 0.0046266032862211, 0.004791612456923087, 0.005153363331154366]
[0.004912196081666847, 0.00420138734633521, 0.004112536254418755, 0.004176001320073366, 0.004258505905424359, 0.004417168569560885, 0.0047471869109648596, 0.004613910273090178, 0.004836038002881314]

[0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521, 0.0003173253282730521]
[0.0005331065514987275, 0.0004823344989750392, 0.00047598799240957816, 0.0004823344989750392, 0.00046329497927865605, 0.000450601966147734, 0.000456948472713195, 0.000450601966147734, 0.0004252159398858898]
[0.0008821644125990848, 0.0008504318797717796, 0.0007869668141171692, 0.0007679272944207861, 0.000755234281289864, 0.0006854227090697926, 0.0006409971631115652, 0.0006219576434151822, 0.0006219576434151822]
[0.0012693013130922084, 0.001212182754003059, 0.0011614107014793708, 0.0011614107014793708, 0.0011169851555211433, 0.0011296781686520655, 0.0010281340636046888, 0.0009964015307773837, 0.0010090945439083056]
[0.001497775549448806, 0.0015929731479307216, 0.0016247056807580267, 0.0017008637595435593, 0.0015739336282343385, 0.0016056661610616436, 0.00152316157571065, 0.0014850825363178837, 0.0015041220560142669]
[0.0016500917070198708, 0.0019356845024656177, 0.0020499216206439166, 0.0022276238044768256, 0.002151465725691293, 0.002246663324173209, 0.0022339703110422866, 0.0022276238044768256, 0.002265702843869592]
[0.0017643288251981697, 0.00213242620599491, 0.002310128389827819, 0.0026401467312317933, 0.0026464932377972543, 0.0029193930201120793, 0.0030907486973795273, 0.003141520749903216, 0.0031097882170759107]
[0.00182779389085278, 0.0022212772979113646, 0.0025068700933571116, 0.0028495814478920077, 0.003027283631724917, 0.0034017275190871186, 0.003623855248878255, 0.00377617140644932, 0.003998299136240457]
[0.0019928030615547674, 0.002278395857000514, 0.0026211072115354104, 0.003052669657986761, 0.00316690677616506, 0.003598469222616411, 0.003903101537758541, 0.0041315757741151385, 0.004448901102388191]
[0.0022212772979113646, 0.0024687910539643453, 0.002722651316582787, 0.003141520749903216, 0.0033699949862598133, 0.003611162235747333, 0.003922141057454924, 0.004055417695329606, 0.004379089530168119]
[0.0027861163822373975, 0.0029130465135466183, 0.003001897605463073, 0.0032430648549505925, 0.0033699949862598133, 0.0035540436766581837, 0.0037317458604910927, 0.003668280794836482, 0.0038396364721039306]