In [1]:
import os
import tqdm
from tqdm.notebook import tqdm
import numpy as np
import pandas as pd
import tensorflow as tf
from tfcf.metrics import mae
from tfcf.metrics import rmse
from tfcf.datasets import ml1m
from tfcf.config import Config
from tfcf.models.svd import SVD
# from tfcf.models.svd import SVDPP
# from sklearn.model_selection import train_test_split

dir_ = '../../data/'
# file_name = 'normalized_minmax_filter_track_5_user_100.csv'
file_name = 'normalized_to_rating_filter_track_5_user_100.csv'

/home/han/anaconda3/envs/ts/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/han/anaconda3/envs/ts/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/han/anaconda3/envs/ts/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/han/anaconda3/envs/ts/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/han/anaconda3/envs/ts/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/han/anaconda3/envs/ts/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
# Note that x is a 2D numpy array, 
# x[i, :] contains the user-item pair, and y[i] is the corresponding rating.

df = pd.read_pickle(os.path.join(dir_, file_name[:-3] + 'pkl'))

x_train = np.loadtxt(os.path.join(dir_, 'train_x_' + file_name), delimiter=',')
y_train = np.loadtxt(os.path.join(dir_, 'train_y_' + file_name), delimiter=',')

In [3]:
config = Config()
config.num_users = len(df['uid'].unique())
config.num_items = len(df['tid'].unique())
config.min_value = df['rating'].min()
config.max_value = df['rating'].max()

In [4]:
# For top N
pd_train = pd.read_pickle(os.path.join(dir_, 'train_' + file_name[:-3] + 'pkl'))
num_users = len(df['uid'].unique())
num_tracks = len(df['tid'].unique())
print(num_users, num_tracks)

220 54969

In [5]:
track_ids = []
for i in range(num_tracks):
    track_ids.append(i)

all_tracks = pd.DataFrame()
all_tracks['tid'] = track_ids
all_tracks['count'] = 0

In [6]:
x_test = []

for i in tqdm(range(num_users)):
    
    user = pd_train[pd_train['uid']==i]
    top_n = all_tracks.set_index('tid').add(user.set_index('tid'), fill_value=0).reset_index()
    top_n = top_n[top_n['count']==0]
    top_n['uid'] = i
    top_n = top_n[['uid', 'tid']]
    top_n = top_n.values.tolist()
    x_test.extend(top_n)

HBox(children=(FloatProgress(value=0.0, max=220.0), HTML(value='')))

In [7]:
x_test = np.array(x_test)
print(x_test[0].shape)

(2,)

In [8]:
with tf.compat.v1.Session() as sess:
    # For SVD++ algorithm, if `dual` is True, then the dual term of items' 
    # implicit feedback will be added into the original SVD++ algorithm.
    # model = SVDPP(config, sess, dual=False)
    # model = SVDPP(config, sess, dual=True)
    
    model = SVD(config, sess)
    
#     model.train(x_train, y_train, validation_data=(x_test, y_test), epochs=5, batch_size=1024)
    model.train(x_train, y_train, epochs=4, batch_size=1024)
    
    y_pred = model.predict(x_test)
#     print('rmse: {}, mae: {}'.format(rmse(y_test, y_pred), mae(y_test, y_pred)))

WARNING: The TensorFlow contrib module will not be included in TensorFlow 2.0.
For more information, please see:
  * https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md
  * https://github.com/tensorflow/addons
If you depend on functionality not listed there, please file an issue.

WARNING:tensorflow:From /home/han/anaconda3/envs/ts/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /home/han/anaconda3/envs/ts/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/4
343/343 [==============================] - 5s 13ms/step - rmse: 1.7169 - mae: 1.5563
Epoch 2/4
343/343 [==============================] - 4s 13ms/step - rmse: 1.6767 - mae: 1.5155
Epoch 3/4
343/343 [==============================] - 5s 14ms/step - rmse: 1.5783 - mae: 1.4150
Epoch 4/4
343/343 [==============================] - 5s 15ms/step - rmse: 1.4248 - mae: 1.2540

In [9]:
print(y_pred)

[2.3018866 2.2206235 2.2565286 ... 2.367959  2.1300898 2.1895175]

In [10]:
df = pd.DataFrame(y_pred, columns=['rating'])
df2 = pd.DataFrame(x_test, columns=['uid', 'tid'])
df2.insert(2, 'rating', y_pred, False) 
df2[:10]

          uid    tid    rating
0           0      0  2.301887
1           0      2  2.220623
2           0      3  2.256529
3           0      5  2.253823
4           0     10  2.001967
5           0     11  2.216533
6           0     12  2.649660
7           0     13  2.128314
8           0     16  2.300469
9           0     17  2.585343
10          0     18  2.606231
11          0     24  2.591947
12          0     25  2.331609
13          0     27  2.482379
14          0     31  2.545130
15          0     34  2.090632
16          0     35  2.273263
17          0     39  2.234620
18          0     40  2.076012
19          0     41  1.994936
20          0     44  2.114659
21          0     45  1.996144
22          0     46  2.003707
23          0     48  2.151750
24          0     49  2.388207
25          0     50  1.934203
26          0     51  2.149107
27          0     52  2.195292
28          0     54  2.333064
29          0     56  2.017136
...       ...    ...       ...
11741969  219  54937  2.144711
11741970  219  54938  2.299802
11741971  219  54939  2.510500
11741972  219  54940  2.360121
11741973  219  54941  2.448453
11741974  219  54942  2.649941
11741975  219  54943  2.314814
11741976  219  54944  1.915795
11741977  219  54945  2.067360
11741978  219  54946  2.356635
11741979  219  54947  2.648994
11741980  219  54948  1.846317
11741981  219  54949  2.223832
11741982  219  54950  2.132314
11741983  219  54951  2.172554
11741984  219  54952  2.201473
11741985  219  54953  2.034364
11741986  219  54954  2.170086
11741987  219  54955  2.282102
11741988  219  54956  2.080003
11741989  219  54957  2.261799
11741990  219  54959  1.830688
11741991  219  54960  2.277740
11741992  219  54961  2.179065
11741993  219  54963  2.302258
11741994  219  54964  2.129856
11741995  219  54965  2.181822
11741996  219  54966  2.367959
11741997  219  54967  2.130090
11741998  219  54968  2.189517

[11741999 rows x 3 columns]

In [11]:
df2.to_pickle(os.path.join(dir_, 'prediction_svd_top_N_' + file_name[:-3] + 'pkl'))