In [1]:
import numpy as np
import os
import math
import tqdm
import pandas as pd
from tqdm import tqdm_notebook

dir_ = '../data/'
# file_name = 'normalized_filter_track_5_user_100.csv'
file_name = 'normalized_popularity_filter_track_5_user_100.csv'

In [3]:
pd_train = pd.read_pickle(os.path.join(dir_, file_name[:-3] + 'pkl'))

In [4]:
pd_train

         tid  count  rating
0          0    118   62.25
1          1     79   24.25
2          2     80   31.00
3          3     77   29.50
4          4   1050  271.75
5          5    165   97.75
6          6    100   34.50
7          7     53   24.75
8          8    566  229.00
9          9    399  181.75
10        10      7    3.50
11        11    318  111.25
12        12     21   15.50
13        13     59   28.25
14        14     28   20.00
15        15     28   16.75
16        16     29   19.50
17        17     40   22.50
18        18     48   31.75
19        19     67   40.00
20        20     28   15.50
21        21     55   30.75
22        22    105   46.75
23        23     38   21.00
24        24     40   22.00
25        25     43   22.25
26        26     58   21.00
27        27     58   22.00
28        28     71   24.00
29        29     57   22.00
...      ...    ...     ...
54939  54939      8    6.50
54940  54940      6    3.25
54941  54941      9    8.50
54942  54942     37   13.75
54943  54943     16   11.25
54944  54944     20   14.00
54945  54945     14    6.50
54946  54946     23    8.75
54947  54947     43   13.25
54948  54948      7    5.25
54949  54949     31   18.75
54950  54950      8    7.25
54951  54951      6    2.50
54952  54952     21   10.75
54953  54953     11    6.75
54954  54954      8    5.50
54955  54955      6    2.75
54956  54956     15    9.25
54957  54957     22    8.25
54958  54958     12    5.25
54959  54959     25   10.50
54960  54960      9    7.75
54961  54961     16   11.00
54962  54962     15   10.00
54963  54963     15   10.25
54964  54964     13   10.25
54965  54965     14   10.50
54966  54966     22   14.75
54967  54967     17   13.50
54968  54968      8    6.25

[54969 rows x 3 columns]

In [6]:
prediction_count = pd_train.sort_values(by=['count'],ascending=False)
prediction_count

         tid  count  rating
166      166   4231  677.50
80        80   2248  485.50
457      457   2200  207.75
1364    1364   1977  394.00
6338    6338   1942  181.25
350      350   1927  456.00
7209    7209   1844  510.75
20321  20321   1757  161.75
17377  17377   1667  113.00
3761    3761   1659  452.00
1196    1196   1499  370.00
2640    2640   1434  262.00
3159    3159   1423  417.00
1633    1633   1421  334.50
1828    1828   1404  357.75
6282    6282   1397   17.75
13104  13104   1397   70.50
2198    2198   1385  217.50
3610    3610   1326  241.00
1017    1017   1310  399.50
903      903   1286  227.50
2623    2623   1276  240.75
1753    1753   1249  392.25
428      428   1207  391.25
177      177   1198  273.25
920      920   1178  310.75
1362    1362   1139  224.00
18181  18181   1122  142.75
300      300   1111  271.00
8855    8855   1110  257.00
...      ...    ...     ...
37379  37379      5    1.25
27935  27935      5    1.25
47565  47565      5    1.25
28536  28536      5    1.25
24560  24560      5    1.25
29297  29297      5    1.25
50168  50168      5    1.25
47538  47538      5    1.25
13851  13851      5    1.25
24633  24633      5    1.25
31886  31886      5    1.25
29727  29727      5    1.25
33907  33907      5    1.25
2697    2697      5    1.25
53749  53749      5    1.25
10781  10781      5    1.25
10783  10783      5    1.25
3644    3644      5    1.25
33875  33875      5    1.25
17115  17115      5    1.25
19110  19110      5    1.25
13665  13665      5    1.25
22973  22973      5    1.25
51485  51485      5    1.25
52395  52395      5    1.25
51025  51025      5    1.25
47469  47469      5    1.25
51028  51028      5    1.25
13568  13568      5    1.25
19255  19255      5    1.25

[54969 rows x 3 columns]

In [7]:
prediction_rating = pd_train.sort_values(by=['rating'],ascending=False)
prediction_rating

         tid  count  rating
166      166   4231  677.50
7209    7209   1844  510.75
80        80   2248  485.50
350      350   1927  456.00
3761    3761   1659  452.00
3159    3159   1423  417.00
1017    1017   1310  399.50
1364    1364   1977  394.00
1753    1753   1249  392.25
428      428   1207  391.25
2061    2061   1098  375.25
1196    1196   1499  370.00
200      200   1098  368.00
1828    1828   1404  357.75
524      524    836  350.75
3580    3580    838  339.75
156      156    798  338.00
3281    3281    914  338.00
3737    3737   1017  334.75
1633    1633   1421  334.50
3093    3093    847  333.00
2073    2073    970  330.50
3011    3011   1009  328.50
3463    3463    835  327.25
3312    3312    894  324.25
3061    3061    778  322.75
3704    3704    930  320.75
2940    2940   1062  312.00
920      920   1178  310.75
839      839    643  308.50
...      ...    ...     ...
11886  11886      5    1.25
45046  45046      5    1.25
54430  54430      5    1.25
50749  50749      5    1.25
52331  52331      5    1.25
20244  20244      5    1.25
27935  27935      5    1.25
3110    3110      5    1.25
52410  52410      5    1.25
21398  21398      5    1.25
38079  38079      5    1.25
50698  50698      5    1.25
54685  54685      5    1.25
22452  22452      5    1.25
12496  12496      5    1.25
28454  28454      5    1.25
23405  23405      5    1.25
51199  51199      5    1.25
33875  33875      5    1.25
52395  52395      5    1.25
51198  51198      5    1.25
50712  50712      5    1.25
19255  19255      5    1.25
48389  48389      5    1.25
41527  41527      5    1.25
12364  12364      5    1.25
24368  24368      5    1.25
53749  53749      5    1.25
26735  26735      5    1.25
42751  42751      5    1.25

[54969 rows x 3 columns]

In [8]:
prediction_count.to_pickle(os.path.join(dir_, 'prediction_popularity_count_top_N_' + file_name[:-3] + 'pkl'))

In [9]:
prediction_rating.to_pickle(os.path.join(dir_, 'prediction_popularity_rating_top_N_' + file_name[:-3] + 'pkl'))