In [1]:
# This code filter out users and tracks with specific condition
import os
import pandas as pd
import numpy as np
import math
from numpy import count_nonzero
from tqdm.notebook import tqdm

dir_ = '../data'

In [2]:
lh = pd.read_pickle('../data/listen_count.pkl')
lh

         uid      tid  count
0          0        0      1
1          0        1     16
2          0        2     12
3          0        3     13
4          0        4     15
...      ...      ...    ...
4407908  991  1083467      1
4407909  991  1083468      1
4407910  991  1083469      1
4407911  991  1083470      1
4407912  991  1083471      1

[4407913 rows x 3 columns]

In [3]:
unique_users = len(lh['uid'].unique())
unique_tracks = len(lh['tid'].unique())
print ('Number of unique users : ' + str(unique_users))
print ('Number of unique tracks : ' + str(unique_tracks))
print ('Times of tracks being listened: ' + str(len(lh)))

Number of unique users : 992
Number of unique tracks : 1083472
Times of tracks being listened: 4407913

In [16]:
filter_track = 10
filter_tracks = []
for i in tqdm(range(unique_tracks)):
    users = lh[lh['tid'] == i]
    if(len(users) < filter_track):
        filter_tracks.append(i)

lh_filter = lh[~lh['tid'].isin(filter_tracks)]

HBox(children=(FloatProgress(value=0.0, max=1083472.0), HTML(value='')))

In [18]:
unique_users = len(lh_filter['uid'].unique())
unique_tracks = len(lh_filter['tid'].unique())
print ('Number of unique users : ' + str(unique_users))
print ('Number of unique tracks : ' + str(unique_tracks))
print ('Times of tracks being listened: ' + str(len(lh)))

Number of unique users : 992
Number of unique tracks : 157565
Times of tracks being listened: 4407913

In [ ]:
lh_filter.to_pickle(os.path.join(dir_, 'filter_track_' + str(filter_track) + '.pkl'))

In [5]:
lh_filter = pd.read_pickle(os.path.join(dir_, 'filter_track_' + str(filter_track) + '.pkl'))

In [19]:
unique_users = len(lh_filter['uid'].unique())
unique_tracks = len(lh_filter['tid'].unique())
print ('Number of unique users : ' + str(unique_users))
print ('Number of unique tracks : ' + str(unique_tracks))
print ('Times of tracks being listened: ' + str(len(lh_filter)))

Number of unique users : 992
Number of unique tracks : 157565
Times of tracks being listened: 3081550

In [20]:
filter_user = 100
filter_users = []
for i in tqdm_notebook(range(unique_users)):
    tracks = lh_filter[lh_filter['uid'] == i]
    if(len(tracks) < filter_user):
        filter_users.append(i)
lh_filter_user = lh_filter[~lh_filter['uid'].isin(filter_users)]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  This is separate from the ipykernel package so we can avoid doing imports until

HBox(children=(FloatProgress(value=0.0, max=992.0), HTML(value='')))

In [21]:
filter_unique_users = len(lh_filter_user['uid'].unique())
filter_unique_tracks = len(lh_filter_user['tid'].unique())
print ('Number of unique users : ' + str(filter_unique_users))
print ('Number of unique tracks : ' + str(filter_unique_tracks))
print ('Times of tracks being listened: ' + str(len(lh_filter_user)))

Number of unique users : 953
Number of unique tracks : 157565
Times of tracks being listened: 3079630

In [22]:
sparsity = 1.0 - ( len(lh_filter_user) / float(filter_unique_users*filter_unique_tracks) )
sparsity

0.9794909337870821

In [23]:
lh_filter_user.to_pickle(os.path.join(dir_, 'filter_track_' + str(filter_track) + '_user_' + str(filter_user) + '.pkl'))

In [11]:
lh_filter_user = pd.read_pickle(os.path.join(dir_, 'filter_track_' + str(filter_track) + '_user_' + str(filter_user) + '.pkl'))

In [25]:
lh_filter_user

         uid     tid  count
10         0      10     27
17         0      17      7
18         0      18      8
20         0      20      8
21         0      21      7
...      ...     ...    ...
4407385  991  809321      1
4407406  991  854694      2
4407412  991  857748      4
4407432  991  889834      7
4407437  991  905351      2

[3079630 rows x 3 columns]