In [1]:
# This file normalize dataframe by min max normalization

import pandas as pd
import numpy as np
import time
import os 
from pandas import Series, DataFrame
from tqdm.notebook import tqdm

dir_ = '../data'
file_name = 'normalized_to_rating_filter_track_20_user_100.pkl'

In [2]:
train = pd.read_pickle(os.path.join(dir_, 'train_' + file_name))

In [3]:
lh_sum = train.groupby(["tid"]).sum().reset_index()
lh_sum = lh_sum[['tid','count', 'rating']]
lh_sum

         tid  count  rating
0          0     64   46.50
1          1    269  150.75
2          2     61   31.00
3          3    542  261.25
4          4    104   47.50
...      ...    ...     ...
39083  39083     62   22.25
39084  39084     52   17.00
39085  39085     23   16.75
39086  39086     38   18.50
39087  39087     32   16.25

[39088 rows x 3 columns]

In [4]:
lh_sum.to_pickle(os.path.join(dir_, 'train_normalized_popularity_filter_track_20_user_100.pkl'))