In [1]:
import pandas as pd
import os
import numpy as np
from tqdm.notebook import tqdm
from pandas import Series, DataFrame
from sklearn.model_selection import train_test_split

dir_ = '../data/'
file_name = 'normalized_log_filter_track_5_user_100.pkl'

In [2]:
filtered_pd = pd.read_pickle(os.path.join(dir_, file_name))

In [3]:
filtered_pd[:5]

    uid  tid    rating  count
10    0    0  1.447158     27
17    0    1  0.903090      7
18    0    2  0.954243      8
20    0    3  0.954243      8
21    0    4  0.903090      7

In [4]:
train, test = train_test_split(filtered_pd, test_size=0.2, random_state= np.random)

In [5]:
train_rating = train[['uid', 'tid', 'rating', 'count']]
train_rating[:5]

         uid    tid    rating  count
2071035  460  40468  0.301030      1
2042767  454  60851  0.477121      2
1180202  267  57240  0.301030      1
1577963  346  11467  0.845098      6
3869069  826  48510  0.301030      1

In [6]:
test_rating = test[['uid', 'tid', 'rating', 'count']]
test_rating[:5]

         uid     tid    rating  count
2259041  509  103597  1.230449     16
4310899  925   10704  0.778151      5
2229983  500   60449  0.602060      3
3212163  710  135741  0.301030      1
2757969  632   70463  0.301030      1

In [7]:
train_rating.to_pickle(os.path.join(dir_, 'train_' + file_name))
test_rating.to_pickle(os.path.join(dir_, 'test_' + file_name))

In [36]:
#minmax

In [8]:
file_name = 'normalized_minmax_filter_track_5_user_100.pkl'

In [9]:
train_minmax = train[['uid', 'tid', 'minmax', 'count']]
train_minmax = train_minmax.rename(columns={"minmax": "rating"})
train_minmax[:5]

         uid    tid    rating  count
3637403  785  25185  0.138889      1
2592334  587  58745  0.105263      2
2041631  454  36778  0.306122      3
4086920  874  12266  0.009709      1
1919709  423   3561  0.121951      1

In [10]:
test_minmax = test[['uid', 'tid', 'minmax', 'count']]
test_minmax = test_minmax.rename(columns={"minmax": "rating"})
test_minmax[:5]

         uid     tid    rating  count
566162   128    8212  0.039370      1
3642787  786   10705  0.142857      2
3009228  665     765  0.109489      3
2012160  447  108195  0.369318     13
2773009  638    1838  0.073529      2

In [11]:
train_minmax.to_pickle(os.path.join(dir_, 'train_' + file_name))
test_minmax.to_pickle(os.path.join(dir_, 'test_' + file_name))