In [1]:
# This file normalize dataframe by min max normalization

import pandas as pd
import numpy as np
import time
import os 
from pandas import Series, DataFrame
from tqdm import tqdm_notebook

dir_ = '../data'
file_name = 'normalized_to_rating_filter_track_5_user_100.pkl'

In [2]:
df =  pd.read_pickle(os.path.join(dir_, file_name))

In [3]:
unique_users = df['uid'].unique()
unique_user = len(unique_users)
unique_tracks = df['tid'].unique()
unique_track = len(unique_tracks)

print(unique_user)
print(unique_track)

953
157567

In [4]:
df[:5]

    uid  tid  rating  count
10    0    0    5.00     27
17    0    1    3.75      7
18    0    2    4.00      8
20    0    3    4.00      8
21    0    4    3.75      7

In [5]:
lh_sum = df.groupby(["tid"]).sum().reset_index()
lh_sum = lh_sum[['tid','count', 'rating']]
lh_sum[:10]

   tid  count  rating
0    0    118   62.25
1    1     79   24.25
2    2     80   31.00
3    3     77   29.50
4    4   1050  271.75
5    5    165   97.75
6    6    100   34.50
7    7     53   24.75
8    8    566  229.00
9    9    399  181.75

In [6]:
lh_sum.to_pickle(os.path.join(dir_, 'normalized_popularity_filter_track_5_user_100.pkl'))