In [4]:
import os 
import math
import random
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm
from numpy import count_nonzero

dir_ = '../../data/'
group_dir_ = '../../data/groups/low'

In [5]:
file_name = 'normalized_to_rating_filter_track_5_user_100.csv'
svd = pd.read_pickle(os.path.join(dir_, 'prediction_svd_top_N_' + file_name[:-3] + 'pkl'))
test = pd.read_pickle(os.path.join(dir_, 'test_' + file_name[:-3] + 'pkl'))
test.sort_values(by=['uid','tid'])

file_name = 'normalized_popularity_filter_track_5_user_100.pkl'
pop_count = pd.read_pickle(os.path.join(dir_, file_name))

num_user = len(svd['uid'].unique())
num_user

220

In [6]:
groups_n =[]
group_sizes = ['2', '3', '4', '5', '6', '7', '8']
for i in range(len(group_sizes)):
    groups = np.loadtxt(os.path.join(group_dir_, group_sizes[i] + '.csv'), delimiter=',')
    groups_n.append(groups)

In [7]:
for i in groups_n:
    print(len(i[0]))

2
3
4
5
6
7
8

In [8]:
svd['count'] = 1
svd[:5]

   uid  tid    rating  count
0    0    3  2.544071      1
1    0    7  2.545822      1
2    0   18  2.152490      1
3    0   20  1.882396      1
4    0   31  2.410806      1

In [9]:
pop_count = pop_count.sort_values(by=['count'],  ascending=False)
pop_count[:10]

         tid  count  rating
166      166   3666  573.25
457      457   2042  162.00
6338    6338   1896  153.75
80        80   1835  412.25
1364    1364   1792  327.50
350      350   1667  359.75
7209    7209   1454  400.50
6282    6282   1397   17.75
13104  13104   1368   57.50
3761    3761   1340  354.50

In [10]:
# Linear
# size = int(len(pop_rating) // 5)
# pop_normalized = pd.DataFrame()
# for i in range(5):
#     if i == 0:
#         pop = pop_count[:size].copy()
#     elif i == 4:
#         pop = pop_count[size*4:].copy()
#     else:
#         pop = pop_count[size*i:size*(i+1)].copy()
#     pop['rating'] = (5 - i)
#     pop_normalized = pop_normalized.append(pop)
# pop_normalized = pop_normalized[['tid', 'rating']]

In [11]:
# min_max
max_rating = pop_count.iloc[0]['count']
pop_normalized = pop_count.copy()
pop_normalized = pop_normalized[['tid', 'count']]
pop_normalized['rating'] = pop_normalized['count']
pop_normalized['rating'] /= max_rating
pop_normalized['rating'] *= 5
pop_normalized[:10]

         tid  count    rating
166      166   3666  5.000000
457      457   2042  2.785052
6338    6338   1896  2.585925
80        80   1835  2.502728
1364    1364   1792  2.444081
350      350   1667  2.273595
7209    7209   1454  1.983088
6282    6282   1397  1.905346
13104  13104   1368  1.865794
3761    3761   1340  1.827605

In [12]:
lambdas = []
for i in range(11):
    lambdas.append(i/10)
lambdas

[0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]

In [20]:
for lambda_ in tqdm(lambdas):
    top_n_size = 4
    top_n_lists_g = []
    for groups in groups_n:

        group_size = len(groups[0])
        top_n_lists = []

        for group in groups:
            rating_table = pd.DataFrame() 
            for member in group:
                prediction = svd[svd['uid'] == member].copy()
                if len(rating_table) == 0:
                    rating_table = prediction
                else:
                    rating_table = rating_table.set_index('tid').add(prediction.set_index('tid'), fill_value=0).reset_index()
            rating_table['rating'] /= group_size 
            rating_table['rating'] *= lambda_
            pop = pop_normalized.copy()
            pop['rating'] *= (1 - lambda_)
            rating_table = rating_table.set_index('tid').add(pop.set_index('tid'), fill_value=0).reset_index()
    #         rating_table = rating_table[rating_table['count'] == group_size]
            rating_table = rating_table.sort_values(by=['rating'],  ascending=False)
            rating_table = rating_table[:top_n_size]
            top_n_list = []
            for _, row in rating_table.iterrows():
                top_n_list.append(row[0])
            top_n_lists.append(top_n_list)
        top_n_lists_g.append(top_n_lists)   
        
#     print('lambda = ' + str(lambda_))
    threshold = 0.0
    avg_precisions = []
    avg_recalls = []
    for i in range(len(groups_n)):
        groups = groups_n[i]
        top_n_lists = top_n_lists_g[i]

        precisions = []
        recalls = []
        for j in (range(len(groups))):

            group = groups[j]
            top_n_list = top_n_lists[j]
            
            for k in range(len(group)):
                high_rating = 0
                for l in range(top_n_size):
                    uid = group[k]
                    tid = top_n_list[l]
                    t = test[test['uid'] == uid]
                    t = t[t['tid'] == tid]
                    if len(t) > 0 and t.iloc[0]['rating'] > threshold:
                        high_rating += 1

                precision = high_rating / top_n_size
                recall = high_rating / len(test[test['uid'] == uid])
                precisions.append(precision)
                recalls.append(recall)
            

        avg_precision = 0
        for precision in precisions:
            avg_precision += precision
        avg_precision /= len(precisions)
        avg_precisions.append(avg_precision)

        avg_recall = 0
        for recall in recalls:
            avg_recall += recall
        avg_recall /= len(recalls)
        avg_recalls.append(avg_recall)
        
    print(avg_precisions)
    print(avg_recalls)
    print('----------------------------------------') 
#     print(sum(avg_precisions) / len(avg_precisions))
#     print('----------------------------------------')

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=11.0), HTML(value='')))

[0.07, 0.06060606060606061, 0.0625, 0.04230769230769231, 0.058333333333333334, 0.049107142857142856, 0.044642857142857144]
[0.0010641101633708805, 0.0012446065887425893, 0.0014690531193496, 0.001287645665018112, 0.0014949553744912955, 0.0015825114431728769, 0.0015247783808713116]
----------------------------------------
[0.08, 0.06565656565656566, 0.0625, 0.04230769230769231, 0.058333333333333334, 0.044642857142857144, 0.044642857142857144]
[0.001303344730708584, 0.0011566505946250456, 0.0013607085133973387, 0.001287645665018112, 0.0014949553744912955, 0.001481050404211838, 0.0015247783808713116]
----------------------------------------
[0.08833333333333333, 0.06818181818181818, 0.07236842105263158, 0.04230769230769231, 0.0625, 0.049107142857142856, 0.03571428571428571]
[0.00135149817884202, 0.0011689538956006973, 0.0015708322482731838, 0.0010707338443886722, 0.0015408690567686142, 0.0015083452985423693, 0.001042547318283106]
----------------------------------------
[0.1, 0.07575757575757576, 0.07236842105263158, 0.04230769230769231, 0.06666666666666667, 0.05357142857142857, 0.04017857142857143]
[0.0014081192076863917, 0.0012116868293304967, 0.0015708322482731838, 0.0009739582977416601, 0.0015971569077868966, 0.0015525461471986635, 0.001065151296583287]
----------------------------------------
[0.12333333333333334, 0.08333333333333333, 0.0756578947368421, 0.046153846153846156, 0.07083333333333333, 0.05357142857142857, 0.04017857142857143]
[0.0015537267172569772, 0.0012970123923454788, 0.0016340913575849246, 0.001090508414291777, 0.0016300949842032338, 0.0015525461471986635, 0.001065151296583287]
----------------------------------------
[0.13166666666666665, 0.09848484848484848, 0.08223684210526316, 0.05384615384615385, 0.075, 0.05357142857142857, 0.03571428571428571]
[0.0016329811899628546, 0.0013228082222171767, 0.001666985586229677, 0.0012616451246638997, 0.0020269203810286307, 0.001853708278717938, 0.0009894854370191223]
----------------------------------------
[0.15333333333333332, 0.10858585858585859, 0.09210526315789473, 0.06153846153846154, 0.08333333333333333, 0.0625, 0.03125]
[0.0017966939240529392, 0.0014745821343609136, 0.0019167191051665839, 0.001343015740818127, 0.0021584998550309284, 0.002085932878920066, 0.0008654775005111857]
----------------------------------------
[0.16833333333333333, 0.10606060606060606, 0.10197368421052631, 0.06923076923076923, 0.09166666666666666, 0.07142857142857142, 0.044642857142857144]
[0.0018171055792827369, 0.00131791481362055, 0.002019221062367788, 0.0015538834684082627, 0.0019258617704209508, 0.0024377844300440964, 0.0013975970259208989]
----------------------------------------
[0.175, 0.10858585858585859, 0.11513157894736842, 0.07307692307692308, 0.09583333333333334, 0.07142857142857142, 0.05357142857142857]
[0.0016447815876116838, 0.001421631048642369, 0.002406521759585, 0.0015364679019929568, 0.002141834445636838, 0.0020056001872129532, 0.0014298455535769676]
----------------------------------------
[0.18166666666666667, 0.11363636363636363, 0.12171052631578948, 0.06538461538461539, 0.07916666666666666, 0.08035714285714286, 0.05357142857142857]
[0.0017293879506765598, 0.0014075283675604002, 0.0022236964947220943, 0.0016244499265043615, 0.0013744022420884886, 0.0020695664042352235, 0.0010970580874843509]
----------------------------------------
[0.14333333333333334, 0.08838383838383838, 0.07894736842105263, 0.06538461538461539, 0.0625, 0.0625, 0.03571428571428571]
[0.0013077990302407339, 0.0012077887819200266, 0.0013887903361041777, 0.0018383510074876685, 0.0010523281240806895, 0.0017218608398191853, 0.0007393471707503188]
----------------------------------------

In [21]:
def dcg_at_k(r, k, method=0):
    r = np.asfarray(r)[:k]
    for i in range(len(r)):
        r[i] = 2**r[i] -1
    
    if r.size:
        if method == 0:
            return r[0] + np.sum(r[1:] / np.log2(np.arange(2, r.size + 1)))
        elif method == 1:
            return np.sum(r / np.log2(np.arange(2, r.size + 2)))
        else:
            raise ValueError('method must be 0 or 1.')
    return 0.


def ndcg_at_k(r, r_max, k, method=0):
    dcg_max = dcg_at_k(r_max, k, method)
    if not dcg_max:
        return 0.
    return dcg_at_k(r, k, method) / dcg_max

In [22]:
for lambda_ in tqdm(lambdas):
    top_n_size = 4
    top_n_lists_g = []
    for groups in groups_n:

        group_size = len(groups[0])
        top_n_lists = []

        for group in groups:
            rating_table = pd.DataFrame() 
            for member in group:
                prediction = svd[svd['uid'] == member].copy()
                if len(rating_table) == 0:
                    rating_table = prediction
                else:
                    rating_table = rating_table.set_index('tid').add(prediction.set_index('tid'), fill_value=0).reset_index()
            rating_table['rating'] /= group_size 
            rating_table['rating'] *= lambda_
            pop = pop_normalized.copy()
            pop['rating'] *= (1 - lambda_)
            rating_table = rating_table.set_index('tid').add(pop.set_index('tid'), fill_value=0).reset_index()
    #         rating_table = rating_table[rating_table['count'] == group_size]
            rating_table = rating_table.sort_values(by=['rating'],  ascending=False)
            rating_table = rating_table[:top_n_size]
            top_n_list = []
            for _, row in rating_table.iterrows():
                top_n_list.append(row[0])
            top_n_lists.append(top_n_list)
        top_n_lists_g.append(top_n_lists)   
        
#     print('lambda = ' + str(lambda_))
    threshold = 0.0
    avg_nDCGs = []
    for i in range(len(groups_n)):
        groups = groups_n[i]
        top_n_lists = top_n_lists_g[i]

        nDCGs = []
        for j in (range(len(groups))):

            group = groups[j]
            top_n_list = top_n_lists[j]
            
            for k in range(len(group)):
                truth_rating = []
                uid = group[k]
                for l in range(top_n_size):
                    tid = top_n_list[l]
                    t = test[test['uid'] == uid]
                    t = t[t['tid'] == tid]
                    if len(t) > 0:
                        truth_rating.append(t.iloc[0]['rating'])
                    else:
                        truth_rating.append(0)
                max_rating = test[test['uid']==uid].sort_values(by=['rating'],  ascending=False)['rating'].values[:top_n_size]
                nDCG = ndcg_at_k(truth_rating, max_rating, top_n_size, method=1)
                nDCGs.append(nDCG)  
                
        avg_nDCG = 0
        for nDCG in nDCGs:
            avg_nDCG += nDCG
        avg_nDCG /= len(nDCGs)
        avg_nDCGs.append(avg_nDCG)
        
    print(avg_nDCGs)
#     print('----------------------------------------')

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=11.0), HTML(value='')))

[0.03868076740523092, 0.03023877424239824, 0.03170645417763307, 0.0215434473164825, 0.032355277564591015, 0.019298732355267707, 0.0234536758032154]
[0.04205921882091408, 0.03307319798568802, 0.03320369569360559, 0.021959793296866092, 0.032355277564591015, 0.018620798741271264, 0.0234536758032154]
[0.04724063021108929, 0.03371677096728754, 0.0375093016661843, 0.022652941754618905, 0.033984787167554854, 0.015655169840220633, 0.020429379164425547]
[0.0530220315070911, 0.036630592331852806, 0.0384383061805696, 0.02167741349591283, 0.036359021678009626, 0.017095178639469497, 0.023431656597838354]
[0.06408166387512919, 0.040700312897083445, 0.0406579397619668, 0.024266814857272362, 0.036903831450131604, 0.01728932927736196, 0.023914915325069307]
[0.0695754401359781, 0.05122050706911347, 0.043532257494722754, 0.02565206683961083, 0.036947228080591046, 0.01731750140095884, 0.022462200437934076]
[0.08557453582090872, 0.0535056112875648, 0.046757268393565955, 0.028182479974278096, 0.036723695559804946, 0.017471353536146948, 0.022443876171752985]
[0.09865940463720556, 0.052171718322170685, 0.05109135240243786, 0.03161892195212037, 0.03678859390874659, 0.018299551948582828, 0.023244815643493514]
[0.10236211710553952, 0.052889763793714774, 0.05519049307582076, 0.02549931895363086, 0.034233177829462315, 0.02003026844850439, 0.010868995570159119]
[0.0988832682556222, 0.05195276378426207, 0.05354838874952115, 0.01955780738687217, 0.029687894296622674, 0.025280588104698593, 0.01800443407102123]
[0.07594984056204965, 0.035185830793337675, 0.03377351098363374, 0.020907166620389633, 0.010055717868450224, 0.028951864941909804, 0.015185187146248554]