In [1]:
import pandas as pd
import numpy as np
import os
import tqdm
from tqdm.notebook import tqdm
from pandas import Series, DataFrame
from sklearn.model_selection import train_test_split

dir_ = '../data/'
file_name = 'normalized_to_rating_filter_track_5_user_100.pkl'

In [2]:
df_train =  pd.read_pickle(os.path.join(dir_,'train_' + file_name))
df_test = pd.read_pickle(os.path.join(dir_,'test_' + file_name))

In [11]:
df_train[:10]

         uid    tid  rating    minmax  count
842258   156    592    4.25  1.666667      2
836341   155  32551    0.25  0.138889      1
254213    50  46505    2.00  0.204082      2
622175   123  11399    2.00  0.196078      2
276702    57  34379    0.25  0.020161      1
1134730  194  33890    0.25  0.238095      1
189353    41   3312    0.25  0.035714      1
625023   123  35625    0.25  0.098039      1
910302   167  39675    2.75  0.047847      2
1165287  196  34433    2.25  0.250000      2

In [10]:
train_x = []
train_y = []
pbar = tqdm(total = len(df_train))
for index, row in df_train.iterrows():
    train_x.append([row['uid'], row['tid']])
    train_y.append(row['rating'])
    pbar.update(1)
pbar.close()

HBox(children=(FloatProgress(value=0.0, max=351181.0), HTML(value='')))

In [12]:
test_x = []
test_y = []
pbar = tqdm(total = len(df_test))
for index, row in df_test.iterrows():
    test_x.append([row['uid'], row['tid']])
    test_y.append(row['rating'])
    pbar.update(1)
pbar.close()

HBox(children=(FloatProgress(value=0.0, max=351181.0), HTML(value='')))

In [13]:
train_x[:10]

[[156.0, 592.0],
 [155.0, 32551.0],
 [50.0, 46505.0],
 [123.0, 11399.0],
 [57.0, 34379.0],
 [194.0, 33890.0],
 [41.0, 3312.0],
 [123.0, 35625.0],
 [167.0, 39675.0],
 [196.0, 34433.0]]

In [14]:
train_y[:10]

[1.6666666666666667,
 0.1388888888888889,
 0.20408163265306123,
 0.19607843137254902,
 0.020161290322580645,
 0.23809523809523808,
 0.03571428571428571,
 0.09803921568627451,
 0.04784688995215311,
 0.25]

In [16]:
np.savetxt(os.path.join(dir_, 'train_x_' + file_name[:-3] + 'csv'), train_x, delimiter=",")
np.savetxt(os.path.join(dir_, 'train_y_' + file_name[:-3] + 'csv'), train_y, delimiter=",")
np.savetxt(os.path.join(dir_, 'test_x_' + file_name[:-3] + 'csv'), test_x, delimiter=",")
np.savetxt(os.path.join(dir_, 'test_y_' + file_name[:-3] + 'csv'), test_y, delimiter=",")