In [1]:
import os 
import math
import random
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm
from numpy import count_nonzero

dir_ = '../../../../data/'
group_dir_ = '../../../../data/groups/low'

In [2]:
file_name = 'normalized_to_rating_filter_track_5_user_100.csv'
svd = pd.read_pickle(os.path.join(dir_, 'prediction_svd_top_N_' + file_name[:-3] + 'pkl'))
test = pd.read_pickle(os.path.join(dir_, 'test_' + file_name[:-3] + 'pkl'))
test.sort_values(by=['uid','tid'])

file_name = 'normalized_popularity_filter_track_5_user_100.pkl'
pop_count = pd.read_pickle(os.path.join(dir_, file_name))

num_user = len(svd['uid'].unique())
num_user

953

In [3]:
groups_n =[]
group_sizes = ['2', '3', '4', '5', '6', '7', '8']
for i in range(len(group_sizes)):
    groups = np.loadtxt(os.path.join(group_dir_, group_sizes[i] + '.csv'), delimiter=',')
    groups_n.append(groups)

In [4]:
for i in groups_n:
    print(len(i[0]))

2
3
4
5
6
7
8

In [5]:
svd['count'] = 1
svd[:5]

   uid  tid    rating  count
0    0    9  2.243909      1
1    0   15  2.160610      1
2    0   22  2.145235      1
3    0   28  2.204445      1
4    0   33  2.166677      1

In [6]:
pop_count = pop_count.sort_values(by=['count'],  ascending=False)
pop_count[:10]

         tid  count   rating
70        70  17557  2980.75
1102    1102   6926  1484.25
83        83   6571  1796.75
13496  13496   6299  1669.75
952      952   6234  1527.50
2519    2519   6001  1772.25
4008    4008   5676  1008.25
5521    5521   5658  1727.25
3900    3900   5627  1475.50
2241    2241   5571  1183.75

In [7]:
# Linear
# size = int(len(pop_rating) // 5)
# pop_normalized = pd.DataFrame()
# for i in range(5):
#     if i == 0:
#         pop = pop_count[:size].copy()
#     elif i == 4:
#         pop = pop_count[size*4:].copy()
#     else:
#         pop = pop_count[size*i:size*(i+1)].copy()
#     pop['rating'] = (5 - i)
#     pop_normalized = pop_normalized.append(pop)
# pop_normalized = pop_normalized[['tid', 'rating']]

In [8]:
# min_max
max_rating = pop_count.iloc[0]['count']
pop_normalized = pop_count.copy()
pop_normalized = pop_normalized[['tid', 'count']]
pop_normalized['rating'] = pop_normalized['count']
pop_normalized['rating'] /= max_rating
pop_normalized['rating'] *= 5
pop_normalized[:10]

         tid  count    rating
70        70  17557  5.000000
1102    1102   6926  1.972433
83        83   6571  1.871333
13496  13496   6299  1.793871
952      952   6234  1.775360
2519    2519   6001  1.709005
4008    4008   5676  1.616449
5521    5521   5658  1.611323
3900    3900   5627  1.602495
2241    2241   5571  1.586547

In [9]:
def dcg_at_k(r, k, method=0):
    r = np.asfarray(r)[:k]
    for i in range(len(r)):
        r[i] = 2**r[i] -1
    
    if r.size:
        if method == 0:
            return r[0] + np.sum(r[1:] / np.log2(np.arange(2, r.size + 1)))
        elif method == 1:
            return np.sum(r / np.log2(np.arange(2, r.size + 2)))
        else:
            raise ValueError('method must be 0 or 1.')
    return 0.


def ndcg_at_k(r, r_max, k, method=0):
    dcg_max = dcg_at_k(r_max, k, method)
    if not dcg_max:
        return 0.
    return dcg_at_k(r, k, method) / dcg_max

In [10]:
lambdas = []
for i in range(11):
    lambdas.append(i/10)
lambdas

[0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]

In [13]:
precision_list = []
recall_list = []
nDCG_list = []
for lambda_ in tqdm(lambdas):
    top_n_size = 4
    top_n_lists_g = []
    for groups in groups_n:

        group_size = len(groups[0])
        top_n_lists = []

        for group in groups:
            rating_table = pd.DataFrame() 
            for member in group:
                prediction = svd[svd['uid'] == member].copy()
                if len(rating_table) == 0:
                    rating_table = prediction
                else:
                    rating_table = rating_table.set_index('tid').add(prediction.set_index('tid'), fill_value=0).reset_index()
            rating_table['rating'] /= group_size 
            rating_table['rating'] *= lambda_
            pop = pop_normalized.copy()
            pop['rating'] *= (1 - lambda_)
            rating_table = rating_table.set_index('tid').add(pop.set_index('tid'), fill_value=0).reset_index()
    #         rating_table = rating_table[rating_table['count'] == group_size]
            rating_table = rating_table.sort_values(by=['rating'],  ascending=False)
            rating_table = rating_table[:top_n_size]
            top_n_list = []
            for _, row in rating_table.iterrows():
                top_n_list.append(row[0])
            top_n_lists.append(top_n_list)
        top_n_lists_g.append(top_n_lists)   
        
    threshold = 0.0
    avg_precisions = []
    avg_recalls = []
    avg_nDCGs = []
    for i in range(len(groups_n)):
        groups = groups_n[i]
        top_n_lists = top_n_lists_g[i]

        precisions = []
        recalls = []
        nDCGs = []
        for j in (range(len(groups))):

            group = groups[j]
            top_n_list = top_n_lists[j]
            
            test_g = pd.DataFrame()
            for uid in group:
                t = test[test['uid'] == uid]
                if len(test_g) == 0:
                    test_g = t
                else:
                    test_g = test_g.set_index('tid').add(t.set_index('tid'), fill_value=0).reset_index()
            test_g['rating'] /= len(group)
            
            high_rating = 0
            truth_rating = [] # For nDCG
            for k in range(top_n_size):
                tid = top_n_list[k]
                t = test_g[test_g['tid'] == tid]
                if len(t) > 0:
                    high_rating += 1
                    truth_rating.append(t.iloc[0]['rating']) # For nDCG
                else:
                    truth_rating.append(0) # For nDCG
                        

            precision = high_rating / top_n_size
            recall = high_rating / len(test_g)

            max_rating = test_g.sort_values(by=['rating'],  ascending=False)['rating'].values[:top_n_size]
            nDCG = ndcg_at_k(truth_rating, max_rating, top_n_size, method=1)

            precisions.append(precision)
            recalls.append(recall)
            nDCGs.append(nDCG)  

        avg_precision = 0
        for precision in precisions:
            avg_precision += precision
        avg_precision /= len(precisions)
        avg_precisions.append(avg_precision)

        avg_recall = 0
        for recall in recalls:
            avg_recall += recall
        avg_recall /= len(recalls)
        avg_recalls.append(avg_recall)
        
        avg_nDCG = 0
        for nDCG in nDCGs:
            avg_nDCG += nDCG
        avg_nDCG /= len(nDCGs)
        avg_nDCGs.append(avg_nDCG)
        
    precision_list.append(avg_precisions)
    recall_list.append(avg_recalls)
    nDCG_list.append(avg_nDCGs)

for p in precision_list:
    print(p)
print()
for r in recall_list:
    print(r)
print()   
for n in nDCG_list:
    print(n)
print()

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=11.0), HTML(value='')))

[0.21745152354570638, 0.27044025157232704, 0.3324742268041237, 0.38636363636363635, 0.40625, 0.41025641025641024, 0.47580645161290325]
[0.2596952908587258, 0.29874213836477986, 0.35309278350515466, 0.4090909090909091, 0.4270833333333333, 0.42948717948717946, 0.4435483870967742]
[0.3054016620498615, 0.32861635220125784, 0.3788659793814433, 0.42803030303030304, 0.4427083333333333, 0.41025641025641024, 0.46774193548387094]
[0.3448753462603878, 0.37735849056603776, 0.41494845360824745, 0.44696969696969696, 0.4427083333333333, 0.4358974358974359, 0.5080645161290323]
[0.3628808864265928, 0.4056603773584906, 0.44329896907216493, 0.4659090909090909, 0.4635416666666667, 0.44871794871794873, 0.5]
[0.3684210526315789, 0.4261006289308176, 0.46134020618556704, 0.4734848484848485, 0.46875, 0.44871794871794873, 0.532258064516129]
[0.36772853185595566, 0.43553459119496857, 0.46649484536082475, 0.48484848484848486, 0.4739583333333333, 0.4551282051282051, 0.5483870967741935]
[0.39196675900277006, 0.45440251572327045, 0.4896907216494845, 0.5113636363636364, 0.46875, 0.46794871794871795, 0.5806451612903226]
[0.4023545706371191, 0.46540880503144655, 0.44072164948453607, 0.49242424242424243, 0.4635416666666667, 0.4807692307692308, 0.6290322580645161]
[0.4051246537396122, 0.449685534591195, 0.45103092783505155, 0.4659090909090909, 0.421875, 0.4551282051282051, 0.5967741935483871]
[0.37534626038781166, 0.4166666666666667, 0.4175257731958763, 0.45075757575757575, 0.4322916666666667, 0.47435897435897434, 0.532258064516129]

[0.0009019764564881227, 0.0009504700977977579, 0.0010496409992907458, 0.0010846578692288353, 0.0010914020167664068, 0.001031444533145081, 0.001085297571348972]
[0.001070723276522451, 0.00102077058451951, 0.0011190038363488438, 0.0011543118280019694, 0.001147997011580396, 0.0010806696317695584, 0.0010044692354419693]
[0.0012376039781445158, 0.0011199668835217066, 0.0011778877189357237, 0.0011810662034491613, 0.0011754328917034798, 0.0010272319703840934, 0.0010708305072212093]
[0.0013575271778977546, 0.0012701818247970091, 0.001279521247695178, 0.0012216328048248748, 0.001180590629034441, 0.001081234306817759, 0.0011669383727989442]
[0.0014127995962925095, 0.0013485957499001623, 0.001354801855427653, 0.0012586926318814311, 0.0012239775743548426, 0.0011143066170056653, 0.0011450743281599342]
[0.0014210082738386962, 0.0014062299071063596, 0.0013959032863897919, 0.0012623353579612614, 0.001239371644528795, 0.0011199401413544408, 0.0012283431160002164]
[0.0014151178224780549, 0.001426757609276028, 0.001395815358038248, 0.0012775650961244255, 0.0012351879748821726, 0.0011288640292151442, 0.0012627564603162537]
[0.0015136718827853826, 0.0014877085619922428, 0.0014406177474755447, 0.0013402331830350473, 0.0012103112717986933, 0.0011388778966296871, 0.001330071599967424]
[0.0015224454085415334, 0.0015215508710466757, 0.0012778354624821027, 0.001278385163980367, 0.001188647648017436, 0.0011739045468825077, 0.0014283269384843856]
[0.0015207606865271955, 0.0014283728234086958, 0.0013085221383412234, 0.0011769526159556894, 0.0010726894621854467, 0.0011160112504244913, 0.001358162661940451]
[0.001410744627258679, 0.001356167502105341, 0.0012076949885355347, 0.0011458481191942652, 0.0010882337186697746, 0.0011589819034322991, 0.001214216898969307]

[0.13226954711907996, 0.14818510982184235, 0.18980079630324842, 0.19951102541625967, 0.19389250074266437, 0.23015872051493722, 0.27601203677397307]
[0.1564962622974542, 0.1665625349155015, 0.20160362072307195, 0.2038703141368307, 0.19784859039007394, 0.24166121412365024, 0.27285985712522237]
[0.18250302685865738, 0.18665826741446215, 0.21630765787508954, 0.21732301259477457, 0.21807534356552347, 0.23994285772833743, 0.28223183484923736]
[0.1999131106166928, 0.20784672134408239, 0.23543058657949217, 0.23048306638903096, 0.21500150870918233, 0.26040629395651993, 0.3017427473030305]
[0.2071602174074004, 0.21932574811443797, 0.2516537274715697, 0.24694141084171103, 0.22114680076664597, 0.26705093509548894, 0.29907688846402475]
[0.20858859006756375, 0.22788993787552767, 0.2581381658156116, 0.25068503503863193, 0.21667945527511034, 0.26949420561847026, 0.2991024525416159]
[0.21649894772691097, 0.23321014826265718, 0.2635270842736082, 0.2565640096668474, 0.21577230159553062, 0.2751843059487254, 0.30495842512563853]
[0.23091436881414804, 0.2530573356069191, 0.2680598521219202, 0.2601344592272931, 0.21912016294768932, 0.2811278413945858, 0.3226944552580571]
[0.25518580019569903, 0.2574764981307691, 0.2473522081996849, 0.25146395700388546, 0.18921124342512632, 0.2568054917585786, 0.3162372623549995]
[0.25341095125403584, 0.24832617057041606, 0.24510986577686894, 0.24354339936287342, 0.18677215072375655, 0.21791077958024838, 0.2719976889100431]
[0.21652472642221945, 0.22960489764541575, 0.23230128293448365, 0.21770532192287673, 0.18008238680905733, 0.2059785842202873, 0.2364326939318024]