In [1]:
import pandas as pd
import numpy as np
import time
import os 
from pandas import Series, DataFrame
from tqdm.notebook import tqdm

dir_ = '../data/'
folder = 'sp_matrix_tag_pop'
file_name = 'filter_track_5_user_50.pkl'

In [3]:
lh = pd.read_pickle(os.path.join(dir_, folder, file_name))
unique_users = lh['uid'].unique()
unique_user = len(unique_users)
unique_tracks = lh['tid'].unique()
unique_track = len(unique_tracks)

print(unique_user)
print(unique_track)

218
39137

In [4]:
lh[:5]

    uid  tid  count  tags
0     0    0      2     1
2     0    2      2     2
7     0    7      4     0
8     0    8      1     0
10    0   10      5     1

In [5]:
track_keys = {}

for track in unique_tracks:
    track_keys[track] = len(track_keys)
    
user_keys = {}

for user in unique_users:
    user_keys[user] = len(user_keys)

lh['tid']= lh['tid'].map(track_keys)
lh['uid']= lh['uid'].map(user_keys)
lh[:5]

    uid  tid  count  tags
0     0    0      2     1
2     0    1      2     2
7     0    2      4     0
8     0    3      1     0
10    0    4      5     1

In [6]:
threshold = []
for i in tqdm(lh['uid'].unique()):
    user = lh[lh['uid'] == i]
    user = user.sort_values(by=['count'])
    t = []
    for j in range(19):
        v = user.iloc[len(user)//20*(j+1)]['count']
        t.append(v)
    threshold.append(t)
threshold[0]

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=218.0), HTML(value='')))

[1, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 4, 4, 5, 6, 6, 8, 11, 15]

In [7]:
start = time.time()
def to_rating(df):  
    rating = 0
    for i in range(18,-1,-1):
        if df['count'] <= threshold[df['uid']][i]:
            continue
        else:
            rating = i+1
            break
    return 0.25*(rating+1)
        
lh['rating'] = lh.apply(to_rating , axis = 1)

end = time.time()
print(end - start)

28.271138906478882

In [8]:
lh[:5]

    uid  tid  count  tags  rating
0     0    0      2     1    1.50
2     0    1      2     2    1.50
7     0    2      4     0    3.00
8     0    3      1     0    0.25
10    0    4      5     1    3.50

In [26]:
lh.to_pickle(os.path.join(dir_, 'normalized_to_rating_' + file_name))

In [9]:
# pop
pop_dict = {}
for i in tqdm(lh['tid'].unique()):
    pop = len(lh[lh['tid']==i])
    pop_dict[i] = pop

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=39137.0), HTML(value='')))

In [10]:
lh['pop'] = lh['tid'].map(pop_dict)
lh

        uid    tid  count  tags  rating  pop
0         0      0      2     1    1.50    5
2         0      1      2     2    1.50   10
7         0      2      4     0    3.00   24
8         0      3      1     0    0.25    9
10        0      4      5     1    3.50   14
...     ...    ...    ...   ...     ...  ...
713797  217   6281      2     2    1.50   44
713798  217   6282     13    12    5.00   60
713799  217  10932      7     2    4.25   18
713800  217   6285      5     2    3.50   55
713801  217  27420      5     1    3.50   25

[453347 rows x 6 columns]

In [11]:
lh.to_pickle(os.path.join(dir_, folder, 'normalized_to_rating_' + file_name))

In [12]:
pop_dict[2630-218]

11