In [10]:
import pandas as pd
import os
import numpy as np
from tqdm.notebook import tqdm
from pandas import Series, DataFrame
from sklearn.model_selection import train_test_split

dir_ = '../data/'
folder = 'sp_matrix_tag_one'
file_name = 'normalized_to_rating_filter_track_5_user_50.pkl'

In [12]:
filtered_pd = pd.read_pickle(os.path.join(dir_, folder, file_name))

In [13]:
filtered_pd[:5]

    uid  tid  count  tags  rating
0     0    0      2     1    1.50
2     0    1      2     2    1.50
7     0    2      4     0    3.00
8     0    3      1     0    0.25
10    0    4      5     1    3.50

In [14]:
train, test = train_test_split(filtered_pd, test_size=0.2, random_state= np.random)

In [15]:
train[:5]

        uid    tid  count  tags  rating
643018  193  38210      1    12    0.25
475518  150  21247      1     0    0.25
206333   72  35336      1     9    0.25
496063  163  11609      1     1    0.25
118852   41  24256      1    10    0.25

In [16]:
test[:5]

        uid    tid  count  tags  rating
113415   41  23364      1     5    0.25
462416  147   5807      1     1    0.25
328408  110  19370     36     1    5.00
311447  105  21882      2     0    3.25
448778  147  15502      1     1    0.25

In [17]:
print(len(train), len(test))

362677 90670

In [18]:
train.to_pickle(os.path.join(dir_, folder, 'train_' + file_name))
test.to_pickle(os.path.join(dir_, folder, 'test_' + file_name))