In [1]:
import pandas as pd
import os
import numpy as np
import scipy.sparse as sp
from tqdm.notebook import tqdm

dir_ = '../data'
folder = 'sp_matrix_tag_pop'
file_name = 'normalized_to_rating_filter_track_5_user_50.pkl'

In [2]:
lh =  pd.read_pickle(os.path.join(dir_, folder, file_name))
train = pd.read_pickle(os.path.join(dir_, folder, 'train_' + file_name))
test = pd.read_pickle(os.path.join(dir_, folder, 'test_' + file_name))

In [3]:
unique_users = len(lh['uid'].unique())
unique_tracks = len(lh['tid'].unique())
tid_start = unique_users
tag_start = unique_users + unique_tracks
pop_start = unique_users + unique_tracks + 19
group_start = unique_users + unique_tracks + 19 + 1
print ('Number of unique users : ' + str(unique_users))
print ('Number of unique tracks : ' + str(unique_tracks))
print ('Times of tracks being listened: ' + str(len(lh)))

Number of unique users : 218
Number of unique tracks : 39137
Times of tracks being listened: 453347

In [4]:
len(train), len(test)

(362677, 90670)

In [78]:
# # tag
# l = unique_users + unique_tracks + 19
# i = 0
# sp_rows = []
# sp_cols = []
# for index, row in tqdm(train.iterrows(), total=len(train)):
#     sp_rows.append(i)
#     sp_cols.append(row['uid'])
    
#     sp_rows.append(i)
#     sp_cols.append(tid_start + row['tid'])
    
#     # only one tag
#     sp_rows.append(i)
#     sp_cols.append(tag_start + row['tags'])

#     # many tags
# #     for tag in row['tags']:
# #         sp_rows.append(i)
# #         sp_cols.append(tag_start + tag)
        
#     i += 1
    
# w = np.ones(len(sp_rows))
# train_sp = sp.csr_matrix((w, (sp_rows, sp_cols)), shape=(len(train), l), dtype=float)

In [79]:
# # pop
# l = unique_users + unique_tracks + 1
# i = 0
# v = []
# sp_rows = []
# sp_cols = []
# for index, row in tqdm(train.iterrows(), total=len(train)):
#     sp_rows.append(i)
#     sp_cols.append(row['uid'])
#     v.append(1)
    
#     sp_rows.append(i)
#     sp_cols.append(tid_start + row['tid'])
#     v.append(1)

#     sp_rows.append(i)
#     sp_cols.append(tag_start)
#     v.append(row['pop'])
        
#     i += 1

# train_sp = sp.csr_matrix((v, (sp_rows, sp_cols)), shape=(len(train), l), dtype=float)

In [80]:
# Discrete popularity
# pop_list = lh['pop'].unique()
# pop_list = sorted(pop_list, reverse=False)

# v1 = []
# v2 = []
# sum_pop = 0
# thres_pop = []
# for pop in pop_list:
#     v1.append(pop)
#     v2.append(len(lh[lh['pop']==pop]))
#     sum_pop += len(lh[lh['pop']==pop])
# sum_pop_ = 0   
# for pop in pop_list:
#     sum_pop_ += len(lh[lh['pop']==pop])
#     if sum_pop_ >= sum_pop/5*(len(thres_pop)+1):
#         thres_pop.append(pop)
# print(thres_pop)

# import seaborn as sns 
# import matplotlib.pyplot as plt # 引入matplotlib的函數

# x = v1 # x軸的值
# y = v2  # y軸的值

# plt.title("Count of items with different popularity") # 圖的標題
# plt.xlabel("Popularity") # x軸的名稱
# plt.ylabel("Count") # y軸的名稱
# plt.bar(x, y) # 繪製長條圖
# plt.show() # 顯現圖形 

# dict_pop = {}
# for pop in pop_list:
#     if pop < thres_pop[0]:
#         dict_pop[pop] = 1
#     elif pop < thres_pop[1]:
#         dict_pop[pop] = 2
#     elif pop < thres_pop[2]:
#         dict_pop[pop] = 3
#     elif pop < thres_pop[3]:
#         dict_pop[pop] = 4
#     else:
#         dict_pop[pop] = 5

# train['pop'] = train['pop'].map(dict_pop)
# train[:5]

In [81]:
# tag and pop
# l = unique_users + unique_tracks + 19 + 1
# i = 0
# v = []
# sp_rows = []
# sp_cols = []
# for index, row in tqdm(train.iterrows(), total=len(train)):
#     sp_rows.append(i)
#     sp_cols.append(row['uid'])
#     v.append(1)
    
#     sp_rows.append(i)
#     sp_cols.append(tid_start + row['tid'])
#     v.append(1)
    
#     sp_rows.append(i)
#     sp_cols.append(tag_start + row['tags'])
#     v.append(1)

#     sp_rows.append(i)
#     sp_cols.append(pop_start)
#     v.append(row['pop'])
        
#     i += 1

# train_sp = sp.csr_matrix((v, (sp_rows, sp_cols)), shape=(len(train), l), dtype=float)

In [5]:
groups_n =[]
group_sizes = ['2', '3', '4', '5']
group2 = {}
group3 = {}
group4 = {}
group5 = {}
group_dir_ = '../data/groups/random'
for i in range(len(group_sizes)):
    groups = np.loadtxt(os.path.join(group_dir_, group_sizes[i] + '.csv'), delimiter=',')
    groups_n.append(groups)
    j = 0;
    for group in groups:
        for user in group:
            if len(group) == 2:
                group2[user] = j
            elif len(group) == 3:
                group3[user] = j
            elif len(group) == 4:
                group4[user] = j
            elif len(group) == 5:
                group5[user] = j
        j += 1

In [6]:
lh['group_info_2'] = lh['uid'].map(group2)
lh['group_info_3'] = lh['uid'].map(group3)
lh['group_info_4'] = lh['uid'].map(group4)
lh['group_info_5'] = lh['uid'].map(group5)
lh[:5]

,uid,tid,count,tags,rating,pop,group_info_2,group_info_3,group_info_4,group_info_5
0,0,0,2,1,1.50,5,67,8.0,34.0,23.0
2,0,1,2,2,1.50,10,67,8.0,34.0,23.0
7,0,2,4,0,3.00,24,67,8.0,34.0,23.0
8,0,3,1,0,0.25,9,67,8.0,34.0,23.0
10,0,4,5,1,3.50,14,67,8.0,34.0,23.0

In [97]:
# lh.to_pickle(os.path.join(dir_, folder, 'group_info/random', file_name))

In [7]:
train[:5]

        uid    tid  count  tags  rating  pop
192053   66  19034      1    18    0.25    7
194026   67  32848      5     1    4.25   16
515160  166  34145      2     1    3.00    7
172679   61   2412     16    17    5.00   11
224741   73  37153      2     0    1.50    7

In [8]:
train['group_info_2'] = train['uid'].map(group2)
train['group_info_3'] = train['uid'].map(group3)
train['group_info_4'] = train['uid'].map(group4)
train['group_info_5'] = train['uid'].map(group5)
train[:5]

,uid,tid,count,tags,rating,pop,group_info_2,group_info_3,group_info_4,group_info_5
192053,66,19034,1,18,0.25,7,46,0.0,1.0,39.0
194026,67,32848,5,1,4.25,16,18,67.0,14.0,13.0
515160,166,34145,2,1,3.00,7,84,54.0,29.0,6.0
172679,61,2412,16,17,5.00,11,54,2.0,24.0,31.0
224741,73,37153,2,0,1.50,7,8,NaN,25.0,7.0

In [89]:
# tag and pop
group_size = 2
key = 'group_info_' + str(group_size)
groups = np.loadtxt(os.path.join(group_dir_, str(group_size) + '.csv'), delimiter=',')
l = unique_users + unique_tracks + 19 + 1 + len(groups)
i = 0
v = []
sp_rows = []
sp_cols = []
for index, row in tqdm(train.iterrows(), total=len(train)):
    if not np.isnan(row[key]):
        sp_rows.append(i)
        sp_cols.append(row['uid'])
        v.append(1)

        sp_rows.append(i)
        sp_cols.append(tid_start + row['tid'])
        v.append(1)

        sp_rows.append(i)
        sp_cols.append(tag_start + row['tags'])
        v.append(1)

        sp_rows.append(i)
        sp_cols.append(pop_start)
        v.append(row['pop'])
        
        sp_rows.append(i)
        sp_cols.append(group_start + row[key])
        v.append(1)

        i += 1

train_sp = sp.csr_matrix((v, (sp_rows, sp_cols)), shape=(len(train), l), dtype=float)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=362677.0), HTML(value='')))

In [90]:
max(sp_rows), max(sp_cols), len(train)

(346961, 39457.0, 362677)

In [91]:
train_sp.shape

(362677, 39458)

In [31]:
print(train_sp[2,:])

  (0, 84)	1.0
  (0, 14111)	1.0
  (0, 39356)	1.0
  (0, 39374)	41.0
  (0, 39378)	1.0

In [32]:
sp.save_npz(os.path.join(dir_, folder, 'group_info/low',  str(group_size) + '_train_x_'+ file_name), train_sp)

In [ ]:
train_y = []
for index, row in tqdm(train.iterrows(), total=len(train)):
    train_y.append(row['rating'])

In [ ]:
np.savetxt(os.path.join(dir_, folder, 'train_y_' + file_name[:-3] + 'csv'), train_y, delimiter=",")

In [ ]:
# # tag
# i = 0
# sp_rows = []
# sp_cols = []
# for index, row in tqdm(test.iterrows(), total=len(test)):
#     sp_rows.append(i)
#     sp_cols.append(row['uid'])
    
#     sp_rows.append(i)
#     sp_cols.append(tid_start + row['tid'])
    
#     sp_rows.append(i)
#     sp_cols.append(tag_start + row['tags'])
    
# #     for tag in row['tags']:
# #         sp_rows.append(i)
# #         sp_cols.append(tag_start + tag)

#     i += 1
    
# w = np.ones(len(sp_rows))
# test_sp = sp.csr_matrix((w, (sp_rows, sp_cols)), shape=(len(test), l), dtype=float)

In [ ]:
# # pop
# i = 0
# v = []
# sp_rows = []
# sp_cols = []
# for index, row in tqdm(test.iterrows(), total=len(test)):
#     sp_rows.append(i)
#     sp_cols.append(row['uid'])
#     v.append(1)
    
#     sp_rows.append(i)
#     sp_cols.append(tid_start + row['tid'])
#     v.append(1)
    
#     sp_rows.append(i)
#     sp_cols.append(tag_start)
#     v.append(row['pop'])

#     i += 1

# test_sp = sp.csr_matrix((v, (sp_rows, sp_cols)), shape=(len(test), l), dtype=float)

In [59]:
test[:5]

        uid    tid  count  tags  rating  pop
554584  173  12116      1    12    0.25   26
484724  155  19059      1     1    0.25   29
565065  176  26181     60     2    4.75   13
233430   74  30244      1     1    0.25    5
210746   72   4414      8     3    4.75   16

In [60]:
test['group_info_2'] = test['uid'].map(group2)
test['group_info_3'] = test['uid'].map(group3)
test['group_info_4'] = test['uid'].map(group4)
test['group_info_5'] = test['uid'].map(group5)
test[:5]

,uid,tid,count,tags,rating,pop,group_info_2,group_info_3,group_info_4,group_info_5
554584,173,12116,1,12,0.25,26,50,32.0,19.0,3.0
484724,155,19059,1,1,0.25,29,22,17.0,18.0,12.0
565065,176,26181,60,2,4.75,13,49,20.0,12.0,29.0
233430,74,30244,1,1,0.25,5,72,36.0,42.0,33.0
210746,72,4414,8,3,4.75,16,71,20.0,32.0,0.0

In [61]:
# test['pop'] = test['pop'].map(dict_pop)
# test[:5]

In [71]:
# tag and pop
group_size = 2
key = 'group_info_' + str(group_size)
groups = np.loadtxt(os.path.join(group_dir_, str(group_size) + '.csv'), delimiter=',')
l = unique_users + unique_tracks + 19 + 1 + len(groups)
i = 0
v = []
sp_rows = []
sp_cols = []
for index, row in tqdm(test.iterrows(), total=len(test)):
    if not np.isnan(row[key]):
        sp_rows.append(i)
        sp_cols.append(row['uid'])
        v.append(1)

        sp_rows.append(i)
        sp_cols.append(tid_start + row['tid'])
        v.append(1)

        sp_rows.append(i)
        sp_cols.append(tag_start + row['tags'])
        v.append(1)

        sp_rows.append(i)
        sp_cols.append(pop_start)
        v.append(row['pop'])
        
        sp_rows.append(i)
        sp_cols.append(group_start + row[key])
        v.append(1)

        i += 1

test_sp = sp.csr_matrix((v, (sp_rows, sp_cols)), shape=(len(test), l), dtype=float)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=90670.0), HTML(value='')))

In [72]:
print(test_sp[3,:])

  (0, 74)	1.0
  (0, 30462)	1.0
  (0, 39356)	1.0
  (0, 39374)	5.0
  (0, 39447)	1.0

In [73]:
sp.save_npz(os.path.join(dir_, folder, 'group_info/random',  str(group_size) + '_test_x_'+ file_name), test_sp)

In [ ]:
test_y = []
for index, row in tqdm(test.iterrows(), total=len(test)):
    test_y.append(row['rating'])

In [ ]:
np.savetxt(os.path.join(dir_, folder, 'test_y_' + file_name[:-3] + 'csv'), test_y, delimiter=",")