In [1]:
import pandas as pd
import os
import numpy as np
from tqdm.notebook import tqdm
from pandas import Series, DataFrame
from sklearn.model_selection import train_test_split

dir_ = '../data/'
file_name = 'normalized_to_rating_filter_track_5_user_50.pkl'

In [2]:
filtered_pd = pd.read_pickle(os.path.join(dir_, file_name))

In [3]:
filtered_pd[:5]

    uid  tid  count     tags  rating
0     0    0      2      [1]    1.50
2     0    1      2   [2, 1]    1.50
7     0    2      4   [0, 8]    3.00
8     0    3      1      [0]    0.25
10    0    4      5  [1, 12]    3.50

In [4]:
train, test = train_test_split(filtered_pd, test_size=0.2, random_state= np.random)

In [6]:
train[:5]

        uid    tid  count        tags  rating
505750  165   8148      1         [2]    0.25
236319   74  10722      1  [2, 1, 12]    0.25
303629  102  23694      1      [2, 1]    0.25
5970      3   3569     26      [0, 2]    4.75
232277   74  23976      7  [2, 5, 12]    4.75

In [7]:
test[:5]

        uid    tid  count         tags  rating
229258   74  28422      1  [13, 1, 12]    0.25
311220  105  14452      1      [0, 12]    0.25
141172   50   3911     22      [2, 12]    5.00
713619  217   6098      4          [0]    3.00
143516   50  19883      2         [14]    1.75

In [8]:
print(len(train), len(test))

362677 90670

In [9]:
train.to_pickle(os.path.join(dir_, 'train_' + file_name))
test.to_pickle(os.path.join(dir_, 'test_' + file_name))