In [29]:
import pandas as pd
import os
import numpy as np
from tqdm.notebook import tqdm
from pandas import Series, DataFrame
from sklearn.model_selection import train_test_split

dir_ = '../data/'
file_name = 'normalized_to_rating_filter_track_5_user_100.pkl'

In [30]:
filtered_pd = pd.read_pickle(os.path.join(dir_, file_name))

In [31]:
filtered_pd[:5]

   uid  tid  rating    minmax  count
4    0    0    4.75  1.595745     15
5    0    1    2.50  0.319149      3
6    0    2    0.25  0.106383      1
7    0    3    0.25  0.106383      1
8    0    4    4.50  1.063830     10

In [32]:
train, test = train_test_split(filtered_pd, test_size=0.2, random_state= np.random)

In [33]:
train_rating = train[['uid', 'tid', 'rating', 'count']]
train_rating[:5]

        uid    tid  rating  count
125053   22  35405    3.00      4
502901   99   5848    3.75      3
296346   61  31482    0.25      1
131224   24  20567    0.25      1
966868  172  19944    2.50      3

In [34]:
test_rating = test[['uid', 'tid', 'rating', 'count']]
test_rating[:5]

        uid    tid  rating  count
864588  159  17392    3.75      2
234733   47  38181    1.50      2
537106  105  39134    0.25      1
728617  147  33200    0.25      1
950885  171  54508    0.25      1

In [35]:
train_rating.to_pickle(os.path.join(dir_, 'train_' + file_name))
test_rating.to_pickle(os.path.join(dir_, 'test_' + file_name))

In [36]:
#minmax

In [37]:
file_name = 'normalized_minmax_filter_track_5_user_100.pkl'

In [38]:
train_minmax = train[['uid', 'tid', 'minmax', 'count']]
train_minmax = train_minmax.rename(columns={"minmax": "rating"})
train_minmax[:5]

        uid    tid    rating  count
125053   22  35405  1.052632      4
502901   99   5848  0.555556      3
296346   61  31482  0.075758      1
131224   24  20567  0.178571      1
966868  172  19944  0.178571      3

In [39]:
test_minmax = test[['uid', 'tid', 'minmax', 'count']]
test_minmax = test_minmax.rename(columns={"minmax": "rating"})
test_minmax[:5]

        uid    tid    rating  count
864588  159  17392  0.769231      2
234733   47  38181  0.062500      2
537106  105  39134  0.052632      1
728617  147  33200  0.081967      1
950885  171  54508  0.034014      1

In [40]:
train_minmax.to_pickle(os.path.join(dir_, 'train_' + file_name))
test_minmax.to_pickle(os.path.join(dir_, 'test_' + file_name))