In [4]:
# This file normalize dataframe by min max normalization

import pandas as pd
import numpy as np
import time
import os 
from pandas import Series, DataFrame
from tqdm import tqdm_notebook

dir_ = '../data'
file_name = 'normalized_to_rating_filter_track_5_user_100.pkl'

In [6]:
df = pd.read_pickle(os.path.join(dir_,'train_' + file_name))

In [7]:
unique_users = df['uid'].unique()
unique_user = len(unique_users)
unique_tracks = df['tid'].unique()
unique_track = len(unique_tracks)

print(unique_user)
print(unique_track)

220
54966

In [8]:
df[:5]

        uid    tid  rating  count
125053   22  35405    3.00      4
502901   99   5848    3.75      3
296346   61  31482    0.25      1
131224   24  20567    0.25      1
966868  172  19944    2.50      3

In [9]:
lh_sum = df.groupby(["tid"]).sum().reset_index()
lh_sum = lh_sum[['tid','count', 'rating']]
lh_sum[:5]

   tid  count  rating
0    0     74   39.75
1    1     53   19.00
2    2     70   24.75
3    3     50   21.25
4    4    963  233.00
5    5    102   74.75
6    6     69   21.50
7    7     47   21.50
8    8    390  192.25
9    9    360  153.50

In [10]:
lh_sum.to_pickle(os.path.join(dir_, 'normalized_popularity_filter_track_5_user_100.pkl'))