In [1]:
# This file normalize dataframe by log normalization

import pandas as pd
import numpy as np
import time
import os 
import math
from pandas import Series, DataFrame
from tqdm.notebook import tqdm

dir_ = '../data/'
file_name = 'filter_track_5_user_100.pkl'

In [2]:
lh = pd.read_pickle(os.path.join(dir_, file_name))

In [3]:
unique_users = lh['uid'].unique()
unique_user = len(unique_users)
unique_tracks = lh['tid'].unique()
unique_track = len(unique_tracks)

print(unique_user)
print(unique_track)

220
54969

In [4]:
lh[:10]

    uid  tid  count
4     0    4     15
5     0    5      3
6     0    6      1
7     0    7      1
8     0    8     10
9     0    9      1
10    0   10      2
11    0   11      3
13    0   13      2
14    0   14      1

In [5]:
track_keys = {}

for track in unique_tracks:
    track_keys[track] = len(track_keys)
    
user_keys = {}

for user in unique_users:
    user_keys[user] = len(user_keys)

In [6]:
lh['tid']= lh['tid'].map(track_keys)
lh['uid']= lh['uid'].map(user_keys)

In [7]:
lh[:10]

    uid  tid  count
4     0    0     15
5     0    1      3
6     0    2      1
7     0    3      1
8     0    4     10
9     0    5      1
10    0    6      2
11    0    7      3
13    0    8      2
14    0    9      1

In [8]:
max_list = {}
for i in tqdm(lh['uid'].unique()):
    user = lh[lh['uid'] == i]
    max_value = max(user['count'])
    max_list[i] = max_value

HBox(children=(FloatProgress(value=0.0, max=220.0), HTML(value='')))

In [8]:
# If the input data is array, try the code below

# for i in train['uid'].unique():
#     user = train[train['uid'] == i]
#     max_value = max(user['count'])
#     print(max_value)
#     normalized_list[i] = [j *5 / max_value for j in counting_list[i]]

# for i in tqdm_notebook(lh['uid'].unique()):
#     user = lh[lh['uid'] == i]
#     max_value = max(user['count'])
#     for index, row in user.iterrows():
#         lh.loc[index, 'count'] = row['count'] *5 / max_value
start = time.time()
def normalize(df):  
    return math.log(1+df['count'],10)

lh['rating'] = lh.apply(normalize , axis = 1)
lh = lh[['uid','tid','rating','count']]

end = time.time()
print(end - start)

4.691941022872925

In [9]:
lh[:10]

    uid  tid    rating  count
4     0    0  1.204120     15
5     0    1  0.602060      3
6     0    2  0.301030      1
7     0    3  0.301030      1
8     0    4  1.041393     10
9     0    5  0.301030      1
10    0    6  0.477121      2
11    0    7  0.602060      3
13    0    8  0.477121      2
14    0    9  0.301030      1

In [10]:
lh.to_pickle(os.path.join(dir_, 'normalized_log_' + file_name))