In [1]:
import os 
import math
import random
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm
from numpy import count_nonzero

dir_ = '../../data/'
group_dir_ = '../../data/groups/high'

In [2]:
file_name = 'normalized_to_rating_filter_track_5_user_100.csv'
svd = pd.read_pickle(os.path.join(dir_, 'prediction_svd_top_N_' + file_name[:-3] + 'pkl'))
test = pd.read_pickle(os.path.join(dir_, 'test_' + file_name[:-3] + 'pkl'))
test.sort_values(by=['uid','tid'])

file_name = 'normalized_popularity_filter_track_5_user_100.pkl'
pop_count = pd.read_pickle(os.path.join(dir_, file_name))

num_user = len(svd['uid'].unique())
num_user

220

In [3]:
groups_n =[]
group_sizes = ['2', '3', '4', '5', '6', '7', '8', '9', '10', '20']
for i in range(len(group_sizes)):
    groups = np.loadtxt(os.path.join(group_dir_, group_sizes[i] + '.csv'), delimiter=',')
    groups_n.append(groups)

In [4]:
for i in groups_n:
    print(len(i[0]))

2
3
4
5
6
7
8
9
10
20

In [5]:
svd['count'] = 1
svd[:5]

   uid  tid    rating  count
0    0    3  2.544071      1
1    0    7  2.545822      1
2    0   18  2.152490      1
3    0   20  1.882396      1
4    0   31  2.410806      1

In [6]:
pop_count = pop_count.sort_values(by=['count'],  ascending=False)
pop_count[:10]

         tid  count  rating
166      166   3666  573.25
457      457   2042  162.00
6338    6338   1896  153.75
80        80   1835  412.25
1364    1364   1792  327.50
350      350   1667  359.75
7209    7209   1454  400.50
6282    6282   1397   17.75
13104  13104   1368   57.50
3761    3761   1340  354.50

In [7]:
# Linear
# size = int(len(pop_rating) // 5)
# pop_normalized = pd.DataFrame()
# for i in range(5):
#     if i == 0:
#         pop = pop_count[:size].copy()
#     elif i == 4:
#         pop = pop_count[size*4:].copy()
#     else:
#         pop = pop_count[size*i:size*(i+1)].copy()
#     pop['rating'] = (5 - i)
#     pop_normalized = pop_normalized.append(pop)
# pop_normalized = pop_normalized[['tid', 'rating']]

In [8]:
# min_max
max_rating = pop_count.iloc[0]['count']
pop_normalized = pop_count.copy()
pop_normalized = pop_normalized[['tid', 'count']]
pop_normalized['rating'] = pop_normalized['count']
pop_normalized['rating'] /= max_rating
pop_normalized['rating'] *= 5
pop_normalized[:10]

         tid  count    rating
166      166   3666  5.000000
457      457   2042  2.785052
6338    6338   1896  2.585925
80        80   1835  2.502728
1364    1364   1792  2.444081
350      350   1667  2.273595
7209    7209   1454  1.983088
6282    6282   1397  1.905346
13104  13104   1368  1.865794
3761    3761   1340  1.827605

In [9]:
lambdas = []
for i in range(11):
    lambdas.append(i/10)
lambdas

[0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]

In [18]:
for lambda_ in tqdm(lambdas):
    top_n_size = 4
    top_n_lists_g = []
    for groups in groups_n:

        group_size = len(groups[0])
        top_n_lists = []

        for group in groups:
            rating_table = pd.DataFrame() 
            for member in group:
                prediction = svd[svd['uid'] == member].copy()
                if len(rating_table) == 0:
                    rating_table = prediction
                else:
                    rating_table = rating_table.set_index('tid').add(prediction.set_index('tid'), fill_value=0).reset_index()
            rating_table['rating'] /= group_size 
            rating_table['rating'] *= lambda_
            pop = pop_normalized.copy()
            pop['rating'] *= (1 - lambda_)
            rating_table = rating_table.set_index('tid').add(pop.set_index('tid'), fill_value=0).reset_index()
    #         rating_table = rating_table[rating_table['count'] == group_size]
            rating_table = rating_table.sort_values(by=['rating'],  ascending=False)
            rating_table = rating_table[:top_n_size]
            top_n_list = []
            for _, row in rating_table.iterrows():
                top_n_list.append(row[0])
            top_n_lists.append(top_n_list)
        top_n_lists_g.append(top_n_lists)   
        
#     print('lambda = ' + str(lambda_))
    threshold = 0.0
    avg_precisions = []
    avg_recalls = []
    for i in range(len(groups_n)):
        groups = groups_n[i]
        top_n_lists = top_n_lists_g[i]

        precisions = []
        recalls = []
        for j in (range(len(groups))):

            group = groups[j]
            top_n_list = top_n_lists[j]
            
            for k in range(len(group)):
                high_rating = 0
                for l in range(top_n_size):
                    uid = group[k]
                    tid = top_n_list[l]
                    t = test[test['uid'] == uid]
                    t = t[t['tid'] == tid]
                    if len(t) > 0 and t.iloc[0]['rating'] > threshold:
                        high_rating += 1

                precision = high_rating / top_n_size
                recall = high_rating / len(test[test['uid'] == uid])
                precisions.append(precision)
                recalls.append(recall)
            

        avg_precision = 0
        for precision in precisions:
            avg_precision += precision
        avg_precision /= len(precisions)
        avg_precisions.append(avg_precision)

        avg_recall = 0
        for recall in recalls:
            avg_recall += recall
        avg_recall /= len(recalls)
        avg_recalls.append(avg_recall)
        
    print(avg_precisions)
    print(avg_recalls)
    print('----------------------------------------') 
#     print(sum(avg_precisions) / len(avg_precisions))
#     print('----------------------------------------')

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=11.0), HTML(value='')))

[0.09090909090909091, 0.095, 0.1028225806451613, 0.10952380952380952, 0.11197916666666667, 0.11263736263736264, 0.121875, 0.1076388888888889, 0.1, 0.10625]
[0.0006677180772316298, 0.0006310696567713533, 0.0006248665535336963, 0.0006500348007285031, 0.0006557391284454328, 0.0006261677577253642, 0.0006628014948585261, 0.0005065330577391507, 0.000536338961276547, 0.0004483359526719708]
----------------------------------------
[0.10795454545454546, 0.10333333333333333, 0.11693548387096774, 0.11904761904761904, 0.1171875, 0.10989010989010989, 0.121875, 0.11805555555555555, 0.096875, 0.10625]
[0.0007201047812149167, 0.000609993935106595, 0.0006645127553375013, 0.0006829774246331477, 0.0006534583803170391, 0.0005985287267981985, 0.0006479544947100562, 0.000538660275683668, 0.000478393466998728, 0.0004483359526719708]
----------------------------------------
[0.11505681818181818, 0.10666666666666667, 0.11895161290322581, 0.12142857142857143, 0.1171875, 0.10989010989010989, 0.11875, 0.12152777777777778, 0.103125, 0.10625]
[0.0007662592759874774, 0.0006102432404706042, 0.0006585473156512572, 0.0006754359754476925, 0.0006421332710160433, 0.000550638299765192, 0.0005770749344849456, 0.0005489255298513612, 0.0005062216550040666, 0.0004483359526719708]
----------------------------------------
[0.14204545454545456, 0.12666666666666668, 0.1310483870967742, 0.13095238095238096, 0.12239583333333333, 0.10989010989010989, 0.11875, 0.11458333333333333, 0.09375, 0.10625]
[0.0009219882556171914, 0.0007071330346921334, 0.0007293347792521801, 0.000718691456885594, 0.0006591254388909924, 0.0005532475851921315, 0.0005770749344849456, 0.000501727663477503, 0.0004557862508296594, 0.0004483359526719708]
----------------------------------------
[0.16193181818181818, 0.14166666666666666, 0.1310483870967742, 0.14285714285714285, 0.12760416666666666, 0.11263736263736264, 0.11875, 0.09375, 0.090625, 0.075]
[0.00095500728267988, 0.0007608915284957737, 0.0007149305118983696, 0.0007757371477461698, 0.0007015602947731484, 0.0006059686076358506, 0.0005985058837182234, 0.00041572031359030467, 0.00043861592115932975, 0.00031269605215511866]
----------------------------------------
[0.19176136363636365, 0.175, 0.1532258064516129, 0.13095238095238096, 0.13020833333333334, 0.10164835164835165, 0.125, 0.09722222222222222, 0.084375, 0.08125]
[0.0011326284874637641, 0.000876770085563313, 0.0007904372058563211, 0.0006581515240530923, 0.0006457068617518985, 0.0005338254726599836, 0.0006354310076665714, 0.0004246575033101062, 0.000408862121882483, 0.0003557424400749502]
----------------------------------------
[0.22443181818181818, 0.22333333333333333, 0.18951612903225806, 0.1380952380952381, 0.14583333333333334, 0.11538461538461539, 0.1375, 0.10416666666666667, 0.103125, 0.09375]
[0.0012627531333713638, 0.0011262448401471617, 0.0009024278112730116, 0.0006612497441296385, 0.000796765888071432, 0.0006166294449420043, 0.0006925348947061031, 0.00040138733410060754, 0.000563672424401793, 0.00038099163966954483]
----------------------------------------
[0.23579545454545456, 0.23666666666666666, 0.21370967741935484, 0.17857142857142858, 0.16145833333333334, 0.1565934065934066, 0.153125, 0.09375, 0.1125, 0.0625]
[0.0013413839903939323, 0.001129898681822906, 0.0009907456367410786, 0.0008153486557572683, 0.000749377422928705, 0.0006986189062440557, 0.0006815971020189499, 0.00034386152168859835, 0.000572278094410253, 0.00021255447638950697]
----------------------------------------
[0.2585227272727273, 0.24, 0.20967741935483872, 0.17142857142857143, 0.14583333333333334, 0.1510989010989011, 0.128125, 0.0798611111111111, 0.084375, 0.025]
[0.0014750427503201415, 0.001148655125889007, 0.0009123291765741583, 0.0007761796700496832, 0.0006369525819626868, 0.0006210509386757641, 0.0005057576031641264, 0.00023271137231702322, 0.0003984158207996489, 9.78611579885497e-05]
----------------------------------------
[0.24289772727272727, 0.235, 0.1975806451612903, 0.15, 0.125, 0.11813186813186813, 0.11875, 0.0798611111111111, 0.04375, 0.03125]
[0.0012939802843198408, 0.001066933922975473, 0.0008315316841257312, 0.0006787896045713578, 0.0005561258102203451, 0.00047741880520177355, 0.0004962940576529987, 0.00024044961135488523, 0.0001539431047165066, 0.00012346931861570326]
----------------------------------------
[0.2159090909090909, 0.21, 0.1935483870967742, 0.1261904761904762, 0.10416666666666667, 0.10989010989010989, 0.1, 0.0763888888888889, 0.046875, 0.0125]
[0.0011215337021978392, 0.0009216779523558386, 0.0008146703496839902, 0.0005777120241481517, 0.0004420388050918769, 0.00043897684329294756, 0.0003684429471958405, 0.0002639146142296275, 0.00016602600742163172, 5.290073704636753e-05]
----------------------------------------

In [19]:
def dcg_at_k(r, k, method=0):
    r = np.asfarray(r)[:k]
    for i in range(len(r)):
        r[i] = 2**r[i] -1
    
    if r.size:
        if method == 0:
            return r[0] + np.sum(r[1:] / np.log2(np.arange(2, r.size + 1)))
        elif method == 1:
            return np.sum(r / np.log2(np.arange(2, r.size + 2)))
        else:
            raise ValueError('method must be 0 or 1.')
    return 0.


def ndcg_at_k(r, r_max, k, method=0):
    dcg_max = dcg_at_k(r_max, k, method)
    if not dcg_max:
        return 0.
    return dcg_at_k(r, k, method) / dcg_max

In [20]:
for lambda_ in tqdm(lambdas):
    top_n_size = 4
    top_n_lists_g = []
    for groups in groups_n:

        group_size = len(groups[0])
        top_n_lists = []

        for group in groups:
            rating_table = pd.DataFrame() 
            for member in group:
                prediction = svd[svd['uid'] == member].copy()
                if len(rating_table) == 0:
                    rating_table = prediction
                else:
                    rating_table = rating_table.set_index('tid').add(prediction.set_index('tid'), fill_value=0).reset_index()
            rating_table['rating'] /= group_size 
            rating_table['rating'] *= lambda_
            pop = pop_normalized.copy()
            pop['rating'] *= (1 - lambda_)
            rating_table = rating_table.set_index('tid').add(pop.set_index('tid'), fill_value=0).reset_index()
    #         rating_table = rating_table[rating_table['count'] == group_size]
            rating_table = rating_table.sort_values(by=['rating'],  ascending=False)
            rating_table = rating_table[:top_n_size]
            top_n_list = []
            for _, row in rating_table.iterrows():
                top_n_list.append(row[0])
            top_n_lists.append(top_n_list)
        top_n_lists_g.append(top_n_lists)   
        
#     print('lambda = ' + str(lambda_))
    threshold = 0.0
    avg_nDCGs = []
    for i in range(len(groups_n)):
        groups = groups_n[i]
        top_n_lists = top_n_lists_g[i]

        nDCGs = []
        for j in (range(len(groups))):

            group = groups[j]
            top_n_list = top_n_lists[j]
            
            for k in range(len(group)):
                truth_rating = []
                uid = group[k]
                for l in range(top_n_size):
                    tid = top_n_list[l]
                    t = test[test['uid'] == uid]
                    t = t[t['tid'] == tid]
                    if len(t) > 0:
                        truth_rating.append(t.iloc[0]['rating'])
                    else:
                        truth_rating.append(0)
                max_rating = test[test['uid']==uid].sort_values(by=['rating'],  ascending=False)['rating'].values[:top_n_size]
                nDCG = ndcg_at_k(truth_rating, max_rating, top_n_size, method=1)
                nDCGs.append(nDCG)  
                
        avg_nDCG = 0
        for nDCG in nDCGs:
            avg_nDCG += nDCG
        avg_nDCG /= len(nDCGs)
        avg_nDCGs.append(avg_nDCG)
        
    print(avg_nDCGs)
#     print('----------------------------------------')

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=11.0), HTML(value='')))

[0.0586478268084366, 0.06065483979406455, 0.06971823983987066, 0.07287515091189223, 0.07220911550448092, 0.07302546948073987, 0.08035019756386079, 0.07520135031289006, 0.06624504608660294, 0.07260698543298974]
[0.06691134018115222, 0.06598490398854086, 0.07562120794786828, 0.07595339450500724, 0.07472446026781399, 0.07153637347958187, 0.08139334397263735, 0.07990166439462859, 0.06620605849004019, 0.07260698543298974]
[0.0726172359205203, 0.06827714945298706, 0.07788570116999148, 0.07774056197003601, 0.07650238128341653, 0.07181101541222908, 0.08020386488251176, 0.08254389595921628, 0.06797199449992805, 0.07260698543298974]
[0.08535032019042621, 0.07621500580076482, 0.08313384481069881, 0.0813698857396534, 0.07862468606310523, 0.0727873138486039, 0.08025942280468328, 0.08056400807054355, 0.06564636281868544, 0.07316008913954414]
[0.09644872298418754, 0.08105389240674074, 0.0826173783355866, 0.08509877678207856, 0.07933308643601204, 0.07253334599959589, 0.07875576546077455, 0.07035987692743693, 0.06452252571800536, 0.05462359252984109]
[0.11486045928314476, 0.0981919451022042, 0.0935824062276103, 0.08477151986385695, 0.08056782107454101, 0.06541873351372755, 0.07678976834582442, 0.06790227112860725, 0.061581941835166056, 0.05430714597364463]
[0.13700948735700813, 0.12193927508056035, 0.11999989560152059, 0.08844152445468295, 0.07693128387828357, 0.06930468678332402, 0.08159435752001715, 0.06779894291014653, 0.06074405837505823, 0.060537021140817035]
[0.14554016353233526, 0.12020095387751513, 0.11707971440868799, 0.09555342625898587, 0.07528030247026744, 0.06923491283038835, 0.08480198251331052, 0.05579415373307731, 0.04925581760209011, 0.01803617985098003]
[0.14789675411629355, 0.11350603963087257, 0.10027404685993432, 0.07792323057404321, 0.059821945109361264, 0.06059879611890548, 0.07471165182300128, 0.03074576803032882, 0.035799972749869305, 0.010672368205316704]
[0.13914519592986166, 0.11446682975260847, 0.08905160466972145, 0.05920915325040692, 0.04477385589403368, 0.04862732823091141, 0.06775785855145211, 0.023901387993516602, 0.02484891432397163, 0.019045542824651856]
[0.12276276572950348, 0.1047057931931338, 0.08468092578006205, 0.05152776101301482, 0.03795704468076963, 0.04185122432601848, 0.04821827509379541, 0.018476342794123652, 0.026459407593586344, 0.011303826714966221]